<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>여행을 기록하다</title>
<link type="text/css" href="css/home.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon" />
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon" />
</head>
<body>
	<div th:replace="~{ common/logoBar.html :: logoBar}"></div>
	<div th:replace="~{ common/mainCategoryBar.html :: mainCategoryBar }"></div>
	<div id="mainContainer" class="container-fluid justify-content-center">
		<th:block th:if="${session.loginUser}">
			<div class="main_popup" th:if="${planCount > 0 && session.loginUser.grade != 'ADMIN'}">
				<div class="layer_cont">
					<div class="img_wrap">
						<th:block th:if="${session.loginUser.grade == 'PLANNER'}">
							확인하지 않은 신청글이&nbsp;<span style="color: red;">[[${planCount}]]</span>개 존재합니다.
						</th:block>
						<th:block th:if="${session.loginUser.grade == 'GENERAL'}">
							확인하지 않은 일정이&nbsp;<span style="color: red;">[[${planCount}]]</span>개 존재합니다.
						</th:block>
					</div>
					<div class="btn_wrap">
						<!-- 오늘 하루 보지 않기 --->
						<button class="btn_today_close popup_btn"><span>오늘 하루 보지 않기</span></button>
						<!-- 그냥 닫기 --->
						<button class="btn_close popup_btn">close</button>
					</div>
				</div>
			</div>
		</th:block>

		<div class="fs-2 my-3 ms-5">'여행지 TOP 5'의 플래너 만나러가기</div>
		<div class="local-container d-flex justify-content-center row-cols-1 row-cols-md-6">
			<div class="local-card position-relative shadow" th:each='l : ${lList}'>
				<input type=hidden th:value=${l.localNo}>
				<img class="local-card-img position-absolute" th:src="|https://drive.google.com/thumbnail?id=${l.imageRename}&sz=w1000|" th:alt="${l.localName}">
				<div class="medalDiv">
					<img class="medal position-absolute" th:if="${lStat.index == 0}" src="image/gMedal.png"></img>
					<img class="medal position-absolute" th:if="${lStat.index == 1}" src="image/sMedal.png"></img>
					<img class="medal position-absolute" th:if="${lStat.index == 2}" src="image/bMedal.png"></img>
				</div>
				<span class="local-card-text position-absolute fs-2 px-3">[[${l.localName}]]</span>
			</div>
		</div>

		<hr/>
		<h2 class="mx-5 my-3">TOP 5 플래너</h2>
		<!-- TOP N1 -->
		<div class="planner-container row-cols-1 row-cols-md-6 d-flex justify-content-center">
			<div class="planner-card position-relative shadow" th:each='pl : ${plList}'>
				<input type=hidden th:value=${pl.memberNo}>
				<img th:if="${pl.imageRename != null }" class="planner-card-img shadow position-absolute" th:src="|https://drive.google.com/thumbnail?id=${pl.imageRename}&sz=w1000|" th:alt="${pl.nickname}">
				<img th:if="${pl.imageRename == null }" class="planner-card-img shadow position-absolute" src="image/noProfile.png" alt="기본 프로필">
				<span class="planner-card-text position-absolute fs-4 px-3">[[${pl.nickname}]]</span>
				<div class="medalDiv">
					<img class="medal position-absolute" th:if="${plStat.index == 0}" src="image/gMedal.png"></img>
					<img class="medal position-absolute" th:if="${plStat.index == 1}" src="image/sMedal.png"></img>
					<img class="medal position-absolute" th:if="${plStat.index == 2}" src="image/bMedal.png"></img>
				</div>
			</div>
		</div>
		<!-- TOP N1 끝 -->
		<br/>
		<hr/>
		<div class="contatiner d-flex justify-content-center">
			<div class="goSchedule">
				<img class="goSchedule-img" th:src="|https://drive.google.com/thumbnail?id=${img.imageRename}&sz=w1000|" alt="일정 페이지 넘어가기" id='planImg'>
			</div>
		</div>
		<hr />
		<h2 class="mx-5 my-3">인기 많은 여행지</h2>
		<div class="place-container row-cols-1 row-cols-md-6 d-flex justify-content-center" id='topPlace'>
			<div class="place-card position-relative" th:each="p : ${pList}">
				<img th:src="|${p.imagePath}|" th:alt="|${p.placeName}|">
				<p>[[${p.placeName}]]</p>
				<input type="hidden" name="contentid" th:value="${p.placeNo}"/>
				<input type="hidden" name="contenttypeid" th:value="${p.contentTypeId}"/>
				<input type="hidden" name="areacode" th:value="${p.localNo}"/>
			</div>
		</div>
	</div>
	<div th:replace="~{ common/footer.html :: footer }"></div>

<script>
	// 지역 카드클릭시 플래너 페이지 이동
	const localCards = document.getElementsByClassName('local-card');
	for(const card of localCards){
		card.addEventListener('click', function(){
			 const localNo = this.children[0].value;
			 location.href="matchingMain.ma?localNo=" + localNo
		});
	}
	
	// 일정 이미지 클릭시 이동 함수
	document.getElementById('planImg').addEventListener('click', function(){
		location.href = 'planMain.pl';
	})
	
	// 플래너 이미지 클릭시 이동
	const plannerCards = document.getElementsByClassName('planner-card');
	for(const card of plannerCards){
		card.addEventListener('click', function(){
			 const plannerNo = this.children[0].value;
			 location.href="selectPlanner.ma?pNo=" + plannerNo + "&page=1";
		});
	}
	
	// top5 관광지 카드 클릭
	const placeCards = document.getElementsByClassName('place-card');
	for(const card of placeCards){
		card.addEventListener('click', function(){
			const contentid = this.children[2].value;
			const contenttypeid = this.children[3].value;
			const areacode = this.children[4].value;
			location.href = "placeDetail.pla?contentid=" + contentid + "&contenttypeid=" + contenttypeid + "&areacode=" + areacode;
		})
	}
	
	function updateReqStatus(){
		$.ajax({
			url:"updateReqStatus.mp",
			success: data=>{
				console.log(data)
			},
			error: data => console.log(data)
		})
	}
	
	var toggleMainPopup = function() {
		
		  /* 스토리지 제어 함수 정의 */
		  var handleStorage = {
		    // 스토리지에 데이터 쓰기(이름, 만료일)
		    setStorage: function (name, exp) {
		      // 만료 시간 구하기(exp를 ms단위로 변경)
		      var date = new Date();
		      date = date.setTime(date.getTime() + exp * 24 * 60 * 60 * 1000);

		      // 로컬 스토리지에 저장하기
		      // (값을 따로 저장하지 않고 만료 시간을 저장)
		      localStorage.setItem(name, date)
		    },
		    // 스토리지 읽어오기
		    getStorage: function (name) {
		      var now = new Date();
		      now = now.setTime(now.getTime());
		      // 현재 시각과 스토리지에 저장된 시각을 각각 비교하여
		      // 시간이 남아 있으면 true, 아니면 false 리턴
		      return parseInt(localStorage.getItem(name)) > now
		    }
		  };
		  
		  
		  // 쿠키 읽고 화면 보이게
		  if (handleStorage.getStorage("today")) {
		    $(".main_popup").removeClass("on");
		  } else {
		    $(".main_popup").addClass("on");
		  }

		  // 오늘하루 보지 않기 버튼
		  $(".main_popup").on("click", ".btn_today_close", function () {
		    // 로컬 스토리지에 today라는 이름으로 1일(24시간 뒤) 동안 보이지 않게
		    handleStorage.setStorage("today", 1);
		    $(this).parents(".main_popup.on").removeClass("on");
		  });

		  // 일반 닫기 버튼
		  $(".main_popup").on("click", ".btn_close", function () {
		    $(this).parents(".main_popup.on").removeClass("on");
		  });
		}
	
	window.onload = () => {
		updateReqStatus();
		toggleMainPopup();
	}
</script>
</body>
</html>