<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="css/community/communityWrite.css" rel="stylesheet">
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<style>


</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	
	
	
	<!-- 미완성 -->
	<!-- 미완성 -->
	<!-- 미완성 -->
	
	
	
	<div class="text-center" style="padding-top:60px; padding-bottom:100px;">
		<b style="font-size:70px;">글 쓰기</b>
	</div>
	
	<form action="updateBoard.bo" method="POST" enctype="multipart/form-data">
		<div class="row filter-bar">
			<div class="col-4"></div>
			<div class="col-3"></div>
			<div class='col-1'>
				<select class="form-select" aria-label="Sort by" name="localName" style="width:100px;">
		               <option value="서울">서울</option>
		               <option value="부산" th:selected="${b.localName == '부산'}">부산</option>
		               <option value="대구" th:selected="${b.localName == '대구'}">대구</option>
		               <option value="인천" th:selected="${b.localName == '인천'}">인천</option>
		               <option value="광주" th:selected="${b.localName == '광주'}">광주</option>
		               <option value="대전" th:selected="${b.localName == '대전'}">대전</option>
		               <option value="울산" th:selected="${b.localName == '울산'}">울산</option>
		               <option value="세종" th:selected="${b.localName == '세종'}">세종</option>
		               <option value="경기" th:selected="${b.localName == '경기'}">경기</option>
		               <option value="강원" th:selected="${b.localName == '강원'}">강원</option>
		               <option value="충북" th:selected="${b.localName == '충북'}">충북</option>
		               <option value="충남" th:selected="${b.localName == '충남'}">충남</option>
		               <option value="경북" th:selected="${b.localName == '경북'}">경북</option>
		               <option value="경남" th:selected="${b.localName == '경남'}">경남</option>
		               <option value="전북" th:selected="${b.localName == '전북'}">전북</option>
		               <option value="전남" th:selected="${b.localName == '전남'}">전남</option>
		               <option value="제주" th:selected="${b.localName == '제주'}">제주</option>
				</select>
			</div>
			<div class='col-1'>
				<select class="form-select" aria-label="Sort by" name="generalType" style="width:100px;">
		               <option selected>말머리</option>
		               <option value="WITH" th:selected="${b.generalType == 'WITH'}">동행</option>
		               <option value="GIVE" th:selected="${b.generalType == 'GIVE'}">양도</option>
		               <option value="REVIEW" th:selected="${b.generalType == 'REVIEW'}">후기</option>
				</select>
			</div>
			<div class="col-3"></div>
		</div>
		<br><br>
	
		<div id='inputDiv'>
			<div id='reviewTitle'>
				<h3>제목</h3>
				<input type='text' name='boardTitle' id='title' placeholder='제목을 입력하세요' class='reviewInput' th:value="${b.boardTitle}" required>
			</div>
			<div id='reviewContent'>
				<h3>내용</h3>
				<textArea name='boardContent' id='content' placeholder='내용을 입력하세요' class='reviewInput' required>[[${b.boardContent}]]</textArea>
			</div>
			<div id='imgReview'>
				<h3>사진</h3>
				<div id='image' th:if='${iList != null}'>
					<th:block  th:each='i : ${iList}'>
						<img th:src="|https://drive.google.com/thumbnail?id=${i.imageRename}&sz=w1000|" th:alt="${i.imageOriginName}" class='reImg'>
						<button class='deleteButton btn' type='button'  th:id='${i.imageRename}'>
							<span  class="beforeDel">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
									<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
								</svg>
							</span>
							<span class="afterDel">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
									<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
								</svg>
							</span>
						</button>
						<input type='hidden' value='none' name='delImg'>
					</th:block>
				</div>
				<input type='file' accept="image/*" multiple id="files" name='files' class="form-control">
			</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-end'>
				<a href="community.bo">
					<button class="btn btn-primary" id='insert'>등록</button>
				</a>
			</div>
		</div>
		<input type="hidden" value="GENERAL" name="boardType">
		<input type="hidden" th:value="${b.boardNo}" name="boardNo">
	</form>
	
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	
	
	
	
	
	<script>
		window.onload=()=>{
			const genT = document.getElementsByName('generalType')[0];
			const title = document.getElementById("title");
			const content = document.getElementById("content");
			const button = document.getElementById("insert");
			
			button.onclick = e =>{
				if(genT.value == 'all'){
					alert("말머리를 선택해 주세요");
					genT.focus();
					e.preventDefault();
				} else if(title.value.trim() == ''){
					alert('제목을 입력해주세요');
					title.focus();
					e.preventDefault();
				} else if(content.value.trim() == ''){
					alert("내용을 입력해주세요.");
					content.focus();
					e.preventDefault();
				}
			}
			
			const delBtns = document.getElementsByClassName('deleteButton');
			for(const btn of delBtns){
				btn.addEventListener('click', function(){
					const hidden = this.nextElementSibling;
					const img = this.previousElementSibling;
					this.innerHTML = "";
					if(hidden.value == 'none'){
						this.innerHTML = '<span class="backDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/></svg></span>';
						hidden.value = this.id;
						img.style.opacity = '0.5';
					}else{
						this.innerHTML = '<span  class="beforeDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/></svg></span>'
											+ '<span class="afterDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/></svg></span>';
						hidden.value = "none";
						img.style.opacity = '1';
					}
					
				})
			}
		}
	</script>
	
	
</body>
</html>