<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="css/community/commuList.css" rel="stylesheet">
<style>






</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	
	<div class="text-center" style="padding-top:60px;">
		<b style="font-size:70px;">전국</b>
	</div>
	
	<div id='content'>
		<div id="content1-div" class="container">
			<input id="search-com" type="text" placeholder="검색어를 입력해주세요">
			<img class="x-icon" alt="" src="image/Search.png">
		</div>
		
	</div>
	
	
	<div id="sidebar">
		<div class="arrow" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
			<div class="arrow-top"></div>
			<div class="arrow-bottom"></div>
		</div>
<!-- > 모양 -->

<!-- 사이드 바 -->
		<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="staticBackdropLabel">지역</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<p>- 서울</p>
				<p>- 경기도</p>
				<p>- 충청남도</p>
				<p>- 강원도</p>
				<p>- 부산</p>
				<p>- 경상남도</p>
			</div>
		</div>
	</div> 
	
	
	
	
	
	
	
	
	
	<div id="commu-select" class="row">
		<div class="col-3">
			<div style="border-radius:9999px; background-color:#96caf0;">
				전체
			</div>
		</div>
		<div class="col-3"><div>동행</div></div>
		<div class="col-3"><div>양도</div></div>
		<div class="col-3"><div>후기</div></div>
	</div>
	
	
	
	
	<div class="container py-4">
		<div class="bd-example-snippet bd-code-snippet">
			<div class="bd-example">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="80px">글 번호</th>
							<th>글 제목</th>
							<th width="130px">작성자</th>
							<th width="130px">작성일자</th>
							<th width="80px">조회수</th>
	          			</tr>
	          		</thead>
	         		<tbody id="text-test">
	         		<!-- 이거 반복 -->
	          			<tr th:each=" b : ${bList}">
	            			<td>[[${ b.boardId }]]</td>
	            			<td>[[${ b.boardTitle }]]</td>
	            			<td>[[${ b.nickName }]]</td>
	            			<td>[[${ b.boardModifyDate }]]</td>
	            			<td>[[${ b.boardCount }]]</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td><a href="commuSelect.bo">커뮤 상세보기 임시링크</a></td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr>
	          				<td>1</td>
	          				<td>2</td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          		</tbody>
	        	</table>
	       	</div>
		</div>
        <br>
		<div class="text-center">페이징 1 2 3 4 5</div>
		<!-- 페이징 -->
		<a href="commuWrite.bo">커뮤 글쓰기로 이동 임시</a>
		<a href="ask.no">문의사항 이동 임시</a>
		<a href="notice.no">공지사항 이동 임시</a>

		<div th:if="${ session.loginUser != null}">
	       	<button class="btn btn-outline-success" type="button" onclick="location.href='writeBoard.bo'">WRITE BOARD</button>
	    </div>
	</div>
	
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	
	<script>
		window.onload=()=>{
			const sideMenus = document.getElementsByClassName('offcanvas-body')[0].children;
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseover',function(){
					sideP.style.fontSize = 'large';
					sideP.style.textDecoration = 'underline';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseout',function(){
					sideP.style.fontSize = 'medium';
					sideP.style.textDecoration = 'none';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('click',function(){
					console.log(this.innerText.split(' ')[1]);
					//location.href= 클릭한 것으로 구분
				});
			}
			
			const categories = document.getElementsByClassName("col-3");
			for(const cate of categories){
				cate.addEventListener('mouseover', function(){
					cate.children[0].style.borderRadius = '9999px';
					cate.children[0].style.backgroundColor = '#96caf0';
				});
				cate.addEventListener('mouseout', function(){
					cate.children[0].style.borderRadius = '0';
					cate.children[0].style.backgroundColor = 'white';
				});
/* 				if(${categorySelect} != null){
					if(${categorySelect} == cate.children[0].innerText){
						cate.children[0].style.borderRadius = '9999px';
						cate.children[0].style.backgroundColor = '#96caf0';
						
						선택되있는 카테고리에 동그라미 표시해두려고
						
					}
				} */
			}
			
			
		}
	</script>
	
	
	
</body>
</html>