@charset "UTF-8";
#content{text-align:center;width:50%;
		min-width:1000px;
		margin:30px auto;}

#commu-select{padding-top:20px; padding-bottom:20px;
			  width:500px; margin-left:auto; margin-right:auto;
			  display:flex; text-align:center;
			  max-width:500px;}
.bd-example-snippet{display:flex; justify-content:center;}
.bd-example{width:80%;}
.search {
  	flex: 1;
  	border-radius: 9999px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 12px 16px;
  	gap: 8px;
}
.search-filter {
  	width: 327px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 24px;
}
#search-com{flex: 1;
  	border-radius: 9999px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 12px 16px;
  	gap: 8px;
  	width:80%;
  	border:none;
  	outline:none;
  	}
.filter-bar {
  	align-self: stretch;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
  	margin-bottom: 16px;
}
#search{border:none;outline:none;}
.col-3:hover{cursor:pointer;}
#text-test>tr{height:50px;}
.offcanvas-body:hover{cursor:pointer;}
.col-3>div{font-size:25px;}
#content1-div{display:flex;width:35%;border-radius:9999px; border:0.5px solid lightgray; align-items:center;}
#sidebar{width:51px; height: 51px; left: 33px; top: 260px; position: fixed; z-index: 50;}
#offcanvasWithBothOptions{height:280px; top:340px; left:33px; width:250px; border:5px solid #2f6598;}
.arrow {
  cursor: pointer;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
}

.arrow-top, .arrow-bottom {
  background-color: #96caf0;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #2f6598;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}
.disabled{cursor: not-allowed; pointer-events: none;}
a:hover{cursor:pointer;}
.page-item a{color:black;}
.review-text{
	width: 900px;
	margin: 10px auto;
}
#goReview{
	margin-bottom: 40px;
}
#goReview {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#goReview {
  --primary-color: #111;
  --hovered-color: #96caf0;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

#goReview p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

#goReview::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.1s ease-out;
}

#goReview p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "글 쓰기";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.03s ease-out;
}

#goReview:hover::after {
  width: 100%;
}

#goReview:hover p::before {
  width: 100%;
}

#goReview:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

#goReview svg {
  color: var(--primary-color);
  transition: 0.1s;
  position: relative;
  width: 15px;
}