<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사진 관리</title>
<link href="css/admin/contentImgManage.css" rel="stylesheet" type="text/css">
<link href="css/admin/adminAll.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- 파비콘 -->
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<!-- 끝 -->
</head>
<body>
	<div th:replace="~{common/adminHeader :: header}"></div>
	<div class="container-box" style="margin: 0; padding: 0px; width: 100%;">
		<div class="board-list">	
			<ul class="board-list-ul">
				<li><a href="dashBoard.ad">대시보드</a></li>
				<li><a href="memberManage.ad">회원 관리</a></li>
				<li><a href="questManage.ad">문의사항 관리</a></li>
				<li><a href="gradeManage.ad">등급 관리</a></li>
				<li><a href="noticeManage.ad">공지사항 관리</a></li>
				<li><a href="pointManage.ad">포인트 관리</a></li>
				<li><a href="boardManage.ad">게시판 관리</a></li>
				<li><a href="hashTagManage.ad">해시태그 관리</a></li>
				<li class="select-board"><a href="contentImgManage.ad">사진 관리</a></li>
				<li><a href="planManage.ad">일정 관리</a></li>
				<li><a href="otherManage.ad">기타 관리</a></li>
			</ul>
			<div class="out-adminPage">
				<a class="out-text" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
  <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
  <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
</svg>&nbsp; 관리자 페이지 나가기</a>
			</div>
		</div>
		<div class="board-main">
			<div class="title-board display-4">
				<h1 style="display: inline; font-size: 2.5rem !important;">사진 관리</h1>
			</div>
			<div class="container-top display-flex">
				<div class="list-container">
					<div class="title-div">
						<span class="title-text">지역 대표 사진</span>
					</div>
					<div class="content-list">
						<div class="display-inline-block" th:each="l : ${list}">
							<div class="card margin-right" style="width: 14rem;">
								<div style="height: 200px; width: 100%;">
								  	<img th:src="|https://drive.google.com/thumbnail?id=${l.imageRename}&sz=w1000|" class="card-img-top" height="200" width="100">
								</div>
							  	<div class="card-body" style="padding: 8px;">
							    	<p class="card-text" style="text-align: center;">[[${l.localName}]]</p>
							  	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="change-container">
					<div class="local-img-change">
						<div class="title-div">
							<span class="title-text">지역 대표 사진 변경</span>
						</div>
						<div class="content-change">
							<form action="insertLocalImg.ad" method="POST" enctype="multipart/form-data">
								<div class="change-select display-inline-block">
								  	<select class="form-select box-shadow-none" name="localNo" id="localNo" aria-label="Floating label select example">
								    	<option value="-" selected disabled>지역 선택</option>
								    	<option value="1">서울</option>
								    	<option value="6">부산</option>
								    	<option value="4">대구</option>
								    	<option value="2">인천</option>
								    	<option value="5">광주</option>
								    	<option value="3">대전</option>
								    	<option value="7">울산</option>
								    	<option value="8">세종</option>
								    	<option value="31">경기</option>
								    	<option value="32">강원</option>
								    	<option value="33">충북</option>
								    	<option value="34">충남</option>
								    	<option value="35">경북</option>
								    	<option value="36">경남</option>
								    	<option value="37">전북</option>
								    	<option value="38">전남</option>
								    	<option value="39">제주</option>
								  	</select>
								</div>
								<div class="mb-3 change-file display-inline-block">
								  	<input class="form-control box-shadow-none" type="file" id="formFile" name="formFile">
								</div>
								<div class="button">
									<button class="button-border select-button">변경</button>
								</div>
							</form>
						</div>
					</div>
					<div class="plan-img-change">
						<div class="title-div">
							<span class="title-text">일정 대표 사진 변경</span>
						</div>
						<div class="content-change">
							<form action="insertPlanImg.ad" method="POST" enctype="multipart/form-data">
								<div class="change-select display-inline-block">
								  	<select class="form-select box-shadow-none" name="planNo" id="planNo" aria-label="Floating label select example">
								    	<option value="-" selected disabled>선택</option>
								    	<option value="1">일정</option>
								  	</select>
								</div>
								<div class="mb-3 change-file display-inline-block">
								  	<input class="form-control box-shadow-none" type="file" id="planFormFile" name="planFormFile">
								</div>
								<div class="button">
									<button class="button-border select-button">변경</button>
								</div>
							</form>
						</div>
					</div>
					<div class="plan-list-content" style="margin-top: 20px;">
						<div class="title-div">
							<span class="title-text">일정 대표 사진</span>
						</div>
						<div class="content-list">
							<div class="display-inline-block">
								<div class="card margin-right" style="width: 14rem;" th:unless="${i == null}">
									<div style="height: 200px; width: 100%;">
									  	<img th:src="|https://drive.google.com/thumbnail?id=${i.imageRename}&sz=w1000|" class="card-img-top card-img-bottom" height="200" width="100">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
		window.onload = () => {	
			//console.log([[${i}]]);
			
			/* 지역 이미지 추가 전 분류 선택 - 로 할 시 */
			const form = document.getElementsByClassName('select-button')[0];
			form.addEventListener('click', e =>{
				const type = document.getElementById('localNo');
				const file = document.getElementById('formFile');
				
				if(type.value == '-'){
					alert('분류를 선택하세요.');
					e.preventDefault();
				} else if(file.value == ''){
					alert('사진을 선택하세요.');
					e.preventDefault();
				}
				
			});
			
			const pForm = document.getElementsByClassName('select-button')[1];
			pForm.addEventListener('click', e =>{
				const type = document.getElementById('planNo');
				const file = document.getElementById('planFormFile');
				
				if(type.value == '-'){
					alert('분류를 선택하세요.');
					e.preventDefault();
				} else if(file.value == ''){
					alert('사진을 선택하세요.');
					e.preventDefault();
				}
				
			});
			
			const listLi = document.getElementsByClassName('board-list-ul')[0].children;
			const current = document.getElementsByClassName('select-board')[0];
			
			for(const li of listLi){
				const a = li.children[0];
				li.addEventListener('mouseenter', function() {
					current.style.transitionDuration = '300ms';
					li.style.transitionDuration = '300ms';
					if(li.className != 'select-board'){
						current.className = '';
						this.className = 'select-board';
						
					}
				});
				
				li.addEventListener('mouseleave', function(){
					li.style.transitionDuration = '300ms';
					if(li.className == 'select-board' && li != current){
						current.className = 'select-board';
						this.className = '';
					}
				});
				
			}
			
		}
	</script>
</body>
</html>