<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>해시태그 관리</title>
<link href="css/admin/hashTagManage.css" rel="stylesheet" type="text/css">
<link href="css/admin/adminAll.css" rel="stylesheet" type="text/css"/>
<!-- 파비콘 -->
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<!-- 끝 -->
</head>
<body>
	<div th:replace="~{common/adminHeader :: header}"></div>
	<div class="container-box" style="margin: 0; padding: 0px; width: 100%;">
		<div class="board-list">
			<ul class="board-list-ul">
				<li><a href="dashBoard.ad">대시보드</a></li>
				<li><a href="memberManage.ad">회원 관리</a></li>
				<li><a href="questManage.ad">문의사항 관리</a></li>
				<li><a href="gradeManage.ad">등급 관리</a></li>
				<li><a href="noticeManage.ad">공지사항 관리</a></li>
				<li><a href="pointManage.ad">포인트 관리</a></li>
				<li><a href="boardManage.ad">게시판 관리</a></li>
				<li class="select-board"><a href="hashTagManage.ad">해시태그 관리</a></li>
				<li><a href="contentImgManage.ad">사진 관리</a></li>
				<li><a href="otherManage.ad">기타 관리</a></li>
			</ul>
			<div class="out-adminPage">
				<a class="out-text" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
  <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
  <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
</svg>&nbsp; 관리자 페이지 나가기</a>
			</div>
		</div>
		<div class="board-main">
			<div class="title-board display-4">
				<h1 style="display: inline; font-size: 2.5rem !important;">해시태그 관리</h1>
			</div>
			<div class="container-all display-flex">
				<div class="list-content">
					<div class="title-div">
						<span class="title-text">해시태그 목록</span>
					</div>
					<div class="content-list">
						<div class="list-table rounded-2 list-table">
							<table class="table-user table">
								<thead>
									<tr style="border-bottom: 1px solid #96caf0; border-bottom-width: medium;">
										<th style="width: 15%;">번호</th>
										<th style="width: 52%;">이름</th>
										<th style="width: 18%;">분류</th>
										<th style="width: 15%;">삭제</th>
									</tr>
								</thead>
							  	<tbody>
							  		<tr class="tr-user" th:each="t : ${tList}">
							      		<td>[[${t.tagNo}]]</td>
							      		<td>[[${t.tagName}]]</td>
							      		<td th:if="${t.tagType == 'GENERAL'}">일반</td>
							      		<td th:if="${t.tagType == 'PERSON'}">인원</td>
										<td><div class="button-border box-size del">삭제</div></td>
							  		</tr>
							  	</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="more-content">
					<div class="more-top-content display-flex">
						<div class="more-top-general-content">
							<div class="title-div">
								<span class="title-text">일반 해시태그 사용 Top 3</span>
							</div>
							<div class="top-table rounded-2">
								<table class="table-user table">
									<thead>
										<tr style="border-bottom: 1px solid #96caf0; border-bottom-width: medium;">
											<th style="width: 20%;">순위</th>
											<th style="width: 40%;">이름</th>
											<th style="width: 25%;">사용 횟수</th>
										</tr>
									</thead>
								  	<tbody>
								  		<tr class="tr-user" th:each="g : ${gList}">
								      		<td>[[${g.rownum}]]</td>
								      		<td>[[${g.tagName}]]</td>
								      		<td>[[${g.count}]]</td>
								  		</tr>
								  	</tbody>
								</table>
							</div>
						</div>
						<div class="more-top-person-content">
							<div class="title-div">
								<span class="title-text">인원 해시태그 사용 Top 3</span>
							</div>
							<div class="top-table rounded-2">
								<table class="table-user table">
									<thead>
										<tr style="border-bottom: 1px solid #96caf0; border-bottom-width: medium;">
											<th style="width: 20%;">순위</th>
											<th style="width: 40%;">이름</th>
											<th style="width: 25%;">사용 횟수</th>
										</tr>
									</thead>
								  	<tbody>
								  		<tr class="tr-user" th:each="p : ${pList}">
								      		<td>[[${p.rownum}]]</td>
								      		<td>[[${p.tagName}]]</td>
								      		<td>[[${p.count}]]</td>
								  		</tr>
								  	</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="more-add-content">
						<div class="title-div">
							<span class="title-text">해시태그 추가</span>
						</div>
						<div class="hashtag-add">
							<div class="form-add">
								<form action="insertHashTag.ad" method="POST">
									<table class="table-user table point-table">
										<thead>
											<tr style="border-bottom: 1px solid #96caf0; border-bottom-width: medium;">
												<th style="width: 40%;">해시태그 명</th>
												<th style="width: 30%;">분류</th>
												<th style="width: 30%;">추가</th>
											</tr>
										</thead>
									  	<tbody>
									  		<tr class="tr-user">
									      		<td><input type="text" name="tagName" id="tagName" placeholder="해시태그"></td>
									      		<td>
									      			<div class="add-div-select display-inline-block">
														<select class="form-select add-select box-shadow-none" name="tagType" id="tagType" aria-label="Default select example">
															<option value="-" id="none" selected disabled>분류</option>
															<option value="PERSON">인원</option>
															<option value="GENERAL">일반</option>
														</select>
													</div>
									      		</td>
												<td><button class="button-border select-button">추가</button></td>
									  		</tr>
									  	</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" id="modal-cancel">
		<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content rounded-3 shadow">
      			<div class="modal-body p-4 text-center">
        			<h3 class="mb-0">해시태그를 삭제하시겠습니까?</h3>
        			<p class="mb-0">계정 비밀번호 입력 후 '확인' 클릭 시 선택한 해시태그가 삭제됩니다.</p>
        			<div style="height:10px;"></div>
        			<input type="password" id="modalInput">
        			<div style="width: 100%; height: 15px;" id="modalHide"></div>
      			</div>
      			<div class="modal-footer flex-nowrap p-0">
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="cancel-ok">
        				<strong>확인</strong>
        			</button>
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal" id="cancel-no">취소</button>
      			</div>
    		</div>
  		</div>
	</div>
	
	<form id="delHashTagForm" method="POST">
		<input type="hidden" name="tagNo" id="tagNo"/>
	</form>
	
	<script th:inline="javascript">
		window.onload = () => {
			
			/* 해시태그 추가 전 분류 선택 - 로 할 시 */
			const form = document.getElementsByClassName('select-button')[0];
			form.addEventListener('click', e =>{
				const type = document.getElementById('tagType');
				const name = document.getElementById('tagName');
				
				if(type.value == '-'){
					alert('분류를 선택하세요.');
					e.preventDefault();
				} else if (name.value == ''){
					alert('해시태그 이름을 입력하세요.');
					e.preventDefault();
				}
			});
			
			/* 해시태그 삭제 */
			const btns = document.getElementsByClassName('del');
			const delform = document.getElementById('delHashTagForm');
			let tagNo;
			for(const btn of btns){
				btn.addEventListener('click', function(){
					const tr = this.parentElement.parentElement;
					tagNo = tr.children[0].innerText;
					
					$('#modal-cancel').modal('show');
					
				});
			}
			
			document.getElementById('cancel-ok').addEventListener('click', function(){
				const modalId = document.getElementById('modalInput').value;
				if(modalId != ''){
					$.ajax({
						type: 'POST',
						url: 'matchPwd.ad',
						data: {
							pwd: modalId
						},
						success: data => {
							if(data == 'success'){
								document.getElementById('tagNo').value = tagNo;
								delform.action = "deleteHashTag.ad";
								delform.submit();
							} else{
								document.getElementById('modalHide').style.color = 'red';
								document.getElementById('modalHide').style.paddingLeft = '5px';
								document.getElementById('modalHide').style.fontSize = '15px';
								document.getElementById('modalHide').innerText = '비밀번호가 일치하지 않습니다.';
							}
						}
					});
				} else{
					document.getElementById('modalHide').style.color = 'red';
					document.getElementById('modalHide').style.paddingLeft = '5px';
					document.getElementById('modalHide').style.fontSize = '15px';
					document.getElementById('modalHide').innerText = '비밀번호를 입력하세요.';
				}
			});
			
			document.getElementById('modalInput').addEventListener('focus', function(){
				document.getElementById('modalHide').innerText = '';
			});
			
			document.getElementById('cancel-no').addEventListener('click', function(){
				document.getElementById('modalInput').value = '';
			});
		
			
			
			const listLi = document.getElementsByClassName('board-list-ul')[0].children;
			const current = document.getElementsByClassName('select-board')[0];
			
			for(const li of listLi){
				const a = li.children[0];
				li.addEventListener('mouseenter', function() {
					current.style.transitionDuration = '300ms';
					li.style.transitionDuration = '300ms';
					if(li.className != 'select-board'){
						current.className = '';
						this.className = 'select-board';
						
					}
				});
				
				li.addEventListener('mouseleave', function(){
					li.style.transitionDuration = '300ms';
					if(li.className == 'select-board' && li != current){
						current.className = 'select-board';
						this.className = '';
					}
				});
				
			}
			
		}
	</script>
</body>
</html>