<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 관리</title>
<link href="css/admin/noticeManage.css" rel="stylesheet" type="text/css">
<link href="css/admin/adminAll.css" rel="stylesheet" type="text/css"/>
</head>
<body style="min-width: 1820px;">
	<div th:replace="~{common/adminHeader :: header}"></div>
	<div class="container-box" style="margin: 0; padding: 0px; width: 100%;">
		<div class="board-list">
			<ul class="board-list-ul">
				<li><a href="dashBoard.ad">대시보드</a></li>
				<li><a href="userManage.ad">회원 관리</a></li>
				<li><a href="questManage.ad">문의사항 관리</a></li>
				<li><a href="gradeManage.ad">등급 관리</a></li>
				<li class="select-board"><a>공지사항 관리</a></li>
				<li><a href="pointManage.ad">포인트 관리</a></li>
				<li><a href="boardManage.ad">게시판 관리</a></li>
				<li><a href="hashTagManage.ad">해시태그 관리</a></li>
			</ul>
			<div class="out-adminPage">
				<a class="out-text" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
  <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
  <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
</svg>&nbsp; 관리자 페이지 나가기</a>
			</div>
		</div>
		<div class="board-main">
			<div class="title-board display-4">
				<h1 style="display: inline; font-size: 2.5rem !important;">공지사항 관리</h1>
			</div>
			<div class="notice-container display-flex">
				<div class="notice-list">
					<div class="title-div">
						<span class="title-text">공지사항 목록</span>
					</div>
					<div class="content-notice">
						<div class="search-div">
							<div class="button-div display-inline-block">
								<button type="button" class="btn btn-outline-secondary content-add" id="content-add">작성하기</button>
							</div>
							<div class="search-div-keyword display-inline-block">
								<div class="input-group mb-3">
								  	<input type="text" class="form-control box-shadow-none search-input" id="keyword" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="검색어 입력">
								  	<button class="btn btn-outline-secondary box-shadow-none search-box" type="button" id="search">검색</button>
								</div>
							</div>
						</div>
						<div class="notice-table rounded-2 list-table">
							<table class="table-user table table-hover">
								<thead>
									<tr style="border-bottom: 1px solid #96caf0; border-bottom-width: medium;">
										<th style="width:10%;">번호</th>
										<th style="width:50%;">제목</th>
										<th style="width:10%;">이름</th>
										<th style="width:15%;">날짜</th>
									</tr>
								</thead>
							  	<tbody class="table_hover">
							  		<tr class="tr-user">
							      		<td>2</td>
							      		<td><span class="overflow-ell">스크립트 고쳐야 됨</span></td>
							      		<td>관리자</td>
							      		<td>2024.07.22</td>
							  		</tr>
							  		<tr class="tr-user">
							      		<td>1</td>
							      		<td><span class="overflow-ell">공지사항을 작성할 때 길이 범위가 넘어가면 뒤쪽은 ...처리가 돼서 줄여지게 된다.</span></td>
							      		<td>관리자</td>
							      		<td>2024.07.18</td>
							  		</tr>
							  	</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="detail-notice">
					<div class="title-div">
						<span class="title-text">공지사항 작성</span>
						<span class="title-text-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
								<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
							</svg>
						</span>
					</div>
					<form action="insertNotice.ad" method="POST">
						<div class="notice-detail">
							<div class="title-div-title">
								<span class="title-text-title">제목</span>
							</div>
							<div class="form-floating title-detail-div">
						  		<textarea class="form-control box-shadow-none title-textarea" id="write-title" style="width:100%; height: 100%; overflow-x: auto; overflow-y: none;" placeholder="제목을 작성하세요."></textarea>
							</div>
							<div class="title-div-content">
								<span class="title-text-content">내용</span>
							</div>
							<div class="form-floating content-detail-div">
							  	<textarea class="form-control box-shadow-none title-textarea" id="write-content" style="width:100%; height: 100%;" placeholder="내용을 작성하세요."></textarea>
							</div>
							<div class="reg-div">
								<button class="btn btn-outline-secondary content-reg">등록</button>
							</div>
						</div>
					</form>
				</div>
				
				<div class="detail-notice">
					<div class="title-div">
						<span class="title-text">공지사항 수정</span>
						<span class="title-text-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
								<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
							</svg>
						</span>
					</div>
					<form action="updateNotice.ad" method="POST">
						<div class="notice-detail">
							<div class="title-div-title">
								<span class="title-text-title">제목</span>
							</div>
							<div class="form-floating title-detail-div">
						  		<textarea class="form-control box-shadow-none title-textarea" id="modify-title" style="width:100%; height: 100%; overflow-x: auto; overflow-y: none;"></textarea>
							</div>
							<div class="title-div-content">
								<span class="title-text-content">내용</span>
							</div>
							<div class="form-floating content-detail-div">
							  	<textarea class="form-control box-shadow-none title-textarea" id="modify-content" style="width:100%; height: 100%; overflow-x: auto; overflow-y: none;"></textarea>
							</div>
							<div class="reg-div">
								<button class="btn btn-outline-secondary content-reg">수정하기</button>
							</div>
						</div>
					</form>
				</div>
				
				<div class="detail-notice">
					<div class="title-div">
						<span class="title-text">공지사항</span>
						<span class="title-text-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
								<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
							</svg>
						</span>
					</div>
					<div class="notice-detail">
						<div class="title-div-title">
							<span class="title-text-title">제목</span>
						</div>
						<div class="form-floating title-detail-div">
					  		<textarea class="form-control box-shadow-none title-textarea" id="notice-title" style="width:100%; height: 100%; overflow-x: auto; overflow-y: none;" readonly>공지사항 제목을 작성하였습니다.</textarea>
						</div>
						<div class="title-div-content">
							<span class="title-text-content">내용</span>
						</div>
						<div class="form-floating content-detail-div">
						  	<textarea class="form-control box-shadow-none title-textarea" id="notice-content" style="width:100%; height: 100%;" readonly>공지사항 내용을 작성하였습니다.</textarea>
						</div>
						<div class="reg-div">
							<button type="button" class="btn btn-outline-secondary content-reg" id="go-edit">수정하기</button>
							<div style="width: 40px;" class="display-inline-block"></div>
							<button type="button" class="btn btn-outline-secondary content-reg" id="go-del">삭제하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" id="modal">
		<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content rounded-3 shadow">
      			<div class="modal-body p-4 text-center">
        			<h3 class="mb-0">공지사항 게시글을 삭제하겠습니까?</h3>
        			<p class="mb-0">확인 클릭 시 선택한 공지사항 게시글이 삭제됩니다.</p>
      			</div>
      			<div class="modal-footer flex-nowrap p-0">
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="ok">
        				<strong>네</strong>
        			</button>
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
      			</div>
    		</div>
  		</div>
	</div>
	
	<script th:inline="javascript">
		window.onload = () => {
			/* 작성/수정 폼 안보이게 */
			const forms = document.getElementsByClassName('detail-notice');
			for(const form of forms){
				form.style.display = 'none';
			}
			
			
			/* 상세 폼 보이게 */
			const tds = document.querySelectorAll('td');
			const boxs = document.getElementsByClassName('button-border');
			let boardNo;
			for(const td of tds){
				td.addEventListener('click', function(){
					const tr = this.parentElement;
					boardNo = tr.children[0].innerText;
					console.log(this);
					const children = this.children[0];
					console.log(children);
					if(children != 'button-border' || children == null){
						forms[0].style.display = 'none';
						forms[1].style.display = 'none';
						forms[2].style.display = 'block';
					}
					
				});
			}
			
			
			/* 공지사항 작성 폼 */
			document.getElementById('content-add').addEventListener('click', function(){
				forms[0].style.display = 'block';
				forms[1].style.display = 'none';
				forms[2].style.display = 'none';
			});
			
			
			/* 공지사항 수정 폼 */
			const goEdit = document.getElementById('go-edit');
			const title = document.getElementById('notice-title').innerText;
			const content = document.getElementById('notice-content').innerText;
			goEdit.addEventListener('click', function(){
				document.getElementById('modify-title').innerText = title;
				document.getElementById('modify-content').innerText = content;
				
				forms[0].style.display = 'none';
				forms[1].style.display = 'block';
				forms[2].style.display = 'none';
				
			});
			
			/* 공지사항 삭제 */
			const del = document.getElementById('go-del');
			del.addEventListener('click', function(){
				$('#modal').modal('show');
			});
			
			document.getElementById('ok').addEventListener('click', function(){
				location.href="deleteNotice.ad?bId=" + boardNo;
			});
			
			
			/* 폼 닫기 */			
			const iconDiv = document.getElementsByClassName('title-text-icon');
			
			for(const div of iconDiv){
				const svgs = div.children;
				for(const svg of svgs){
					svg.addEventListener('click', function(){
						const box = this.parentElement.parentElement.parentElement;
						box.style.display = 'none';
					});
				}
			}
			
			
			/* 글 검색 */
			const search = document.getElementById('search');
			const keyword = document.getElementById('keyword');
			search.addEventListener('click', function(){
				if(keyword.value != ''){
					location.href="searchNotice.ad?search=" + keyword.value;					
				}
			});
		
			
			
			const listLi = document.getElementsByClassName('board-list-ul')[0].children;
			const current = document.getElementsByClassName('select-board')[0];
			
			for(const li of listLi){
				const a = li.children[0];
				li.addEventListener('mouseenter', function() {
					current.style.transitionDuration = '300ms';
					li.style.transitionDuration = '300ms';
					if(li.className != 'select-board'){
						current.className = '';
						this.className = 'select-board';
						
					}
				});
				
				li.addEventListener('mouseleave', function(){
					li.style.transitionDuration = '300ms';
					if(li.className == 'select-board' && li != current){
						current.className = 'select-board';
						this.className = '';
					}
				});
				
			}
			
		}
	</script>
</body>
</html>