<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace='com.finalproject.triprecord.member.model.dao.MemberMapper'>

	<select id="login" resultType="Member">
		select *
	  	from member
	  	where member_drop = 'N' and member_id = #{memberId}
		and status = 'Y'
	</select>
	
	
	<insert id="enrollMember">
		insert into member
		values(seq_member.nextval, #{memberId}, #{memberPwd}, #{memberName}, #{nickname}, #{phone}, #{email}, sysdate, default, default, default, default)
	</insert>
	
	<insert id="enrollPlanner">
		insert into planner
		values(#{memberNo}, #{localNo}, null, #{plaReqContent}, #{sIntroContent})
	</insert>
	
	<select id="checkId" resultType="_int">
		select count(*)
		from member
		where member_id = #{id}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>