<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace='com.finalproject.triprecord.place.model.dao.PlaceMapper'>

	<select id="getLocalList" resultType='Local'>
		select * 
		from local
	</select>
	
	<select id="checkPlace">
		select count(*)
		from reco_place
		where place_no = #{placeNo} and local_no = #{localNo}
	</select>
	
	<select id="selectPlace" resultType='Place'>
		select *
		from reco_place
		left join image on (place_no = image_ref_no)
		where place_no = #{placeNo} and local_no = #{localNo}
	</select>
	
	<insert id="insertPlace">
		insert into reco_place
			values(#{placeNo}, #{localNo}, #{contentTypeId}, default, default, #{placeName})
	</insert>
	
	<update id="updatePlaceCount">
		update reco_place
			set place_count = place_count + 1
			where place_no = #{placeNo} and local_no = #{localNo} and content_type_id = #{contentTypeId}
	</update>
	
	<select id="selectReviewList" resultType='Review'>
		SELECT *
		FROM review r
		LEFT JOIN member m ON r.member_no = m.member_no
		LEFT JOIN image i ON m.member_no = i.image_ref_no
		WHERE r.REV_REF_TYPE = 'PLACE' AND r.REV_REF_NO = #{contentid} AND (i.image_ref_type = 'MEMBER' OR i.image_ref_type IS NULL) and review_status = 'Y'
		ORDER BY r.review_no DESC
	</select>
	
	<insert id="insertMapper" useGeneratedKeys="true">
		<selectKey keyProperty="reviewNo" order="BEFORE" resultType="_int">
			select seq_review.nextval from dual
		</selectKey>
		insert into review
			values(#{reviewNo}, #{memberNo}, #{reviewTitle}, #{reviewContent}, #{reviewStar}, #{revRefType}, #{revRefNo}, default)
	</insert>
	
	<insert id="insertImage">
		insert all
		<foreach collection="list" item="item" separator=" ">
			into image values(new_image_id, #{item.imagePath}, #{item.imageOriginName}, #{item.imageRename}, #{item.imageThum}, #{item.imageRefType}, #{item.imageRefNo})
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectReview" resultType='Review'>
		SELECT *
		FROM review r
		LEFT JOIN member m ON r.member_no = m.member_no
		LEFT JOIN image i ON m.member_no = i.image_ref_no
		WHERE review_no = #{rId} and review_Status = 'Y' AND (i.image_ref_type = 'MEMBER' OR i.image_ref_type IS NULL)
	</select>
	
	<select id="selectImage" resultType='Image'>
		select *
		from Image
		where image_ref_type = 'REVIEW' and image_ref_no = #{rId}
	</select>
	
	<update id="deleteReview">
		update review
		set review_status = 'N'
		where review_no = #{rId} and rev_ref_type = 'PLACE'
	</update>
	
	<update id="updateReview">
		update review
		set review_title = #{reviewTitle}, review_content = #{reviewContent}, review_star = #{reviewStar}
		where review_no = #{reviewNo}
	</update>
	
	<delete id="delImg">
		delete from Image
		<foreach collection="list" item="i" separator=",">
			where Image_rename = #{i.del}
		</foreach>
	</delete>
	
	<select id="ckeckImage" resultType='_int'>
		select count(*)
			from image
			where image_ref_no = #{contentid} and image_ref_type = 'RECOPLACE'
	</select>
	
	<insert id="insertPlaImage">
		insert into image
		values(new_image_id, #{imagePath}, #{imageOriginName}, #{imageOriginName}, 1, #{imageRefType}, #{imageRefNo})
	</insert>
	
	<select id="checkName" resultType='_int'>
		select count(*)
		from reco_place
		where place_no = #{placeNo} and place_name = #{placeName}
	</select>
	
	<update id="updatePlaName">
		update reco_place
		set place_name = #{placeName}
		where place_no = #{placeNo}
	</update>
</mapper>
