<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace='com.finalproject.triprecord.place.model.dao.PlaceMapper'>

	<select id="getLocalList" resultType='Local'>
		select * 
		from local
	</select>
	
	<select id="checkPlace">
		select count(*)
		from reco_place
		where place_no = #{contentid} and local_no = #{areaCode}
	</select>
	
	<select id="selectPlace" resultType='Place'>
		select *
		from place
		where place_no = #{contentid} and local_no = #{areaCode}
	</select>
	
	<insert id="insertPlace">
		insert into place
			values(#{contentid}, #{areaCode}, default, default);
	</insert>
	
	<update id="updatePlaceCount">
		update place
			set place_count = place_count + 1
			where place_no = #{contentid} and local_no = #{areaCode}
	</update>
	
	<select id="selectReviewList" resultType='Review'>
		select *
		from review
		where REV_REF_TYPE = 'PLACE' and REV_REF_NO = #{contentid}
	</select>
</mapper>
