@charset "UTF-8";

#bigTitle {
	width: 50%;
	min-width: 900px;
	margin: 60px auto;
	font-size: 40px;
	color: #317DB5;
	font-weight: 700;
}

#loginDiv {
	width: 60%;
	min-width: 1000px;
	margin: 100px auto;
	margin-bottom: 170px;
}
input{
	border: 1px solid #B7B7B7;
	border-radius: 10px;
	width: 100%;
	height: 35px;
	padding-left: 10px;
}
.inputDiv{
	margin: 30px;
}
#searchPwd:hover {
	cursor: pointer;
}

#searchId:hover {
	cursor: pointer;
}

.loginText {
	font-size: 25px;
	font-weight: 600;
}

#loginButton {
	background: none;
	border: 2px solid #96CAF0;
	color: #96CAF0;
	width: 80px;
	font-weight: blod;
	margin: 10px 0;
	margin-top: 30px;
}

#loginButton:hover {
	background: #96CAF0;
	border: 2px solid #96CAF0;
	color: #fff;
	font-weight: 600;
}
.aTag{
	color: black;
	text-decoration: none;
}
#id-write{
		width:500px;
		position:relative;
		color:red;
		height:20px;
}
#pwd-write{
		width:500px;
		position:relative;
		color:red;
		height:20px;
}