<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>장소 상세 페이지&#x1F978;</title>
<link type="text/css" href='css/recoPlace/placeDetail.css' rel="stylesheet">
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
   <div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<!-- 타이틀 영역 -->
	<div class="div" style='background-image: url("image/insadong.jpg");'>
		<div class="text-content-title">
			<b class="title">인사동</b>
			<div class="subtitle">도심 속에서 낡지만 귀중한 전통의 물건들이 교류되는 소중한 공간</div>
		</div>
	</div>
	<!-- 타이틀 영역 -->

	<!-- 내용 출력 -->
	<div id='content'>
		<div class='row container'>
			<div class='col-6 text-start placeInfo'>
				별점 : ★★★★★
			</div>
			<div class='col-6 text-start placeInfo'>조회수 : 2,331</div>
		</div>
		<div id='address' class='placeInfo text-start'>
			서울특별시 종로구 인사동길 62(관훈동) 일대
		</div>
		<div class='text-start' id='placeContent'>
			인사동은 도심 속에서 낡지만 귀중한 전통의 물건들이 교류되는 소중한 공간이다. 인사동에는 큰 대로를 중심으로 사이사이 골목들이 미로처럼 얽혀 있다. 이 미로 속에는 화랑, 전통공예점, 고미술점, 전통찻집, 전통음식점, 카페 등이 밀집되어 있다. 특히 인사동의 가게들은 저마다의 독특한 멋으로 젊은이들은 물론 중년층에게까지 매우 인기가 많다. 그 중에서도 화랑은 인사동의 맥을 이어온 중심이다. 이 곳에는 100여 개의 화랑이 밀집되어 있는데 한국화에서 판화, 조각전까지 다양한 전시회를 감상할 수 있다. 대표적인 화랑으로는 민중미술의 중심역할을 했던 학고재, 재능있는 작가들의 터전이 되었던 가나화랑, 가나아트센터 등이 있다. 만약 인사동의 유명한 화랑만을 골라서 편하게 구경하고 싶다면 미술관 순화버스 를 이용해보자. 저렴한 가격으로 유명 화랑 10여곳을 둘러볼 수 있다. <br />화랑과 함께 인사동 거리를 메우고 있는 것은 바로 전통 찻집과 음식점이다. 처음에는 찾기가 힘들지만, 산책하듯이 천천히 골목골목을 둘러보면 매우 재미있다. 그 중에서 대표적인 명소를 꼽는다면 전통찻집 귀천이 있다. 귀천(歸天)은 고 천상병(千祥炳) 시인의 부인이 운영하는 전통찻집으로 내부는 매우 작지만 당시 시인의 책과 사진을 접할 수 있는 곳이다. 이곳은 모과차가 가장 향기가 좋아 인기인데, 지금도 가끔 유명 인사들이 다녀가는 곳이다.인사동은 매주 토/일요일마다 차 없는 거리로 지정되어 시민과 함께 하는 문화공간으로 다시 태어났다. 이날은 기존 가게는 물론 거리에는 전통공연과 전시는 물론 엿장수, 사주와 궁합을 보는 할아버지가 함께 한다. 이 속에서 즐거움을 찾는 이들은 바로 각국에서 몰려든 외국인들이다. 한국의 전통문화를 보기 위해 찾아든 외국인 관광객들은 전통가게에서 고물건을 보거나 고미술을 산다. 그리고 거리에 있는 엿을 사고 전통 파전을 먹는다. 도심에서 느끼는 전통의 멋에 빠진 외국인들의 모습도 많이 볼 수 있다.<br>
		</div>
		
		<div id="placeImg" class="container">
			<h2>관련 사진 &#x1F4F8;</h2>
		    <div class="image-gallery" id="image-gallery">
		        <div class="image-container"><img src="image/insadong1.jpg" alt="Image 1"></div>
		        <div class="image-container"><img src="image/insadong2.jpg" alt="Image 2"></div>
		        <div class="image-container"><img src="image/insadong3.jpg" alt="Image 3"></div>
		        <div class="image-container"><img src="image/insadong4.jpg" alt="Image 4"></div>
		    </div>
		</div>
		
		
	</div>
	<!-- 내용 출력 -->
	
	<!-- 이미지 모달 -->
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="imageModalLabel">사진</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	                    <div class="carousel-indicators">
	                        <!-- Indicators will be inserted here by JavaScript -->
	                    </div>
	                    <div class="carousel-inner">
	                        <!-- Carousel items will be inserted here by JavaScript -->
	                    </div>
	                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Previous</span>
	                    </button>
	                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Next</span>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 이미지 모달 -->
	
	<div class="line-div"></div>

	<!-- 후기 영역 -->
	<div class='review-text' id='title'>'인사동' 후기 &#x1F4DD;</div>
	<div class='review-text' id='goReview' onclick='location.href="placeReviewWrite.pla"'>
		후기 작성 하러 가기 >>
	</div>
	
	<div class="card-grid">
		<div class="testimonial-card">
			<div class="text-heading">
				<div class="reviewTitle">서울 가면 꼭 가보고싶던 인사동~</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">주말에 서울로 여행을 갔다 오면서 꼭 가보고싶던 인사동을 방문하였습니다. 전통 찻집과 다양한 복합 문화 공간이 많아 반나절정도 재밌게 돌아다닌것 같습니다</div>
					<div class="starReview">★★★★★</div>
				</div>
			</div>
		</div>
		<div class="testimonial-card">
			<div class="text-heading">
				<div class="reviewTitle">“Quote”</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">Title</div>
					<div class="starReview">Description</div>
				</div>
			</div>
		</div>
		<div class="testimonial-card">
			<div class="text-heading">
				<div class="reviewTitle">“Quote”</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">Title</div>
					<div class="starReview">Description</div>
				</div>
			</div>
		</div>
		<div class="testimonial-card">
			<div class="text-heading">
				<div class="reviewTitle">“Quote”</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">Title</div>
					<div class="starReview">Description</div>
				</div>
			</div>
		</div>
		<div class="testimonial-card">
			<div class="text-heading">
				<div class="reviewTitle">“Quote”</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">Title</div>
					<div class="starReview">Description</div>
				</div>
			</div>
		</div>
		<div class="testimonial-card">
			<div class="text-heading">
				<div class="reviewTitle">“Quote”</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">Title</div>
					<div class="starReview">Description</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 후기 영역 -->
	
	<!-- 후기 작성 로그인 확인 모달 -->
	<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="ModalLabel">로그인 확인</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        로그인 후 이용이 가능한 서비스입니다
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline-primary" id='loginView'>로그인</button>
	        <button type="button" class="btn" data-bs-dismiss="modal">닫기</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 후기 작성 로그인 확인 모달 -->
	
	
	<!-- 후기 영역 -->
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
	        const gallery = document.getElementById('image-gallery');
	        const images = gallery.querySelectorAll('.image-container img');
	        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
	        const carouselIndicators = document.querySelector('.carousel-indicators');
	        const carouselInner = document.querySelector('.carousel-inner');
	
	        images.forEach((img, index) => {
	            const indicator = document.createElement('button');
	            indicator.type = 'button';
	            indicator.setAttribute('data-bs-target', '#carouselExampleIndicators');
	            indicator.setAttribute('data-bs-slide-to', index);
	            if (index === 0) indicator.classList.add('active');
	            carouselIndicators.appendChild(indicator);
	
	            const carouselItem = document.createElement('div');
	            carouselItem.classList.add('carousel-item');
	            if (index === 0) carouselItem.classList.add('active');
	
	            const carouselImage = document.createElement('img');
	            carouselImage.src = img.src;
	            carouselImage.classList.add('d-block', 'w-100');
	            carouselItem.appendChild(carouselImage);
	
	            carouselInner.appendChild(carouselItem);
	
	            img.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(index);
	            });
	        });
	
	        if (images.length > 2) {
	            for (let i = 2; i < images.length; i++) {
	                images[i].parentElement.style.display = 'none';
	            }
	
	            const moreImages = document.createElement('div');
	            moreImages.classList.add('more-images');
	            moreImages.innerText = `더보기`;
	            gallery.appendChild(moreImages);
	
	            moreImages.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(2);
	            });
	        }
	        
	        /* document.getElementById('goReview').addEventListener('click', ()=>{
	        	const reviewModal = document.getElementById('Modal');
	        	$('#Modal').modal('show');
	        }); */
	        
	       /*  document.getElementById('loginView').addEventListener('click', ()=>{
	        	location.href = 'placeReviewWrite.pla';
	        }) */
	        
	        
	       const reviewCard = document.getElementsByClassName('testimonial-card');
	       Array.from(reviewCard).forEach(card =>{
	    	   card.addEventListener('click', () =>{
		    	   location.href = 'placeReviewDetail.pla'
		       })
	       })
	    });
	</script>
	
</body>
</html>