<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 남기기</title>
<link type='text/css' href='css/recoPlace/placeReviewUpdate.css'
	rel='stylesheet'>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<!-- 타이틀 영역 -->
	<div class="div" id='imageTitle' th:if="${p.imagePath == null}" style='background-image: url(image/noimageBackground.png)'>
		<div class="text-content-title">
			<span><b class="title" id='title'>"[[${p.placeName}]]" 후기</b></span>
		</div>
	</div>
	<div class="div" id='imageTitle' th:if="${p.imagePath != null}" th:style='|background-image: url(${p.imagePath})|'> 
		<div class="text-content-title">
			<span><b class="title" id='title'>"[[${p.placeName}]]" 후기</b></span>
		</div>
	</div>
	<!-- 타이틀 영역 -->

	<!-- form 영역 -->
	<form action="updatePlaReview.pla" method='POST' enctype="multipart/form-data" id='reviewForm'>
		<div id='inputDiv'>
			<div id='reviewTitle'>
				<h3>리뷰 제목</h3>
				<input type='text' name='reviewTitle' id='title' placeholder='제목을 입력하세요' class='reviewInput' required th:value="${r.reviewTitle}">
				<input type='hidden' name='reviewNo' th:value='${r.reviewNo}' id='reviewNo'>
				<input type='hidden' name='revRefNo' th:value='${contentid}' id='contentid'>
				<input type='hidden' name='contenttypeid' th:value='${contenttypeid}' id='contenttypeid'>
				<input type='hidden' name='page' th:value='${page}'>
				<input type='hidden' name='areacode' th:value='${areacode}'>
			</div>
			<div id='starReview'>
				<input type='hidden' name='reviewStar' value='0' id='reviewStar' >
				<div id='starDiv'>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
				</div>
			</div>
			<div id='reviewContent'>
				<h3>리뷰 내용</h3>
				<textArea name='reviewContent' id='content' placeholder='내용을 입력하세요' class='reviewInput' required style="white-space:pre-wrap;">[[${r.reviewContent}]]</textArea>
			</div>
			<div id='imgReview'>
				<h3>리뷰 사진</h3>
				<div id='image' th:if='${list != null}'>
					<th:block  th:each='i : ${list}'>
						<img th:src="|https://drive.google.com/thumbnail?id=${i.imageRename}&sz=w1000|" th:alt="${i.imageOriginName}" class='reImg'>
						<button class='deleteButton btn' type='button'  th:id='${i.imageRename}'>
							<span  class="beforeDel">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
									<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
								</svg>
							</span>
							<span class="afterDel">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
									<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
								</svg>
							</span>
						</button>
						<input type='hidden' value='none' name='delImg'>
					</th:block>
				</div>
				<input type='file' accept="image/*" multiple id="files" name='files' class="form-control">
			</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-end'>
				<button type='button' class="btn btn-primary" id='insert'>수정</button>
			</div>
		</div>
	</form>
	<!-- form 영역 -->

	<script th:inline='javascript'>
		document.addEventListener('DOMContentLoaded', function() {
			// 제목/내용 미입력시 폼제출 안됌
			document.getElementById('insert').addEventListener('click', ()=>{
				const title = document.getElementById('title');
				const content = document.getElementById('content');
				const reviewStar = document.getElementsByName('reviewStar')[0];
				
				if(title.value == ""){
					alert("제목을 입력해주세요.");
					title.focus();
				}else if(content.value == ""){
					alert("내용을 입력해주세요.");
					content.focus();
				}else if(reviewStar.value == 0){
					alert("별점을 등록해주세요.");
				}else{
					document.getElementById('reviewForm').submit();
				}
			})
			
			
			// 초기 이벤트 리스너 추가
            addStarClickListeners();
			
			const delBtns = document.getElementsByClassName('deleteButton');
			for(const btn of delBtns){
				btn.addEventListener('click', function(){
					const hidden = this.nextElementSibling;
					const img = this.previousElementSibling;
					this.innerHTML = "";
					//console.log(hidden);
					/*console.log(this);
					console.log(img); */
					if(hidden.value == 'none'){
						this.innerHTML = '<span  class="backDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/></svg></span>';
						hidden.value = this.id;
						img.style.opacity = '0.5';
					}else{
						this.innerHTML = '<span  class="beforeDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/></svg></span>'
											+ '<span class="afterDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/></svg></span>';
						hidden.value = "none";
						img.style.opacity = '1';
					}
					
				})
			}
			
			
		})
		
		// 별점 등록하기
		function addStarClickListeners() {
			// 별 이미지
			const stars = document.querySelectorAll('.star');
			
			// hidden 파라미터
			const paramStar = document.getElementById('reviewStar');
			//console.log(paramStar.value);
			
			stars.forEach((star, index) => {
				star.addEventListener('click', e =>{
					paramStar.value = index +1;
					changeStarDiv(index);
				})
			})
		}
		
		// 별점 이미지변경 함수
		function changeStarDiv (index){
			// 별 div
			const starDiv = document.getElementById('starDiv');
			starDiv.innerHTML = "";
			
			let starHTML = '';
            for (let i = 0; i < 5; i++) {
                if (i <= index) {
                    starHTML += "<img src='image/star.png' class='star'/>";
                } else {
                    starHTML += "<img src='image/noStar.png' class='star'/>";
                }
            }
            starDiv.innerHTML = starHTML;
            
			// 새로운 별 요소들에 이벤트 리스너 다시 추가
            addStarClickListeners();
		}
	</script>



	<div th:replace="~{ common/footer.html :: footer }"></div>
</body>
</html>