<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>장소 상세 페이지&#x1F978;</title>
<link type="text/css" href='css/recoPlace/placeDetail.css' rel="stylesheet">
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
   <div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<!-- 타이틀 영역 -->
	<div class="div" id='imageTitle'>
		<div class="text-content-title">
			<span><b class="title" id='title'></b></span>
			<div class="subtitle" id='subTitle'></div>
		</div>
	</div>
	<!-- 타이틀 영역 -->

	<!-- 내용 출력 -->
	<div id='content'>
		<div class='row container'>
			<div class='col-6 text-start placeInfo'>
				<th:bolck th:if='${p.placeStar == 0}'>
					별점 : 
					<img src="image/noStar.png" th:each='i : ${#numbers.sequence(0, 4)}' class='star'>
					&nbsp;&nbsp;[[${p.placeStar}]]
				</th:bolck>
				<th:bolck th:if='${p.placeStar > 0 && p.placeStar < 1.5}'>
					별점 : 
					<img src="image/star.png" class='star'>
					<img src="image/noStar.png" th:each='i : ${#numbers.sequence(0, 3)}'class='star'>
					&nbsp;&nbsp;[[${p.placeStar}]]
				</th:bolck>
				<th:bolck th:if='${p.placeStar >= 1.5 && p.placeStar < 2.5}'>
					별점 : 
					<img src="image/star.png" class='star' th:each='i : ${#numbers.sequence(0, 1)}'>
					<img src="image/noStar.png" th:each='i : ${#numbers.sequence(0, 2)}' class='star'>
					&nbsp;&nbsp;[[${p.placeStar}]]
				</th:bolck>
				<th:bolck th:if='${p.placeStar >= 2.5 && p.placeStar < 3.5}'>
					별점 : 
					<img src="image/star.png" class='star' th:each='i : ${#numbers.sequence(0, 2)}'>
					<img src="image/noStar.png" th:each='i : ${#numbers.sequence(0, 1)}' class='star'>
					&nbsp;&nbsp;[[${p.placeStar}]]
				</th:bolck>
				<th:bolck th:if='${p.placeStar >= 3.5 && p.placeStar < 4.5}'>
					별점 : 
					<img src="image/star.png" class='star' th:each='i : ${#numbers.sequence(0, 3)}'>
					<img src="image/noStar.png" class='star'>
					&nbsp;&nbsp;[[${p.placeStar}]]
				</th:bolck>
				<th:bolck th:if='${p.placeStar >= 4.5 && p.placeStar <= 5}'>
					별점 : 
					<img src="image/star.png" class='star' th:each='i : ${#numbers.sequence(0, 4)}'>
					&nbsp;&nbsp;[[${p.placeStar}]]
				</th:bolck>
			</div>
			<div class='col-6 text-start placeInfo'>조회수 : [[${p.placeCount}]]</div>
		</div>
		<div class='row contatiner' id='extraInfo'></div>
		<div id='address' class='placeDetail text-start'></div>
		<div class='text-start' id='placeContent'></div>
		
		<div id="placeImg" class="container">
			<h2>관련 사진 &#x1F4F8;</h2>
		    <div class="image-gallery" id="image-gallery">
		        <div class="image-container"><img src="image/insadong1.jpg" alt="Image 1"></div>
		        <div class="image-container"><img src="image/insadong2.jpg" alt="Image 2"></div>
		        <div class="image-container"><img src="image/insadong3.jpg" alt="Image 3"></div>
		        <div class="image-container"><img src="image/insadong4.jpg" alt="Image 4"></div>
		    </div>
		</div>
		
		
	</div>
	<!-- 내용 출력 -->
	
	<!-- 이미지 모달 -->
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="imageModalLabel">사진</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	                    <div class="carousel-indicators">
	                        <!-- Indicators will be inserted here by JavaScript -->
	                    </div>
	                    <div class="carousel-inner">
	                        <!-- Carousel items will be inserted here by JavaScript -->
	                    </div>
	                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Previous</span>
	                    </button>
	                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Next</span>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 이미지 모달 -->
	
	<div class="line-div"></div>

	<!-- 후기 영역 -->
	<div class='review-text' id='retitle'>'인사동' 후기 &#x1F4DD;</div>
	<div class='review-text' id='reviewDiv'>
		<button onclick='location.href="placeReviewWrite.pla"' id='goReview'>
		  <p>후기 작성</p>
		  <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="4" >
		    <path stroke-linecap="round"  stroke-linejoin="round"  d="M14 5l7 7m0 0l-7 7m7-7H3" ></path>
		  </svg>
		</button>
	</div>
	
	<div class="card-grid">
		<div class="testimonial-card" th:each='r : ${list}' th:if='${list != null && !list.isEmpty()}'>
			<div class="text-heading">
				<div class="reviewTitle">[[${r.reviewTitle}]]</div>
			</div>
			<div class="avatar-block">
				<img class="avatar-icon" alt="" src="image/noProfile.png">
				<div class="info">
					<div class="card-title">[[${r.reivewContent}]]</div>
					<div class="starReview">★[[${r.reviewStar}]]</div>
				</div>
			</div>
		</div>
		<div th:if='${list == null} or ${list.isEmpty()}' id='rText'>
			<hr>
			<p>아직 작성된 후기가 없어요. 소중한 경험을 공유해주세요 :)</p>
		</div>
	</div>
	<!-- 후기 영역 -->
	
	<!-- 후기 작성 로그인 확인 모달 -->
	<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="ModalLabel">로그인 확인</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        로그인 후 이용이 가능한 서비스입니다
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline-primary" id='loginView'>로그인</button>
	        <button type="button" class="btn" data-bs-dismiss="modal">닫기</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 후기 작성 로그인 확인 모달 -->
	
	
	<!-- 후기 영역 -->
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const params = new URLSearchParams(window.location.search);
			const contentid = params.get('contentid');
			const contenttypeid = params.get('contenttypeid');
			const areaCode = params.get('areacode');
	        
	        /* document.getElementById('goReview').addEventListener('click', ()=>{
	        	const reviewModal = document.getElementById('Modal');
	        	$('#Modal').modal('show');
	        }); */
	        
	       /*  document.getElementById('loginView').addEventListener('click', ()=>{
	        	location.href = 'placeReviewWrite.pla';
	        }) */
	        
	        detailInfo(contentid, contenttypeid);
	        
	    });
		
		// 추가 정보 영역
		const extraInfo = document.getElementById('extraInfo');
		
		
		
		// 컨텐츠 상세 조회 함수
		function detailInfo(contentid, contenttypeid){
			$.ajax({
				url:'placeInfo.pla',
				type: 'GET',
				data: {contentid : contentid, contenttypeid : contenttypeid},
				success: data =>{
					//console.log(data);
					const item = data.response.body.items.item[0];
					
					const title = document.getElementById('title');
					title.innerHTML = item.title;
					
					/* const subTitle = document.getElementById('subTitle');
					subTitle.innerHTML = item.overview.split(".")[0]; */
					
					const imageTitle = document.getElementById('imageTitle');
					if(item.firstimage === ""){
						imageTitle.style.backgroundImage = 'url(image/noimageBackground.png)'
					}else{
						imageTitle.style.backgroundImage = 'url(' + item.firstimage + ')';
					}
					
					const address = document.getElementById('address');
					address.innerHTML = item.addr1 + item.addr2 + " / 우편번호 : " + item.zipcode;
					
					const placeContent = document.getElementById('placeContent');
					placeContent.innerHTML = item.overview;
					
					// 추가 정보
					// 홈페이지
					if(item.homepage !== ""){
						const homepage = document.createElement('div');
						homepage.className = 'col-4 text-start placeDetail'
						homepage.innerHTML = '홈페이지 : ' + item.homepage;
						extraInfo.append(homepage);
					}
					
					// 전화번호
					if(item.tel !== ""){
						const tel = document.createElement('div');
						tel.className = 'col-4 text-start placeDetail'
						tel.innerHTML = '전화번호 : ' + item.tel;
						extraInfo.append(tel);
					}
				},
				error: data => console.log(data)
			})
		}
		
		// 후기 상세 함수
		function clickReviewCard(){
			const reviewCard = document.getElementsByClassName('testimonial-card');
		       Array.from(reviewCard).forEach(card =>{
		    	   card.addEventListener('click', () =>{
			    	   location.href = 'placeReviewDetail.pla'
			       })
		       })
		}
		
		
		// 이미지 모달 함수
		function imageModal(){
			const gallery = document.getElementById('image-gallery');
	        const images = gallery.querySelectorAll('.image-container img');
	        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
	        const carouselIndicators = document.querySelector('.carousel-indicators');
	        const carouselInner = document.querySelector('.carousel-inner');
	
	        images.forEach((img, index) => {
	            const indicator = document.createElement('button');
	            indicator.type = 'button';
	            indicator.setAttribute('data-bs-target', '#carouselExampleIndicators');
	            indicator.setAttribute('data-bs-slide-to', index);
	            if (index === 0) indicator.classList.add('active');
	            carouselIndicators.appendChild(indicator);
	
	            const carouselItem = document.createElement('div');
	            carouselItem.classList.add('carousel-item');
	            if (index === 0) carouselItem.classList.add('active');
	
	            const carouselImage = document.createElement('img');
	            carouselImage.src = img.src;
	            carouselImage.classList.add('d-block', 'w-100');
	            carouselItem.appendChild(carouselImage);
	
	            carouselInner.appendChild(carouselItem);
	
	            img.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(index);
	            });
	        });
	
	        if (images.length > 2) {
	            for (let i = 2; i < images.length; i++) {
	                images[i].parentElement.style.display = 'none';
	            }
	
	            const moreImages = document.createElement('div');
	            moreImages.classList.add('more-images');
	            moreImages.innerText = `더보기`;
	            gallery.appendChild(moreImages);
	
	            moreImages.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(2);
	            });
	        }
		}
	</script>
	
</body>
</html>