<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 상세 페이지</title>
<link type="text/css" href='css/recoPlace/placeReviewDetail.css' rel="stylesheet">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<!-- 타이틀 영역 -->
	<div class="div" id='imageTitle'>
		<div class="text-content-title">
			<span><b class="title" id='title'></b></span>
		</div>
	</div>
	<!-- 타이틀 영역 -->
	
	<!-- 글 출력 영역 -->
	<div id='outputDiv'>
		<div id='reviewTitle'>
			<input type='hidden' name='replyNo' value=''>
			<h2>[[${r.reviewTitle}]]</h2>
		</div>
		<div id='starAndProfile' class='container row'>
			<div id='starReview' class='col-6 text-start'>
				<input type='hidden' name='reviewStar' value='0' id='reviewStar' >
				<div id='starDiv'>
					<img src="image/star.png" class='star'/>
					<img src="image/star.png" class='star'/>
					<img src="image/star.png" class='star'/>
					<img src="image/star.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
				</div>
			</div>
			<div id='profile' class='col-6 text-end justify-content-end'>
				<div id='profileImg'>
					<img src='image/profile.png'/>
				</div>
				<div>[[${r.nickname}]]</div>
			</div>
		</div>
		<hr>
		<div id='imgReview'  th:if="${list != null}">
			<div id="placeImg" class="container">
				<h3>&#x1F4F8;</h3>
			    <div class="image-gallery" id="image-gallery" th:each='i:${list}'>
			        <div class="image-container"><img th:src="|https://drive.google.com/thumbnail?id=${i.imageRename}|" alt="${i.imageOriginName}"></div>
			    </div>
			</div>
		</div>
		<div id='reviewContent'>
			<p>[[${r.reviewContent}]]</p>
		</div>
		<hr>
		<div class='d-grid gap-2 d-md-flex justify-content-md-center' id='listButton'>
			<button class="button" th:onclick="|location.href='placeDetail.pla?page=${page}&contentid=${contentid}&contenttypeid=${contenttypeid}&areacode=${areaCode}'|" style='margin: 0px auto; margin-top: 20px;'>
			  <!-- <svg class="svgIcon" viewBox="0 0 384 512">
			    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
			  </svg> -->
			  <img src='image/arrow.png' class='backIcon'/>
			</button>
		</div>
	</div>
	
	<!-- 이미지 모달 -->
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="imageModalLabel">사진</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	                    <div class="carousel-indicators">
	                        <!-- Indicators will be inserted here by JavaScript -->
	                    </div>
	                    <div class="carousel-inner">
	                        <!-- Carousel items will be inserted here by JavaScript -->
	                    </div>
	                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Previous</span>
	                    </button>
	                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Next</span>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
	        
	        
	        const params = new URLSearchParams(window.location.search);
			const contentid = params.get('contentid');
			const contenttypeid = params.get('contenttypeid');
	        
	        detailInfo(contentid, contenttypeid);
	        if(document.getElementById('imgReview' != null)){
	        	imageModal();
	        }
	    });
		
		// 컨텐츠 기본 정보 조회 함수
		function detailInfo(contentid, contenttypeid){
			$.ajax({
				url:'placeInfo.pla',
				type: 'GET',
				data: {contentid : contentid, contenttypeid : contenttypeid},
				success: data =>{
					console.log(data);
					const item = data.response.body.items.item[0];
					
					const title = document.getElementById('title');
					title.innerHTML = "'" + item.title + "' 후기";
					
					/* const subTitle = document.getElementById('subTitle');
					subTitle.innerHTML = item.overview.split(".")[0]; */
					
					const imageTitle = document.getElementById('imageTitle');
					if(item.firstimage === ""){
						imageTitle.style.backgroundImage = 'url(image/noimageBackground.png)'
					}else{
						imageTitle.style.backgroundImage = 'url(' + item.firstimage + ')';
					}
				},
				error: data => console.log(data)
			})
		}
		
		// 이미지 모달 함수
		function imageModal(){
			const gallery = document.getElementById('image-gallery');
	        const images = gallery.querySelectorAll('.image-container img');
	        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
	        const carouselIndicators = document.querySelector('.carousel-indicators');
	        const carouselInner = document.querySelector('.carousel-inner');
	
	        images.forEach((img, index) => {
	            const indicator = document.createElement('button');
	            indicator.type = 'button';
	            indicator.setAttribute('data-bs-target', '#carouselExampleIndicators');
	            indicator.setAttribute('data-bs-slide-to', index);
	            if (index === 0) indicator.classList.add('active');
	            carouselIndicators.appendChild(indicator);
	
	            const carouselItem = document.createElement('div');
	            carouselItem.classList.add('carousel-item');
	            if (index === 0) carouselItem.classList.add('active');
	
	            const carouselImage = document.createElement('img');
	            carouselImage.src = img.src;
	            carouselImage.classList.add('d-block', 'w-100');
	            carouselItem.appendChild(carouselImage);
	
	            carouselInner.appendChild(carouselItem);
	
	            img.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(index);
	            });
	        });
	
	        if (images.length > 2) {
	            for (let i = 2; i < images.length; i++) {
	                images[i].parentElement.style.display = 'none';
	            }
	
	            const moreImages = document.createElement('div');
	            moreImages.classList.add('more-images');
	            moreImages.innerText = `더보기`;
	            gallery.appendChild(moreImages);
	
	            moreImages.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(2);
	            });
	        }
		}
		
	</script>
	
	
	<div th:replace="~{ common/footer.html :: footer }"></div>
</body>
</html>