<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<meta charset="UTF-8">
<title>'여기'가 추천하는 여행장소 :)</title>
<link type="text/css" href='css/recoPlace/recommendPlace.css' rel="stylesheet">
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
   <div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	<!-- ------------------------------------------------------------------------------------ -->
	<div class="loader" id='loading-screen'></div>
	<div id='menuTitle'><h1>여기가 추천하는 여행지 &#x1F5FA;</h1></div>
	<div class="div" id='div'>
		<!-- 필터 메뉴 -->
		<div class="filter-menu">
			<div class="section" id="locations-section">
				<div class="text">
					<div class="text1">선택한 지역</div>
				</div>
				<div class="keyword-list" id="selected-locations">
				</div>
			</div>
			<div class="section" id="keywords-section">
				<div class="text">
					<div class="text1">선택한 키워드</div>
				</div>
				<div class="keyword-list" id="selected-keywords">
				</div>
			</div>
			<div class="checkbox-group">
				<div class="text"  >
					<a class="text1 group" data-bs-toggle="collapse" href="#localDiv" aria-expanded="false" aria-controls="localDiv"  style='color: black; text-decoration: none; font-weight: blod;'>지역</a>
				</div>
				<div class="checkbox-group collapse" id='localDiv'>
					<div class="checkbox-field" th:each='l : ${list}'>
						<div class="checkbox-and-label">
							<input type='checkbox' th:id='${l.localName}' th:value='${l.localNo}' name='local'>
							<label th:for='${l.localName}'>[[${l.localName}]]</label>
						</div>
					</div>
				</div>
			</div>
			<div class="section2">
				<div class="text">
					<a class="text1 group" data-bs-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter"  style='color: black; text-decoration: none; font-weight: blod;'>키워드</a>
				</div>
				<div class="checkbox-group collapse" id='filter'>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='ticket' value='14'  name='keyword'>
							<label for='ticket'>문화시설</label>
						</div>
					</div>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='lodging' value='32' name='keyword'>
							<label for='lodging'>숙소</label>
						</div>
					</div>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='place' value='12' name='keyword'>
							<label for='place'>관광지</label>
						</div>
					</div>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='rastaurant' value='15' name='keyword'>
							<label for='rastaurant'>행사/공연/축제</label>
						</div>
					</div>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='rastaurant' value='28' name='keyword'>
							<label for='rastaurant'>레포츠</label>
						</div>
					</div>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='rastaurant' value='39' name='keyword'>
							<label for='rastaurant'>음식점</label>
						</div>
					</div>
					<div class="checkbox-field">
						<div class="checkbox-and-label">
							<input type='checkbox' id='rastaurant' value='38' name='keyword'>
							<label for='rastaurant'>쇼핑</label>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-field"></div>
		</div>
		<!-- 필터 메뉴 -->
		
		<!-- 컨텐츠 카드 -->
		<div class="section-product-grid">
			<!-- 장소 top 5 -->
			<div class="local-container d-flex justify-content-center row-cols-1 row-cols-md-6">
				<div class="local-card position-relative">
					<input type=hidden value=1>
					<img class="local-img shadow position-absolute"  src="/image/seoul.jpg" alt="서울">
					<span class="card-text position-absolute fs-1 px-3">서울
					</span>
				</div>
				<div class="local-card position-relative">
					<input type=hidden value=2>
					<img class="local-img shadow"  src="/image/busan.jpg" alt="부산">
					<span class="card-text position-absolute fs-1 px-3">부산
					</span>
				</div>
				<div class="local-card position-relative">
					<input type=hidden value=3>
					<img class="local-img shadow"  src="/image/gwangju.jpg" alt="광주">
					<span class="card-text position-absolute fs-1 px-3">광주
					</span>
				</div>
				<div class="local-card position-relative">
					<input type=hidden value=4>
					<img class="local-img shadow"  src="/image/daejeon.jpg" alt="대전">
					<span class="card-text position-absolute fs-1 px-3">대전
					</span>
				</div>
				<div class="local-card position-relative">
					<input type=hidden value=5>
					<img class="local-img shadow"  src="/image/kangwon.jpg" alt="강원">
					<span class="card-text position-absolute fs-1 px-3">강원
					</span>
				</div>
			</div>	
			
			<!-- 검색바 -->
			<div class="filter-bar row">
				<div class='col-4'></div>
				<div class="search-filter col-4">
					<div class="search">
						<input type='text' placeholder='search' id='search' name='search'>
						<img class="x-icon" alt="" id='searchIcon' src="image/Search.png">
					</div>
				</div>
				<div class='col-2'></div>
				<div class='col-2'>
					<select class="form-select" aria-label="Sort by" name='arrange'>
		                <option selected>정렬 기준</option>
		                <option value="A">제목순</option>
		                <option value="C">수정일 순</option>
		                <option value="D">생성일 순</option>
	           	 	</select>
           	 	</div>
			</div>
			<!-- 검색바 -->
			<div class="card-grid row row-cols-3" id='contentCardList'>
			</div>
			<div class='row' style='margin-bottom: 100px;'>
				<div class='col-4'></div>
				<nav aria-label="Page navigation" class='col-4 d-flex justify-content-center' id='pagination'>
				</nav>
				<div class='col-4'></div>
			</div>
		</div>
	</div>
	<!-- ------------------------------------------------------------------------------------ -->
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	<script th:inline='javascript'>
		/*<![CDATA[*/
		// 장소 리스트 담을 Div
		const contentCardList = document.getElementById('contentCardList');
		// pagination div
		const pagination = document.getElementById('pagination');
		
		// 쿼리 스트링 파라미터를 읽기
        const params = new URLSearchParams(window.location.search);
		const page = params.get('page') || 1;
		const arrange = params.get('arrange') || 'A';
		const contentTypeId = params.get('contentTypeId') || '';
		const areaCode = params.get('areaCode') || '';
		const keyword = params.get('keyword') || "";
		let selectedKeyword = "";
		
		// 페이지 첫 로딩시 함수 호출
		placeApi(page, arrange, contentTypeId, areaCode, keyword);
		

		window.addEventListener('load', function() {
		    const loadingScreen = document.getElementById('loading-screen');
		    const content = document.getElementById('div');

		    loadingScreen.style.display = 'none'; // 로딩 화면 숨기기
		    content.style.opacity = '1'; // 실제 콘텐츠 표시
		});
		
		//window.onload 비슷
		document.addEventListener('DOMContentLoaded', ()=> {
			
			const localCheckboxes = document.querySelectorAll('input[name="local"]');
			const keywordCheckboxes = document.querySelectorAll('input[name="keyword"]');
		
			// 초기화
		    updateTags("local", 'selected-locations', 'locations-section');
		    updateTags('keyword', 'selected-keywords', 'keywords-section');
		    
		    // 지역 필터 선택시 함수 호출
			localCheckboxes.forEach(checkbox => {
			    checkbox.addEventListener('change', function() {
		    		arr = updateInArrange();
		    		key = updateInSelectKeyword();
		    		word = updateInKeyword();
			    	if (this.checked) {
			    		//console.log(word)
			    		localCheckboxes.forEach(cb => {
	                        if (cb !== this && cb.checked) {
	                        	alert("하나만 선택해주세요");
	                            cb.checked = false;
	                        }
	                    });
			        	updateTags('local', 'selected-locations', 'locations-section');
                        placeApi(1, arr, key, this.value, word);
			    	}else{
				    	placeApi(1, arr, key, "", word);
				    	updateTags('local', 'selected-locations', 'locations-section');
			    	}
			    });
			});
			
			// 키워드 필터 선택시 함수 호출
			keywordCheckboxes.forEach(checkbox => {
			    checkbox.addEventListener('change', function(){
		    		arr = updateInArrange();
		    		area = updateInAreaCode();
		    		word = updateInKeyword();
		    		
			    	if (this.checked) {
			    		//console.log(word)
			    		keywordCheckboxes.forEach(cb => {
	                        if (cb !== this && cb.checked) {
	                        	alert("하나만 선택해주세요");
	                            cb.checked = false;
	                        }
	                    });
				        updateTags('keyword', 'selected-keywords', 'keywords-section');
				        placeApi(1, arr, this.value, area, word);
	                }else{
				    	 placeApi(1, arr, "", area, word);
				    	 updateTags('keyword', 'selected-keywords', 'keywords-section');
	                }
			    	//console.log(selectedKeywords);
			    });
			});
			
			document.getElementsByName('arrange')[0].addEventListener('change', function(){
				//console.log(this.value);
				const arrange = this.value;
				key = updateInSelectKeyword();
				area = updateInAreaCode();
				word = updateInKeyword();
				
				placeApi(1, arrange, key, area, word);
			})
			
			const searchKeyword = document.getElementById('search');
			searchKeyword.addEventListener('keyup', e =>{
				//console.log(e.key)
				if(e.key == "Enter"){
					search(searchKeyword)
				}
			})
			
			document.getElementById('searchIcon').addEventListener('click', ()=>{
				search(searchKeyword);
			});
			
		})
		
		
		function search(searchKeyword){
			key = updateInSelectKeyword();
			area = updateInAreaCode();
			arr = updateInArrange();
			placeApi(1, arrange, key, area, searchKeyword.value);
		}
		
		function updateInArrange(){
			//input 태그속 파라미터값
			let inArrange = "";
			if(document.getElementById('arrange') != null){
				inArrange = document.getElementById('arrange').value;	
			}
			return inArrange;
		}
		
		function updateInSelectKeyword(){
			//input 태그속 파라미터값
			let inSelectKeyword = "";
			if(document.getElementById('selectedKeyword') != null){
				inSelectKeyword = document.getElementById('selectedKeyword').value;
			}
			return inSelectKeyword;
		}
		
		function updateInAreaCode(){
			//input 태그속 파라미터값
			let inAreaCode = "";
			if(document.getElementById('areaCode') != null){
				inAreaCode = document.getElementById('areaCode').value;
			}
			return inAreaCode;
		}
		
		function updateInKeyword(){
			//input 태그속 파라미터값
			let inKeyword = "";
			if(document.getElementById('keyword') != null){
				inKeyword = document.getElementById('keyword').value;
			}
			return inKeyword;
		}
		
		// 검색 태그 변경 함수
		function updateTags(name, targetId, sectionId){
		    //console.log(`updateTags 호출됨: name=${name}, targetId=${targetId}, sectionId=${sectionId}`);

		    const targetDiv = document.getElementById(targetId);
		    const sectionDiv = document.getElementById(sectionId);
		    
		   /*  console.log('targetDiv:', targetDiv);
		    console.log('sectionDiv:', sectionDiv); */
		    
		    if (!targetDiv || !sectionDiv) {
		        console.error(`Element not found: targetId=${targetId}, sectionId=${sectionId}`);
		        return;
		    }
		    
		   	const paramName = sectionDiv.id.split("s")[0];
		   	//console.log(paramName);
		    
		    targetDiv.innerHTML = '';
			
		    let checkedCheckboxes;
		    if(paramName == 'location'){
		    	checkedCheckboxes = document.querySelectorAll(`input[name='local']:checked`);
		    }else{
		    	checkedCheckboxes = document.querySelectorAll(`input[name='keyword']:checked`);
		    }
		    
		    //const checkedCheckboxes = document.querySelectorAll(`input[name=paramName]:checked`);
		    //console.log(checkedCheckboxes);
		    if (checkedCheckboxes.length > 0) {
		        sectionDiv.style.display = 'block';
		    } else {
		        sectionDiv.style.display = 'none';
		    }
	
		    checkedCheckboxes.forEach(checkbox => {
		    	
		        const tagDiv = document.createElement('div');
		        tagDiv.className = 'tag';
		        const tagText = document.createElement('div');
		        tagText.className = 'tag1';
		        tagText.innerText = checkbox.nextElementSibling.innerText;
		        const closeButton = document.createElement('img');
		        closeButton.className = 'x-icon';
		        closeButton.src = 'image/Icon.png';
		        
		        closeButton.addEventListener('click', function() {
		            checkbox.checked = false;
		            updateTags(name, targetId, sectionId);
	            	arr = updateInArrange();
	            	word = updateInKeyword();
		            if(name == "local"){
		            	key = updateInSelectKeyword();
		            	placeApi(1, arr, key, "", word)
		            }else{
		            	area = updateInAreaCode();
			            placeApi(1, arr, "", area, word);
		            }
		            //console.log(checkbox.value);
		        });
	
		        tagDiv.appendChild(tagText);
		        tagDiv.appendChild(closeButton);
		        targetDiv.appendChild(tagDiv);
		    });
		    
		};
		
		// API 함수
		function placeApi(page, arrange, selectedKeyword, areaCode, keyword){
			// console.log(page)
			// console.log(arrange)
		    $.ajax({
		    	url:"recoPlaceList.pla",
		   		type: "GET",
		   		data: {page: page, arrange: arrange, selectedKeyword : selectedKeyword, areaCode:areaCode, keyword:keyword},
		   		success: function(data){
		   			//console.log(data)
		   			
		   			contentCardList.innerHTML = "";
		   			pagination.innerHTML = "";
		   			
		   			changeDiv(data);
		   			
		   			clickCard();
		   		},
		   		error: data => console.log(data)
		    	
		    })
		}
		
		// 카드 클릭시 상세 페이지 이동
		function clickCard(){
			const cards = document.getElementsByClassName('clickCard');
			const page = document.getElementById('page').value;
			for(const card of cards){
				card.addEventListener('click', function(){
					const placeId = this.id;
					const contentid = placeId.split('/')[0];
					const contenttypeid = placeId.split('/')[1];
					const areaCode = placeId.split('/')[2].split('!')[0];
					const image = placeId.split('!')[1];
					const title = encodeURI(encodeURIComponent(placeId.split('!')[2]));
					/* console.log(contentid)
					console.log(contenttypeid) */
					location.href = 'placeDetail.pla?page=' + page + '&contentid=' + contentid + "&contenttypeid=" + contenttypeid + "&areacode=" + areaCode + "&image=(" + image + ")&title=" + title;
				})
			}
		}
		
		// div 카드 바꾸는 함수
		function changeDiv(data){
			for(const i of data.response.body.items.item){
	   			const clickCardDiv = document.createElement('div');
	   			clickCardDiv.className = 'col-4 clickCard';
	   			clickCardDiv.id = i.contentid + '/' + i.contenttypeid + '/' + i.areacode + '!' + i.firstimage + '!' + i.title;
	   			const infoCardDiv = document.createElement('div');
	   			infoCardDiv.className = 'product-info-card';
	   			const img = document.createElement('img');
	   			img.className = 'image-icon';
	   			if(i.firstimage === ""){
	   				img.src = 'image/noimage.png'
	   			}else{
		   			img.src = i.firstimage;
	   			}
	   			const body = document.createElement('div');
	   			body.className = 'body';
	   			const text6 = document.createElement('div');
	   			text6.className = 'text6';
	   			const text7 = document.createElement('div');
	   			text7.className = 'text7';
	   			text7.innerText = i.title;
	   			text6.append(text7);
	   			const contentBox = document.createElement('div');
	   			contentBox.className = 'placeContent';
	   			const content = document.createElement('div');
	   			content.className = 'text-strong1';
	   			content.innerText = i.addr1;
	   			contentBox.append(content);
	   			body.append(text6);
	   			body.append(contentBox);
	   			infoCardDiv.append(img);
	   			infoCardDiv.append(body);
	   			clickCardDiv.append(infoCardDiv);
	   			contentCardList.append(clickCardDiv);
	   			
   			}
   			contentCardList.innerHTML += '<input type="hidden" name="arrange" id="arrange" value="' + data.arrange + '"/><input type="hidden" id="areaCode" name="areaCode" value="' + data.areaCode + '"/><input type="hidden" id="selectedKeyword" name="selectedKeyword" value="' + data.selectedKeyword + '"/><input type="hidden" id="page" name="page" value="' + data.pi.currentPage + '"/><input type="hidden" id="keyword" name="keyword" value="' + data.keyword + '"/>';

   			// 페이지 네이션 부분
   			const ul = document.createElement('ul');
   			ul.className='pagination';
   			
   			const li1 = document.createElement('li');
   			li1.className='page-item';
   			const beforeA = document.createElement('a');
   			beforeA.className = 'page-link';
   			beforeA.href = 'recoPlace.pla?page=' + (data.pi.currentPage - 1) + "&arrange=" + data.arrange + "&contentTypeId=" + data.selectedKeyword + "&areaCode=" + data.areaCode + "&keyword=" + data.keyword;
   			beforeA.ariaLabel = "Previous";
   			const span1 = document.createElement('span');
   			span1.ariaHidden = "true";
   			span1.innerHTML = "&laquo;";
   			
   			beforeA.append(span1);
   			li1.append(beforeA);
   			ul.append(li1);
   			
   			for(let i = data.pi.startPage ; i <= data.pi.endPage ; i++){
	   			const li = document.createElement('li');
	   			li.className='page-item';
   				const a = document.createElement('a');
   				a.className='page-link';
   				a.href = 'recoPlace.pla?page=' + i + "&arrange=" + data.arrange + "&contentTypeId=" + data.selectedKeyword + "&areaCode=" + data.areaCode + "&keyword=" + data.keyword;
   				a.innerText = i;
   				if(i == data.pi.currentPage){
   					a.style.fontWeight = "bold";
   					a.style.fontSize = '1.1em'
   					a.style.color = "#96caf0";
   				}
   				li.append(a);
   				ul.append(li);
   			}
   			
   			const li3 = document.createElement('li');
   			li3.className='page-item';
   			const afterA = document.createElement('a');
   			afterA.className = 'page-link';
   			afterA.href = 'recoPlace.pla?page=' + (data.pi.currentPage + 1) + "&arrange=" + data.arrange + "&contentTypeId=" + data.selectedKeyword + "&areaCode=" + data.areaCode + "&keyword=" + data.keyword;
   			afterA.ariaLabel = "Next";
   			const span2 = document.createElement('span');
   			span2.ariaHidden = "true";
   			span2.innerHTML = "&raquo;";
   			
   			afterA.append(span2);
   			li3.append(afterA);
   			ul.append(li3);
   			
   			pagination.append(ul);
		}
		
		/*]]>*/
	</script>
</body>
</html>