<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너 회원가입</title>
<link type="text/css" href='css/member/enrollPlanner.css' rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<style>

</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	<!-- 완전 큰 로그인 글자 -->
	<div id="bigTitle" class='text-center'>플래너 회원가입
	
	<!--  -->
	<div style="display:flex; justify-content:right;">
       	<div class='review-text' id='reviewDiv'>
			<button id='goReview'>
				<p>일반 회원가입</p>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="4">
					<path stroke-linecap="round"  stroke-linejoin="round"  d="M14 5l7 7m0 0l-7 7m7-7H3" ></path>
				</svg>
			</button>
		</div>
    </div>
    <!--  -->
	
	</div>
	
	<!-- 회원가입 폼 -->
	<form action="enrollPlanner.me" id="enrollPlanner" method="POST">
		<div id='enrollDiv'>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">아이디</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='memberId' placeholder="아이디를 입력하세요">
					<div id='idText' class="alert-div"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="row pwdInputDiv">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">비밀번호</label>
				</div>
				<div  class='col-4'>
					<input type="password" name='memberPwd' placeholder="비밀번호를 입력하세요">
				</div>
				<div class='col-3'></div>
			</div>
			<div class="row pwdInputDiv">
				<div class='col-5'></div>
				<div class='col-7'>
					<div id='pwdText' class="alert-div"></div>
				</div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">비밀번호 확인</label>
				</div>
				<div  class='col-4'>
					<input type="password" id='pwdconfirm' placeholder="비밀번호를 한번 더 입력하세요">
					<div id='pwdConfirmText' class="alert-div"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">이름</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='memberName' placeholder="이름를 입력하세요">
					<div class="alert-div"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">닉네임</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='nickname' placeholder="닉네임를 입력하세요" maxlength="8">
					<div id='nicknameText' class="alert-div"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">전화번호</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='phone' placeholder="전화번호를 입력하세요" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
					<div id='phoneText' class="alert-div"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">이메일</label>
				</div>
				<div class='col-6' style="display:flex">
					<input type="text" name='memEmail' id='memEmail' placeholder="이메일">
					<div id='atSign' class='text-center'>@</div>
					<input id="domain" name="domain" type="text" aria-lavel="Text input with dropdown button" value="naver.com">
					<select id="selectDomain" class="form-select">
						<option class="dropdown-item">naver.com</option>
						<option class="dropdown-item">gmail.com</option>
						<option class="dropdown-item">yahoo.com</option>
						<option class="dropdown-item">직접 입력</option>
					</select>
				</div>
				<div class="col-1"></div>
			</div>
			<div class="inputDiv row">
				<div class="col-3"></div>
				<div class="col-2"></div>
				<div class="col-4">
					<div class="alert-div"></div>
				</div>
			</div>
			<div class="inputDiv row">
				<div class="col-3"></div>
				<div class="col-2">
					<label class="loginText">은행</label>
				</div>
				<div class="col-4">
					<select id="bank" name="bank" class="form-select">
						<option class="dropdown-item">국민은행</option>
						<option class="dropdown-item">기업은행</option>
						<option class="dropdown-item">농협</option>
						<option class="dropdown-item">우리은행</option>
						<option class="dropdown-item">대구은행</option>
						<option class="dropdown-item">외환은행</option>
						<option class="dropdown-item">SC제일은행</option>
						<option class="dropdown-item">부산은행</option>
						<option class="dropdown-item">새마을금고</option>
						<option class="dropdown-item">한국씨티은행</option>
						<option class="dropdown-item">광주은행</option>
						<option class="dropdown-item">경남은행</option>
						<option class="dropdown-item">수협</option>
						<option class="dropdown-item">신협</option>
						<option class="dropdown-item">전북은행</option>
						<option class="dropdown-item">제주은행</option>
						<option class="dropdown-item">산림조합</option>
						<option class="dropdown-item">우체국</option>
						<option class="dropdown-item">하나은행</option>
						<option class="dropdown-item">신한은행</option>
					</select>
					<div class="alert-div"></div>
				</div>
			</div>
			<div class="inputDiv row">
				<div class="col-3"></div>
				<div class="col-2">
					<label class="loginText">계좌번호</label>
				</div>
				<div  class='col-4'>
					<input id="account" type="text" name='account' placeholder="계좌번호를 입력하세요" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="14"/>
					<div id='accountText' class="alert-div"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row" style="margin-bottom:20px;">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">활동지역</label>
				</div>
				<div  class='col-4'>
					<select name='localNo' id='local' class="form-select">
						<option selected>활동 지역 선택</option>
						<option value='1'>서울</option>
						<option value='6'>부산</option>
						<option value='4'>대구</option>
						<option value='2'>인천</option>
						<option value='5'>광주</option>
						<option value='3'>대전</option>
						<option value='7'>울산</option>
						<option value='8'>세종</option>
						<option value='31'>경기</option>
						<option value='32'>강원</option>
						<option value='33'>충북</option>
						<option value='34'>충남</option>
						<option value='35'>경북</option>
						<option value='36'>경남</option>
						<option value='37'>전북</option>
						<option value='38'>전남</option>
						<option value='39'>제주</option>
					</select>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row" style="margin-bottom:15px;">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">프로필 소개글</label>
				</div>
				<div  class='col-4'>
					<textArea id="short-intro" class='textArea' name="sIntroContent" placeholder='플래너 리스트에 보여질 간단한 소개글을 작성해주세요'></textArea>
				</div>
				<div class='col-3'></div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">신청글</label>
				</div>
				<div  class='col-4'>
					<textArea id="to-admin" class='textArea' name="plaReqContent" placeholder='관리자에게 보여질(?) 신청글을 작성해주세요'></textArea>
				</div>
				<div class='col-3'></div>
			</div>
			
			<div class="mt-4">
				<div class="row">
					<div class="col-3"></div>
			    <div class="col-9">
					<h5><strong>약관</strong></h5>
						<ul class="list-group" style="width:650px;">
							<li class="list-group-item">1. 플래너는 거래가 이루어진 시점에서 성실하게 수행해야합니다.</li>
							<li class="list-group-item">2. 거래에 대한 역할을 성실히 수행하지 않았을 경우 불이익을 발생할 수 있습니다.</li>
							<li class="list-group-item">3. 잘못된 은행과 계좌번호로 인하여 발생하는 불이익은 책임지지 않습니다.</li>
							<li class="list-group-item">4. 플래너 신청이 거절될 경우 일반회원으로 전환됩니다.</li>
						</ul>
						<div class="form-check mt-3">
							<input class="form-check-input" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="약관에 동의해야 합니다." type="checkbox" id="agreeCheckbox">
							<label class="form-check-label" for="agreeCheckbox">
								위 약관에 동의합니다.
							</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class='d-grid gap-2 d-md-flex justify-content-md-center align-items-center'>
				<button class="btn btn-primary" id='enrollButton'>회원가입</button>
			</div>
			<input type="hidden" name="grade" value="PLANNER">
		</div>
	</form>
	<!-- 회원가입 폼 -->
	
	
	
	
	
	
	
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	
	<script th:inline="javascript">
		window.onload=()=>{
			const selectDomain = document.getElementById("selectDomain");
			const domain = document.getElementById("domain");
			selectDomain.addEventListener('change', function(){
				if(this.value != "직접 입력"){
					domain.value = this.value;
				} else{
					domain.value = "";
				}
			});
			
			const checkBox = document.getElementById("agreeCheckbox");
			const regPwd = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;
			const enrollbtn = document.getElementById("enrollButton");
			const inputId = document.getElementsByName("memberId")[0];
			const inputPwd = document.getElementsByName("memberPwd")[0];
			const pwdconfirm = document.getElementById("pwdconfirm");
			const inputName = document.getElementsByName("memberName")[0];
			const inputNickname = document.getElementsByName("nickname")[0];
			const inputPhone = document.getElementsByName("phone")[0];
			const firstEmail = document.getElementById("memEmail");
			const alertDivs = document.getElementsByClassName("alert-div");
			const local = document.getElementById("local");
			const intro = document.getElementById("short-intro");
			const apply = document.getElementById("to-admin");
			const account = document.getElementById("account");
			
			enrollbtn.onclick = e =>{
				if(inputId.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[0].innerText = "아이디를 입력해주세요";
					alertDivs[0].style.color = 'red';
					inputId.focus();
					e.preventDefault();
				} else if(inputPwd.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[1].innerText = "비밀번호를 입력해주세요";
					alertDivs[1].style.color = 'red';
					inputPwd.focus();
					e.preventDefault();
				} else if(!regPwd.test(pwd.value)){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[1].innerText = '영어 대소문자/숫자/특수문자를 모두 포함하여 8~15자 이내로 생성해주세요';
					alertDivs[1].style.color = 'red';
					inputPwd.focus();
					e.preventDefault();
				} else if(!(pwdconfirm.value === inputPwd.value && (pwdconfirm.value.trim() != '' || inputPwd.value.trim() != ''))){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[2].style.color = 'red';
					alertDivs[2].innerText = "비밀번호가 일치하지 않습니다";
					pwdconfirm.focus();
					e.preventDefault();
				} else if(inputName.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[3].innerText = "이름을 입력해주세요";
					alertDivs[3].style.color = 'red';
					inputName.focus();
					e.preventDefault();
				} else if(inputNickname.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[4].innerText = "닉네임을 입력해주세요";
					alertDivs[4].style.color = 'red';
					inputNickname.focus();
					e.preventDefault();
				} else if(inputPhone.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[5].innerText = "전화번호를 입력해주세요";
					alertDivs[5].style.color = 'red';
					inputPhone.focus();
					e.preventDefault();
				} else if(firstEmail.value.trim() == '' || domain.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[6].innerText = "이메일을 입력해주세요";
					alertDivs[6].style.color = 'red';
					if(firstEmail.value.trim() == ''){
						firstEmail.focus();
						e.preventDefault();
					}else{
						domain.focus();
						e.preventDefault();
					}
				} else if(account.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[8].innerText = "계좌번호를 입력해주세요";
					alertDivs[8].style.color = 'red';
					account.focus();
					e.preventDefault();
				} 
				
				else if(local.value == '활동 지역 선택'){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					local.focus();
					e.preventDefault();
				} else if(intro.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					// 여기에 모달 하고싶었는데
					alert("소개글을 빈칸으로 제출을 원하시면 '없음' 을 적어주세요");
					e.preventDefault();
				} else if(apply.value.trim() == ''){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					// 여기에 모달 하고싶었는데
					alert("신청글을 빈칸으로 제출을 원하시면 '없음' 을 적어주세요");
					e.preventDefault();
				} else if(!checkBox.checked){
					checkBox.focus();
					const popover = new bootstrap.Popover(agreeCheckbox);
					popover.show();
		            // 5초 후 팝오버 자동 제거
		            setTimeout(() => {
		                popover.hide();
		            }, 5000);
					e.preventDefault();
				} else if(pwdconfirm.value === inputPwd.value && (pwdconfirm.value.trim() != '' || inputPwd.value.trim() != '')){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[2].style.color = 'green';
					alertDivs[2].innerText = "비밀번호가 일치합니다";
				} else if(!pwdconfirm.value === inputPwd.value || !(pwdconfirm.value.trim() != '' || inputPwd.value.trim() != '')){
					for(const a of alertDivs){
						a.innerText = "";
						a.style.color = 'white';
					}
					alertDivs[2].style.color = 'red';
					alertDivs[2].innerText = "비밀번호가 일치하지 않습니다";
					pwdconfirm.focus();
					e.preventDefault();
				}
			}
			
			checkBox.addEventListener('change', function() {
				if(!checkBox.checked){
					const popover = new bootstrap.Popover(agreeCheckbox);
					popover.show();
		            // 2초 후 팝오버 자동 제거
		            setTimeout(() => {
		                popover.hide();
	          	  }, 2000);
				}
		    });
			
			pwdconfirm.addEventListener('focusout',()=>{
				if(pwdconfirm.value === inputPwd.value && (pwdconfirm.value.trim() != '' || inputPwd.value.trim() != '')){
					alertDivs[2].style.color = 'green';
					alertDivs[2].innerText = "비밀번호가 일치합니다";
					return true;
				} else{
					alertDivs[2].style.color = 'red';
					alertDivs[2].innerText = "비밀번호가 일치하지 않습니다";
					return false;
				}
			});
			
			
			//일반 회원가입 화면이동
			document.getElementById("goReview").addEventListener('click',()=>{
				location.href="enrollView.me";
			})
			
			
			
			
			
			
			
			
			
			
		}
		
		
		// window.onload 밖
		
		
		// 비밀번호 체크
//		const regPwd = /^[A-Za-z0-9@.]{8,15}$/;
		const regPwd = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;
		const pwd = document.getElementsByName("memberPwd")[0];
		const alertDivs = document.getElementsByClassName("alert-div");
		
		pwd.addEventListener('focusout',()=>{
			if(!regPwd.test(pwd.value)){
				alertDivs[1].innerText = '영어 대소문자/숫자/특수문자를 모두 포함하여 8~15자 이내로 생성해주세요';
				alertDivs[1].style.color = 'red';
				
				return false;
			} else {
				alertDivs[1].innerText = '사용 가능한 비밀번호입니다';
				alertDivs[1].style.color = 'green';
				return true;
			}
		});
		
		
		
		// 아이디 체크 
		const regId = /^[A-Za-z0-9]{4,10}$/;
		const inputId = document.getElementsByName("memberId")[0];
		const alertDiv = document.getElementsByClassName("alert-div")[0];
		
		inputId.addEventListener('focusout', checkId);
		
		function checkId(){
			let id = inputId.value;
			
			if(id.trim() != ''){
				$.ajax({
					type : "POST",
					url: 'checkId.me',
					data: {id,id},
					success: (data) => {
						if(data == 0 && regId.test(id)){
							alertDiv.innerText = '사용 가능한 아이디입니다';
							alertDiv.style.color = 'green'
							return true;
						} else {
							alertDiv.innerText = '사용 불가한 아이디입니다';
							alertDiv.style.color = 'red';
							return false;
						}
					},
					error: data => console.log(data)
				});
			}
		}
		
	</script>
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>
