<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>피드백</title>
<style>
	#submit_button{color:white; background-color: #96CAF0; width: 160px; height:40px; border: none; border-radius:20px; margin-right: 5px;}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<!-- 사이드바 -->
	<div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div> 
	
	<div class="flex-container" style="text-align:center; margin-left:auto; margin-top:-240px;">
		<div style="height:60px;"></div>
		<div style="color: black; font-size: 36px; font-weight: 900;">플래너 일정 피드백하기</div>
		<div style="height:20px;"></div>
		<!-- 피드백 창 -->
	 	<form action="#" onsubmit="#">
			<div class="containter feedback" style="margin:auto; width:800px;">
				<textarea style="width:800px; height:220px; border-radius:10px; text-align:center; resize:none;" placeholder="피드백 내용을 입력하세요"></textarea>
				<div style="height:20px;"></div>
				<div><button id="submit_button">제출</button></div>
			</div>
			<div style="height:80px;"></div>
		</form> 
		<!-- 여행지 참고 사항 출력창 -->
		<div style="margin:auto; width:800px; height:220px; border:1px solid #b9b9b9; border-radius:10px;">
			<!-- 여행지 -->
			<div style="float:left; margin-left:40px; font-size:40px; font-weight:800px;">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="margin-right:-15px; margin-top:-10px;">
					<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
				</svg>
				여행지
			</div>
			<!-- 참고사항 입력한거 -->
			<div id="note" style="float:left; margin-left:-140px; margin-top:80px;">
				저는 해산물을 선호하지 않습니다
			</div>
		</div>
		<div style="height:20px;"></div>
		<!-- 여행일정 -->
		<div style="margin:auto; width:800px; height:500px; border:1px solid #b9b9b9; border-radius:10px;">
			<div style="width: 90px; height: 90px; margin:40px; border-radius: 9999px; overflow: hidden; justify-content: center; align-items: center; ">
				<img style="width:100%; height:100%;" src="${contextPath}\resources\SeoHyungyu.JPG"/>
			</div>
			<div style="margin-top:-100px; margin-left:-360px; color: black; font-size: 30px; font-weight: 800;">
				닉넴
			</div>
			<!-- 간단한 일정설명 -->
			<div id="simpleExplain" style="margin-left:-440px; margin-top:40px;">
				조개구이 맛집 위주입니다.
			</div>
			<div style="margin-left:400px; width: 272px; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
		</div>
	</div>
		
	<div style="margin-bottom: 800px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
</body>
</html>