<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link type="text/css" href='css/member/login.css' rel="stylesheet">
<style>


</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<!-- 완전 큰 로그인 글자 -->
	<div id="bigTitle" class='text-center'>로그인</div>

	<!-- 로그인 폼 -->
	<form action="login.me" method="post">
		<div id='loginDiv'>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">아이디</label>
				</div>
				<div  class='col-4'>
					<input id="memId" type="text" name='memberId' placeholder="아이디를 입력하세요">
					<div id="id-write"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<input type="hidden" id="login-fail" th:value="${fail}">
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">비밀번호</label>
				</div>
				<div  class='col-4'>
					<input id="memPwd" type="password" name='memberPwd' placeholder="비밀번호를 입력하세요">
					<div id="pwd-write"></div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<button class="btn btn-primary" id='loginButton'>로그인</button>
			</div>
	
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<a class='aTag' id='searchId' href="searchIdView.me">아이디 찾기</a> | <a class='aTag' id='searchPwd' href="searchPwdView.me">비밀번호 찾기</a>
			</div>
		</div>
	</form>
	<!-- 로그인 폼 -->

	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	<script>
		window.onload =()=>{
			const loginbtn = document.getElementById("loginButton");
			const inputId = document.getElementById("memId");
			const inputPwd = document.getElementById("memPwd");
			const alertDiv = document.getElementById("id-write");
			const pwdDiv = document.getElementById("pwd-write");
			
			//console.log(document.getElementById('login-fail').value);
			loginbtn.onclick = e =>{
				if(inputId.value.trim() == ''){
					alertDiv.innerText = "아이디를 입력해주세요";
					pwdDiv.innerText = " ";
					inputId.focus();
					e.preventDefault();
				} else if(inputPwd.value.trim() == ''){
					alertDiv.innerText = " ";
					pwdDiv.innerText = "비밀번호를 입력해주세요";
					inputPwd.focus();
					e.preventDefault();
				}
			}
			
			if(document.getElementById('login-fail').value != ''){
				alertDiv.innerText = "잘못된 아이디, 또는 비밀번호입니다.";
			}
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		}
	
	</script>
</body>
</html>