<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내 문의 글</title>
<style>
    table{width:80%; align:center; text-align: center; margin-left:auto; margin-right:auto; margin-top:30px;}
    ul{font-weight:900;}
    .pageNumber{margin-left:5px; margin-right:5px;}
   	th{font-size:24px;}
   	td{padding:15px;}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	
	<div class="flex-container" style="text-align:center; margin-left:auto;">
		<div style="height:80px;"></div>
		<div style="color: black; font-size: 36px; font-weight: 900;">내 문의글 보기</div>
		<div style="height:40px;"></div>
		<div style="margin:auto; width:1200px; height:800px; border: 1px solid" >
			<table>
				<thead>
				 	<tr style="border-bottom:2px solid #96CAF0;">
						<th><p>글번 호</p></th>
						<th><p>제목</p></th>
						<th><p>작성일자</p></th>
						<th><p>진행상태</p></th>
					</tr>
				</thead>
				<tbody>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
					<tr style="border-bottom:2px solid #b9b9b9">
						<td id="place">1</td>
						<td id="date">제 여행계획 진행 상황은 어떻게 되갑니까</td>
						<td id="planner">2099.1.1</td>
						<td id="status">진행 중</td>
					</tr>
				</tbody>
			</table>
			
			<!-- 페이지네이션 -->
			<div class="text-center" style="margin-top:25px; text-align:center;">
				<ul class="pagination">
					<!-- 이전링크 -->
					<li style="margin-left:auto;"><a href='#'>&lt;</a></li>
					<!-- 번호 이동 -->
					<li class="pageNumber"><a href='#'>1</a></li>
					<li class="pageNumber"><a href='#'>2</a></li>
					<li class="pageNumber"><a href='#'>3</a></li>
					<li class="pageNumber"><a href='#'>4</a></li>
					<li class="pageNumber"><a href='#'>5</a></li>
					<!-- 다음링크 -->
					<li style="margin-right:auto;"><a href='#'>&gt;</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div style="margin-bottom: 200px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	<script>
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			td.addEventListener('click', ()=>{
				const parent = td.parentElement;
			 	//const boardNo = parent.children[0].children[0].value
				//const cateNo = parent.children[1].children[0].value 
				location.href='detailMyInquiry.me'
					//'${contextPath}/boardView.me?bId=' + boardNo + '&page='+ ${pi.currentPage} + '&cateNo=' + cateNo;
			})
				
		}
	</script>
</body>
</html>