<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>포인트 결제</title>
<style>
	.payBox{border-radius:10px;border: 1px solid #b9b9b9 }
	#payButton{width:150px; height:40px; border:none; border-radius:10px; background:black; color:white;}
	#payButton:hover{background:skyblue;}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!-- 마이페이지 어퍼바 -->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<!-- 사이드바 -->
	<div th:replace="~{common/myPointSideBar :: myPointSideBar}"></div> 
	
	<div class="flex-center" style="text-align:center; margin-left:auto; margin-top:-240px;">
		<div style="height:80px;"></div>
		<div style="color: black; font-size: 36px; font-weight: 900;">포인트 결제</div>
		<!-- 현재 포인트 표시 -->
		<div id="currentPoint" style="font-weight:900; margin-left:700px;"><p>현재 포인트 : [1000] p</p></div>
		<!-- 결제 창 -->
		<div style="width:900px; margin:auto">
			<div class="payBox" style="margin-top:70px; margin-left:30px; width:250px; height:180px;">
				<div style="margin:10px"><p>11,000p</p></div>
				<div style="margin-left:10px; margin-top:-15px; font-size:36px; font-weight:900;"><p>10,000원</p></div>
				<div style="margin-top:10px; text-align:center;"><button id="payButton">포인트충전</button></div>
			</div>
			<div class="payBox" style="margin-top:-180px; margin-left:340px; width:250px; height:180px;">
				<div style="margin:10px"><p>25,000p</p></div>
				<div style="margin-left:10px; margin-top:-15px; font-size:36px; font-weight:900;"><p>20,000원</p></div>
				<div style="margin-top:10px; text-align:center;"><button id="payButton">포인트충전</button></div>
			</div>
			<div class="payBox" style="margin-top:-180px; margin-left:640px; width:250px; height:180px;">
				<div style="margin:10px"><p>60,000p</p></div>
				<div style="margin-left:10px; margin-top:-15px; font-size:36px; font-weight:900;"><p>50,000원</p></div>
				<div style="margin-top:10px; text-align:center;"><button id="payButton">포인트충전</button></div>
			</div>
		</div>
		<div style="width:900px; margin-left:1000px;">
			<button style="border:none; background:white;" title="  10%추가" disabled>VAT 별도</button>
		</div>
	</div>
		
	<div style="margin-bottom: 500px"></div>
	
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
</body>
</html>