<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<style>
	#revision_button{color:white; background-color: #96CAF0; width: 80px; height:40px; border: none; border-radius:20px; margin-right: 5px;}
    #delete_button {color:white; background-color: #DD5353; width: 80px; height:40px; border: none; border-radius:20px;}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<!-- 사이드바 -->
	<div th:replace="~{common/myPageSideBar :: myPageSideBar}"></div> 
	
	<div class="flex-container" style="text-align:center; margin-left:auto; margin-top:-240px;">
		<div class="flex-item center" style="color: black; font-size: 36px; font-weight: 900;">내 정보 수정</div>	
		<div style="height:40px;"></div>
		<form action="#" onsubmit="#">
			<!-- 아이디 -->
			<div>
				<a style="font-size:25px; font-weight: 700; ">아이디&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<input type="text" style="width:300px; height:40px; border-radius: 8px;" value="seo">
			</div>
			<div style="height:20px;"></div>
			<!-- 이름 -->
			<div>
				<a style="font-size:25px; font-weight: 700; ">이름&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<input type="text" style="width:300px; height:40px; border-radius: 8px;">
			</div>
			<div style="height:20px;"></div>
			<!-- 닉네임 -->
			<div>
				<a style="font-size:25px; font-weight: 700; ">닉네임&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<input type="text" style="width:300px; height:40px; border-radius: 8px;">
			</div>
			<div id="checkNickName" style="margin-left:50px;">닉네임을 입력해주세요</div>
			<div style="height:20px;"></div>
			<!-- 전화번호  -->
			<div>
				<a style="font-size:25px; font-weight: 700; ">전화번호&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<input type="text" style="width:300px; height:40px; border-radius: 8px;">
			</div>
			<div id="infoPhone"style="margin-left:90px;">(-)를 제외하고 입력해주세요</div>
			<div style="height:20px;"></div>
			<!-- 이메일 -->
			<div style="">
				<a style="font-size:25px; font-weight: 700; ">이메일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<input type="text" style="width:130px; height:40px; border-radius: 8px;">
				<input type="text" style="width:25px; height:40px; border-radius: 8px" value="@">
				<select style="width:130px; height:40px; border-radius: 8px;">
					<option value="naver.com">naver.com</option>
					<option value="google.com">google.com</option>
					<option value="daum.net">daum.net</option>
				</select>
			</div>
			<div style="height:50px;"></div>
			<!-- 수정/탈퇴 버튼 -->
			<div>
				<button id="revision_button">수정</button>
				<button id="delete_button">탈퇴</button>
			</div>
		</form>
	</div>
	
	
		
	<div style="margin-bottom: 500px"></div>
	
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
</body>
</html>