<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너일정 요청 자세히 보기</title>
<style>
	#submit_button{color:white; background-color: #96CAF0; width: 160px; height:40px; border: none; border-radius:20px; margin-right: 5px;}
	#cancle_button{color:white; background-color: #FF203A; width: 160px; height:40px; border: none; border-radius:20px; margin-right: 5px;}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!-- 플래너페이지 어퍼바 -->
	<div th:replace="~{common/plannerUpperBar :: plannerUpperBar}"></div>

	<div class="flex-container" style="text-align:center; margin-left:auto;">
		<div style="height:80px;"></div>
		<!-- 여행지 참고 사항 출력창 -->
		<div style="margin:auto; width:800px; height:220px; border:1px solid #b9b9b9; border-radius:10px;">
			<!-- 여행지 -->
			<div style="float:left; margin-top:20px;  margin-left:40px; font-size:40px; font-weight:800px;">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="margin-right:-15px; margin-top:-10px;">
					<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
				</svg>
				여행지
			</div>
			<!-- 참고사항 입력한거 -->
			<div id="note" style="margin-top:90px; margin-left:-400px;">
				저는 해산물을 선호하지 않습니다
			</div>
		</div>
		<!-- 여행 일정 칸 -->
		
		여행일정칸임돠 
		<div style="height:40px;"></div>
		<!-- 제출버튼 -->
		<div>
			<button id="submit_button" onclick="submit()">제출</button>
		</div>
	</div>
		
	<div style="margin-bottom: 500px"></div>
	
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	<script>
		//진행 시 요청 진행 페이지로 이동
		function submit(){
			location.href="requestEnd.me"
		}
		
	</script>
</body>
</html>