<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" href='css/member/searchPwd.css' rel="stylesheet">
<title>비밀번호 찾기</title>
<style>

</style>
</head>
<!-- .inputDiv margin:30px 삭제 -->
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	<!-- 완전 큰 로그인 글자 -->
	<div id="bigTitle" class='text-center'>비밀번호 찾기</div>

	<!-- 비밀번호찾기 폼 -->
	
		<div id='searchPwdDiv'>
			<div class="row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">아이디</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='memId' placeholder="아이디를 입력하세요">
				</div>
				<div class='col-3'></div>
			</div>
			<div id="id-div" class="alert-div">&nbsp;</div>
			<div class="row" style="margin-top:7px;">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">이름</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='memName' placeholder="이름를 입력하세요">
				</div>
				<div class='col-3'></div>
			</div>
			<div id="name-div" class="alert-div">&nbsp;</div>
			<div class="row" style="margin-top:7px;">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">전화번호</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='memPhone' placeholder="전화번호를 입력하세요"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
					<div id='phoneText'>(-)를 제외하고 입력해주세요</div>
				</div>
				<div class='col-3'></div>
			</div>
			<div id="phone-div" class="alert-div">&nbsp;</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<button type="button" class="btn btn-primary" id='searchButton' onclick='location.href="updatePwdView.me"'>비밀번호 찾기</button>
			</div>
	
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<a class='aTag' id='searchId' href="enrollView.me">회원가입</a> | <a class='aTag' id='searchId' href="loginView.me">로그인</a> | <a class='aTag' id='searchPwd' href="searchPwdView.me">비밀번호 찾기</a>
			</div>
		</div>
	
	<!-- 비밀번호찾기 폼 -->
	<a href="updatePwdView.me">비밀번호 수정페이지 임시</a>
	
	
	
	
	
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	<script>
		window.onload =()=>{
			const searchbtn = document.getElementById("searchButton");
			const inputId = document.getElementsByName("memId")[0];
			const inputName = document.getElementsByName("memName")[0];
			const inputPhone = document.getElementsByName("memPhone")[0];
			const alertDivs = document.getElementsByClassName("alert-div");
			searchbtn.onclick = e =>{
				if(inputId.value.trim() == ''){
					alertDivs[0].innerText = "아이디를 입력해주세요";
					alertDivs[0].style.color = 'red';
					alertDivs[1].innerText = "";
					alertDivs[1].style.color = 'white';
					alertDivs[2].innerText = " ";
					alertDivs[2].style.color = 'white';
					inputId.focus();
					e.preventDefault();
				} else if(inputName.value.trim() == ''){
					alertDivs[0].innerText = " ";
					alertDivs[0].style.color = 'white';
					alertDivs[1].innerText = "이름을 입력해주세요";
					alertDivs[1].style.color = 'red';
					alertDivs[2].innerText = " ";
					alertDivs[2].style.color = 'white';
					inputName.focus();
					e.preventDefault();
				} else if(inputPhone.value.trim() == ''){
					alertDivs[0].innerText = " ";
					alertDivs[0].style.color = 'white';
					alertDivs[1].innerText = " ";
					alertDivs[1].style.color = 'white';
					alertDivs[2].innerText = "전화번호를 입력해주세요";
					alertDivs[2].style.color = 'red';
					inputPhone.focus();
					e.preventDefault();
				} 
			};
			
			
		
		
		
		
		
	}
	</script>
	
</body>
</html>