<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" href='css/searchId.css' rel="stylesheet">
<title>아이디 찾기</title>
<style>
#alert-div{
		left:429px;
		width:500px;
		position:relative;
		
}
</style>
<!-- .inputDiv 에서 margin:30px 지우기 -->
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	<!-- 완전 큰 로그인 글자 -->
	<div id="bigTitle" class='text-center'>아이디 찾기</div>

	<!-- 아이디찾기 폼 -->
	<form action="" >
		<div id='searchIdDiv'>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">이름</label>
				</div>
				<div  class='col-4'>
					<input type="text" name='memName' placeholder="이름를 입력하세요"/>
				</div>
				<div class='col-3'></div>
			</div>
			<div id="alert-div">&nbsp;</div>
			
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">전화번호</label>
				</div>
				<div  class='col-4'>
					<input type="password" name='memPhone' placeholder="전화번호를 입력하세요"/>
					<div id='text'>(-)를 제외하고 입력해주세요</div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<button type="button" class="btn btn-primary" id='searchButton'>아이디 찾기</button>
			</div>
	
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<a class='aTag' id='searchId' href="enrollView.me">회원가입</a> | <a class='aTag' id='searchId' href="loginView.me">로그인</a> | <a class='aTag' id='searchPwd' href="searchPwdView.me">비밀번호 찾기</a>
			</div>
		</div>
	</form>
	<!-- 아이디찾기 폼 -->
	
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	<script>
		window.onload =()=>{
			const searchbtn = document.getElementById("searchButton");
			const inputName = document.getElementsByName("memName")[0];
			const inputPhone = document.getElementsByName("memPhone")[0];
			const alertDiv = document.getElementById("alert-div");
			console.log(inputName);
			searchbtn.onclick = e =>{
				if(inputName.value.trim() == ''){
					alertDiv.innerText = "이름을 입력해주세요";
					alertDiv.style.color = 'red';
					inputName.focus();
					e.preventDefault();
				} else if(inputPhone.value.trim() == ''){
					alertDiv.innerText = "전화번호를 입력해주세요";
					alertDiv.style.color = 'red';
					inputPhone.focus();
					e.preventDefault();
				}
			};
			
			
			
		}	
			
			
			
	</script>
</body>
</html>