<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>새 비밀번호 변경</title>
<link type="text/css" href='css/member/updatePwd.css' rel="stylesheet">
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	<!-- 완전 큰 로그인 글자 -->
	<div id="bigTitle" class='text-center'>비밀번호 변경</div>

	<!-- 아이디찾기 폼 -->
	<form action="updatePwd.me" method="POST">
		<div id='updatePwdDiv'>
			<div class="pwdInputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">새 비밀번호</label>
				</div>
				<div  class='col-4'>
					<input type="password" name='memberPwd' placeholder="비밀번호를 입력하세요">
				</div>
				<div class='col-3'></div>
			</div>
			<div class="row pwdInputDiv">
				<div class='col-5'></div>
				<div class='col-7'>
					<div id='pwdText'>영어 대소문자/숫자/특수문자를 모두 포함하여 8~15자 이내로 생성해주세요</div>
				</div>
			</div>
			<div class="inputDiv row">
				<div class='col-3'></div>
				<div class='col-2'>
					<label class="loginText">새 비밀번호 확인</label>
				</div>
				<div  class='col-4'>
					<input type="password" id='pwdconfirm' placeholder="비밀번호를 한번 더 입력하세요">
					<div id='pwdConfirmText'>&nbsp;</div>
				</div>
				<div class='col-3'></div>
			</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<button class="btn btn-primary" id='searchButton'>비밀번호 변경</button>
			</div>
	
			<div class='d-grid gap-2 d-md-flex justify-content-md-center'>
				<a class='aTag' id='searchId' href="enrollView.me">회원가입</a> | <a class='aTag' id='searchId' href="loginView.me">로그인</a> | <a class='aTag' id='searchPwd' href="searchPwdView.me">비밀번호 찾기</a>
			</div>
		</div>
		<input type="hidden" name="memberId">
	</form>
	<!-- 아이디찾기 폼 -->
	
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	<script>
		window.onload=()=>{
			const searchBtn = document.getElementById("searchButton");
			const newPwd = document.getElementsByName("memberPwd")[0];
			const pwdconfirm = document.getElementById('pwdconfirm');
			const pwdconfirmCheck = document.getElementById('pwdConfirmText');
			const pwdText = document.getElementById('pwdText');
			
			searchBtn.onclick = e =>{
				if(newPwd.value.trim() == ''){
					pwdText.innerText = "비밀번호를 입력해주세요";
					pwdText.style.color = 'red';
					newPwd.focus();
					e.preventDefault();
				} else if(pwdconfirm.value.trim() == ''){
					pwdconfirmCheck.innerText = "비밀번호 확인을 입력해주세요";
					pwdconfirmCheck.style.color = 'red';
					pwdconfirm.focus();
					e.preventDefault();
				}
			}
			
			
			// 현재 페이지의 URL 가져오기
			var currentUrl = window.location.href;

			// URL에서 쿼리 파라미터 부분 추출
			var queryString = currentUrl.split('?')[1]; // '?' 이후의 부분을 가져옴

			// URLSearchParams 객체 생성
			var searchParams = new URLSearchParams(queryString);

			// memberId 값 가져오기
			var memberId = searchParams.get('memberId');

			document.getElementsByName("memberId")[0].value = memberId;
			
			
			
			
			
			
		}
		
		
		
		
		const newPwd = document.getElementsByName("memberPwd")[0];
		const pwdconfirm = document.getElementById('pwdconfirm');
		const pwdconfirmCheck = document.getElementById('pwdConfirmText');
		const pwdText = document.getElementById('pwdText');
		const regPwd = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;
		
		newPwd.addEventListener('focusout',()=>{
			if(!regPwd.test(newPwd.value)){
				pwdText.innerText = '비밀번호는 8~15자의 영문 대/소문자, 숫자, 특수문자를 사용해 주세요';
				pwdText.style.color = 'red';
				return false;
			} else {
				pwdText.innerText = '사용 가능한 비밀번호입니다';
				pwdText.style.color = 'green';
				return true;
			}
		});
		
		pwdconfirm.addEventListener('focusout',()=>{
			if(pwdconfirm.value === newPwd.value && (pwdconfirm.value.trim() != '' || newPwd.value.trim() != '')){
				pwdconfirmCheck.style.color = 'green';
				pwdconfirmCheck.innerText = "비밀번호가 일치합니다";
				return true;
			} else{
				pwdconfirmCheck.style.color = 'red';
				pwdconfirmCheck.innerText = "비밀번호가 일치하지 않습니다";
				return false;
			}
		});
		
		
		
		
		
	</script>
	
</body>
</html>
