<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="css/service/noticeSelect.css" rel="stylesheet">
<style>

.edit-btn{
	background:#96caf0;
	border:none;
	color:white;
	font-weight:bold;
	font-size:15px;
	width: 65px;
    border-radius: 10px;
    height: 35px;
}
.edit-btn:hover{
	cursor: pointer;
	background: #58aae7;
}
.del-btn{
	background:lightgray;
	color:black;
	border:none;
	font-weight:bold;
	font-size:15px;
	width: 65px;
    border-radius: 10px;
    height: 35px;
}
.del-btn:hover{
	cursor:pointer;
	background:gray;
}

</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<div class="text-center" style="padding-top:60px;">
		<b style="font-size:70px;">공지사항</b>
	</div>
	
	<div id='content'>
		<div id="content1-div" class="container">
			<input id="search-com" type="text" placeholder="검색어를 입력해주세요">
			<img class="x-icon" alt="" src="image/Search.png">
		</div>
	</div>
	
	<div style="height:50px;"></div>
	
	
	
	
<!-- 사이드 바 -->
		<div id="sidebar">
			<div class="arrow" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
				<div class="arrow-top"></div>
				<div class="arrow-bottom"></div>
			</div>
	<!-- > 모양 -->
	
			<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="staticBackdropLabel">지역</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<p>- 문의사항</p>
					<p>- 공지사항</p>
				</div>
			</div>
		</div>
<!-- 사이드 바 -->
	
	
	
	
	<div id='content2'>
		<div class="text-center" style="padding:30px;">
			<b style="font-size:40px;">[[${n.boardTitle}]]</b>
		</div>
		<div class='row' style="padding:30px; border-bottom:5px solid #96caf0;">
			<div class="col-2">
				<img src="#"><!-- 프로필사진 -->
				[[${n.nickname}]]
			</div>
			<div class="col-8"></div>
			<div class="col-2">[[${n.boardModifyDate}]]</div>
		</div>
		<div class='text-start' id='placeContent'>
			[[${n.boardContent}]]
		</div>
		
	</div>
	<input type="hidden" th:value="${n.boardNo}">
	<div class="text-center row">
		<div class="col-4"></div>
		<div class="col-1" style="margin:auto;">
			<a href="관리자 페이지로 보내죠?" th:if="${session.loginUser != null && session.loginUser.grade == 'ADMIN'}">
				<button class="edit-btn">수정</button>
			</a>
		</div>
		<div class="col-1" style="margin:auto;">
			<a href="notice.no">
				<button class="edit-btn">목록</button>
			</a>
		</div>
		<div class="col-1" style="margin:auto;">
			<button class="del-btn" th:if="${session.loginUser != null && session.loginUser.grade == 'ADMIN'}">삭제</button>
		</div>
		<div class="col-4"></div>
	</div>
	
	
	
	<!-- 삭제 모달 -->
	<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
		<div class="modal-dialog" role="document">
    		<div class="modal-content rounded-3 shadow">
      			<div class="modal-body p-4 text-center">
        			<h3 class="mb-0">정말로 삭제하시겠습니까?</h3>
        			<p class="mb-0">삭제 후 복구가 불가능합니다.</p>
      			</div>
      			<div class="modal-footer flex-nowrap p-0">
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="delete">
        				<strong>네</strong>
        			</button>
        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
      			</div>
    		</div>
  		</div>
	</div>
	<!-- 삭제 모달 -->
	
	

		
        <br>
		
		<!-- 페이징 -->


	
	
		<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	<script>
		window.onload=()=>{
			const sideMenus = document.getElementsByClassName('offcanvas-body')[0].children;
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseover',function(){
					sideP.style.fontSize = 'large';
					sideP.style.textDecoration = 'underline';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseout',function(){
					sideP.style.fontSize = 'medium';
					sideP.style.textDecoration = 'none';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('click',function(){
					//console.log(this.innerText.split(' ')[1]);
					if(this.innerText.split(' ')[1] == "문의사항"){
						location.href="ask.no";
					} else{
						location.href="notice.no";
					}
				});
			}
			
			
			// 삭제버튼
			document.getElementsByClassName('del-btn')[0].addEventListener('click',()=>{
				$('#modalChoice').modal('show');
			});
			document.getElementById('delete').addEventListener('click',()=>{
				location.href="commuDelete.bo?boardNo=" + boardNo;
			})
			
			
		}
	</script>
	
	
	
</body>
</html>