<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="css/service/noticeList.css" rel="stylesheet">
<style>

</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	
	<div class="text-center" style="padding-top:60px;">
		<b style="font-size:70px;">공지사항</b>
	</div>
	
	<div id='content'>
		<div id="content1-div" class="container">
			<input id="search-com" type="text" placeholder="검색어를 입력해주세요">
			<img class="x-icon" alt="" src="image/Search.png">
		</div>
	</div>
	
	
	
	<input type="hidden" name="boardType" value="NOTICE">
	
	
	<!-- 왼쪽 사이드 바 -->
		<div id="sidebar">
			<div class="arrow" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
				<div class="arrow-top"></div>
				<div class="arrow-bottom"></div>
			</div>
	<!-- > 모양 -->
	
			<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="staticBackdropLabel">지역</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<p>- 문의사항</p>
					<p>- 공지사항</p>
				</div>
			</div>
		</div>
<!-- 사이드 바 -->
	
	
	
	
	<div style="height:50px;"></div>
	
	
	
	
	
	
	<div class="container py-4">
		<div class="bd-example-snippet bd-code-snippet">
			<div class="bd-example">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="80px">글 번호</th>
							<th>글 제목</th>
							<th width="130px">작성자</th>
							<th width="130px">작성일자</th>
							<th width="80px">조회수</th>
	          			</tr>
	          		</thead>
	         		<tbody id="text-test">
	         		<!-- 이거 반복 -->
	          			<tr>
	          				<td>1</td>
	          				<td><a href="noticeSelect.no">notice 상세보기 임시링크</a></td>
	          				<td>3</td>
	          				<td>4</td>
	          				<td>5</td>
	          			</tr>
	          			<tr th:each=" n : ${nList}">
	          				<td>[[${n.boardNo}]]</td>
	          				<td>[[${n.boardTitle}]]</td>
	          				<td>[[${n.nickname}]]</td>
	          				<td>[[${n.boardModifyDate}]]</td>
	          				<td>[[${n.boardCount}]]</td>
	          			</tr>
	          		</tbody>
	        	</table>
	       	</div>
		</div>
        <br>
		
		<!-- 페이징 -->
		<div class='row' style='margin-bottom: 100px;'>
			<div class='col-4'></div>
				<nav aria-label="Page navigation example" th:with="loc=${loc}" style="display:flex; justify-content:center;">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item" th:each=" p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
							<a class="page-link" th:href="@{${loc}(page=${p})}">[[${p}]]</a>
						</li>
						<li class="page-item">
							<a class="page-link" th:href="@{${ loc }(page=${pi.currentPage+1})}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			<div class='col-4'></div>
		</div>
		<!-- 페이징 -->


		<a href="ask.no">ask 이동 임시</a>


		<div th:if="${ session.loginUser != null}" style="position: relative; top: -480px; left: 1035px; width: 140px;">
	       	<button class="btn btn-outline-success" type="button" onclick="location.href='writeBoard.bo'">WRITE BOARD</button>
	    </div>
	</div>
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	
	
	<script>
		window.onload=()=>{
			//사이드메뉴 이동
			const sideMenus = document.getElementsByClassName('offcanvas-body')[0].children;
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseover',function(){
					sideP.style.fontSize = 'large';
					sideP.style.textDecoration = 'underline';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseout',function(){
					sideP.style.fontSize = 'medium';
					sideP.style.textDecoration = 'none';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('click',function(){
					//console.log(this.innerText.split(' ')[1]);
					if(this.innerText.split(' ')[1] == "문의사항"){
						location.href="ask.no";
					} else{
						location.href="notice.no";
					}
				});
			}
			
			
			//공지 클릭시 이동
			const trs = document.getElementById("text-test").children;
			for(const tr of trs){
				tr.addEventListener('click', function(){
					const boardNo = this.children[0].innerText;
					location.href="noticeSelect.no?boardNo=" + boardNo + "&page=" + /*[[${pi?.currentPage}]]*/1; 
				});
			}
		}
	
	</script>
	
	
</body>
</html>