<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="css/service/noticeSelect.css" rel="stylesheet">
<style>


</style>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>

	<div class="text-center" style="padding-top:60px;">
		<b style="font-size:70px;">공지사항</b>
	</div>
	
	<div id='content'>
		<div id="content1-div" class="container">
			<input id="search-com" type="text" placeholder="검색어를 입력해주세요">
			<img class="x-icon" alt="" src="image/Search.png">
		</div>
	</div>
	
	<div style="height:50px;"></div>
	
	
	
	
	<div id="sidebar">
		<button style="border:none; background-color:white;" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
			<svg style="width:25px; height:31px; color: #2f6589;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
				<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
			</svg>
		</button>
		<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="staticBackdropLabel">고객센터</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<p>- 문의사항</p>
				<p>- 공지사항</p>
			</div>
		</div>
	</div>
	
	
	
	
	<div id='content2'>
		<div class="text-center" style="padding:30px;">
			<b style="font-size:40px;">공지 제목</b>
		</div>
		<div class='row' style="padding:30px; border-bottom:5px solid #96caf0;">
			<div class="col-2">
				<img src="#">
				관리자
			</div>
			<div class="col-9"></div>
			<div class="col-1">작성일</div>
		</div>
		<div class='text-start' id='placeContent'>
			미안하다 이거 보여주려고 어그로끌었다.. 나루토 사스케 싸움수준 ㄹㅇ실화냐? 진짜 세계관최강자들의 싸움이다.. 그찐따같던 나루토가 맞나? 진짜 나루토는 전설이다..진짜옛날에 맨날나루토봘는데 왕같은존재인 호카게 되서 세계최강 전설적인 영웅이된나루토보면 진짜내가다 감격스럽고 나루토 노래부터 명장면까지 가슴울리는장면들이 뇌리에 스치면서 가슴이 웅장해진다.. 그리고 극장판 에 카카시앞에 운석날라오는 거대한 걸 사스케가 갑자기 순식간에 나타나서 부숴버리곤 개간지나게 나루토가 없다면 마을을 지킬 자는 나밖에 없다 라며 바람처럼 사라진장면은 진짜 나루토처음부터 본사람이면 안울수가없더라 진짜 너무 감격스럽고 보루토를 최근에 알았는데 미안하다.. 지금20화보는데 진짜 나루토세대나와서 너무 감격스럽고 모두어엿하게 큰거보니 내가 다 뭔가 알수없는 추억이라해야되나 그런감정이 이상하게 얽혀있다.. 시노는 말이많아진거같다 좋은선생이고..그리고 보루토왜욕하냐 귀여운데 나루토를보는것같다 성격도 닮았어 그리고버루토에 나루토사스케 둘이싸워도 이기는 신같은존재 나온다는게 사실임?? 그리고인터닛에 쳐봣는디 이거 ㄹㅇㄹㅇ 진짜팩트냐?? 저적이 보루토에 나오는 신급괴물임?ㅡ 나루토사스케 합체한거봐라 진짜 ㅆㅂ 이거보고 개충격먹어가지고 와 소리 저절로 나오더라 ;; 진짜 저건 개오지는데.. 저게 ㄹㅇ이면 진짜 꼭봐야돼 진짜 세계도 파괴시키는거아니야 .. 와 진짜 나루토사스케가 저렇게 되다니 진짜 눈물나려고했다.. 버루토그라서 계속보는중인데 저거 ㄹㅇ이냐..? 하.. ㅆㅂ 사스케 보고싶다..  진짜언제 이렇게 신급 최강들이 되었을까 옛날생각나고 나 중딩때생각나고 뭔가 슬프기도하고 좋기도하고 감격도하고 여러가지감정이 복잡하네.. 아무튼 나루토는 진짜 애니중최거명작임..<br>
		</div>
		<div id="placeImg" class="container">
			<h2>관련 사진 &#x1F4F8;</h2>
		    <div class="image-gallery" id="image-gallery">
		        <div class="image-container"><img src="image/insadong1.jpg" alt="Image 1"></div>
		        <div class="image-container"><img src="image/insadong2.jpg" alt="Image 2"></div>
		        <div class="image-container"><img src="image/insadong3.jpg" alt="Image 3"></div>
		        <div class="image-container"><img src="image/insadong4.jpg" alt="Image 4"></div>
		    </div>
		</div>
		
	</div>
	<div class="text-center row">
		<div class="col-4"></div>
		<div class="col-1" style="margin:auto;">
			<a href="#">
				<button class="btn btn-primary">수정</button>
			</a>
		</div>
		<div class="col-1" style="margin:auto;">
			<a href="notice.no">
				<button class="btn btn-primary">목록</button>
			</a>
		</div>
		<div class="col-1" style="margin:auto;">
			<button class="btn btn-danger">삭제</button>
		</div>
		<div class="col-4"></div>
	</div>
	
	<!-- 이미지 모달 -->
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="imageModalLabel">사진</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	                    <div class="carousel-indicators">
	                        <!-- Indicators will be inserted here by JavaScript -->
	                    </div>
	                    <div class="carousel-inner">
	                        <!-- Carousel items will be inserted here by JavaScript -->
	                    </div>
	                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Previous</span>
	                    </button>
	                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                        <span class="visually-hidden">Next</span>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 이미지 모달 -->
	
	
	

		
        <br>
		
		<!-- 페이징 -->
		<a href="noticeWrite.no">notice 글쓰기로 이동 임시</a>


		<div th:if="${ session.loginUser != null}">
	       	<button class="btn btn-outline-success" type="button" onclick="location.href='writeBoard.bo'">WRITE BOARD</button>
	    </div>
	
	
	
	
		<div th:replace="~{ common/footer.html :: footer }"></div>
	
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
	        const gallery = document.getElementById('image-gallery');
	        const images = gallery.querySelectorAll('.image-container img');
	        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
	        const carouselIndicators = document.querySelector('.carousel-indicators');
	        const carouselInner = document.querySelector('.carousel-inner');
	
	        images.forEach((img, index) => {
	            const indicator = document.createElement('button');
	            indicator.type = 'button';
	            indicator.setAttribute('data-bs-target', '#carouselExampleIndicators');
	            indicator.setAttribute('data-bs-slide-to', index);
	            if (index === 0) indicator.classList.add('active');
	            carouselIndicators.appendChild(indicator);
	
	            const carouselItem = document.createElement('div');
	            carouselItem.classList.add('carousel-item');
	            if (index === 0) carouselItem.classList.add('active');
	
	            const carouselImage = document.createElement('img');
	            carouselImage.src = img.src;
	            carouselImage.classList.add('d-block', 'w-100');
	            carouselItem.appendChild(carouselImage);
	
	            carouselInner.appendChild(carouselItem);
	
	            img.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(index);
	            });
	        });
	
	        if (images.length > 2) {
	            for (let i = 2; i < images.length; i++) {
	                images[i].parentElement.style.display = 'none';
	            }
	
	            const moreImages = document.createElement('div');
	            moreImages.classList.add('more-images');
	            moreImages.innerText = `더보기`;
	            gallery.appendChild(moreImages);
	
	            moreImages.addEventListener('click', () => {
	                modal.show();
	                $('#carouselExampleIndicators').carousel(2);
	            });
	        }
	        
	        /* document.getElementById('goReview').addEventListener('click', ()=>{
	        	const reviewModal = document.getElementById('Modal');
	        	$('#Modal').modal('show');
	        }); */
	        
	       /*  document.getElementById('loginView').addEventListener('click', ()=>{
	        	location.href = 'placeReviewWrite.pla';
	        }) */
	        
	        
	       const reviewCard = document.getElementsByClassName('testimonial-card');
	       Array.from(reviewCard).forEach(card =>{
	    	   card.addEventListener('click', () =>{
		    	   location.href = 'placeReviewDetail.pla'
		       })
	       })
	    });
		
		
		
		
		
		
		window.onload=()=>{
			const sideMenus = document.getElementsByClassName('offcanvas-body')[0].children;
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseover',function(){
					sideP.style.fontSize = 'large';
					sideP.style.textDecoration = 'underline';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('mouseout',function(){
					sideP.style.fontSize = 'medium';
					sideP.style.textDecoration = 'none';
				});
			}
			for(const sideP of sideMenus){
				sideP.addEventListener('click',function(){
					console.log(this.innerText.split(' ')[1]);
					//location.href= 클릭한 것으로 구분
				});
			}
		}
	</script>
	
	
	
</body>
</html>