<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div style="width: 1440px; height: 1907px; position: relative; background: white">
	<div style="width: 1376px; height: 59px; left: 26px; top: 16px; position: absolute">
		<img style="width: 142px; height: 59px; left: 623px; top: 0px; position: absolute" src="https://via.placeholder.com/142x59" />
		<div style="left: 1275px; top: 16px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">회원가입</div>
		<div style="left: 1340px; top: 16px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">로그인</div>
		<div style="left: 0px; top: 16px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word">고객센터</div>
	</div>
	<div style="width: 1440px; height: 230px; left: 0px; top: 1677px; position: absolute">
    	<div style="width: 1440px; height: 230px; left: 0px; top: 0px; position: absolute; background: #657C8D"></div>
		<img style="width: 291px; height: 119px; left: 96px; top: 55px; position: absolute" src="https://via.placeholder.com/291x119" />
		<div style="width: 156px; height: 162px; left: 585px; top: 34px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
			<div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
				<div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
					<div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
				</div>
			</div>
			<div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
				<div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
			</div>
			<div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
				<div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
			</div>
			<div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
				<div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
			</div>
		</div>
    <div style="width: 156px; height: 162px; left: 866px; top: 34px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
    <div style="width: 156px; height: 162px; left: 1147px; top: 34px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
  </div>
  <div style="left: 602px; top: 297px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 900; line-height: 89.60px; word-wrap: break-word">공지사항</div>
  <div style="width: 564px; height: 69px; left: 438px; top: 453px; position: absolute; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
    <div style="flex: 1 1 0; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 9999px; overflow: hidden; border: 1px #D9D9D9 solid; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <input type="text" style="flex: 1 1 0; color: #B3B3B3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word; border:none" placeholder="Search">
        <button>검색</button>
    </div>
  </div>
  <div style="padding: 8px; left: 1148px; top: 1579px; position: absolute; background: #96CAF0; border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="color: white; font-size: 32px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">글쓰기</div>
  </div>
  <div style="width: 1054px; height: 958px; left: 193px; top: 597px; position: absolute; background: white; border: 1px #B0B0B0 solid"></div>
  <div style="left: 648px; top: 1464px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">< 1 2 3 4 5 ></div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 660px; position: absolute">
    <div style="left: 374px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 900; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 86px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 900; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 720px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 900; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 866px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 900; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #96CAF0 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 733px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 806px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 879px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 952px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 1025px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 1098px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 1171px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 1244px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 1317px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 1001px; height: 49px; left: 222px; top: 1390px; position: absolute">
    <div style="left: 370px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">제목</div>
    <div style="left: 82px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">글번호</div>
    <div style="left: 716px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성자</div>
    <div style="left: 862px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">작성일자</div>
    <div style="width: 1001px; height: 0px; left: 0px; top: 49px; position: absolute; border: 2px #D9D9D9 solid"></div>
  </div>
  <div style="width: 63px; height: 51px; left: 33px; top: 336px; position: absolute; border: 7px #96CAF0 solid">
		<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Side</button>

		<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
		  <div class="offcanvas-header">
		    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">고객센터</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body">
		    <p>- 문의사항</p>
		    <p>- 공지사항</p>
		  </div>
		</div>
  
  </div>
  <div style="width: 1440px; height: 230px; left: -12px; top: 1677px; position: absolute">
    <div style="width: 1440px; height: 230px; left: 0px; top: 0px; position: absolute; background: #2F6598"></div>
    <img style="width: 145px; height: 59px; left: 189px; top: 75px; position: absolute" src="https://via.placeholder.com/145x59" />
    <div style="width: 156px; height: 162px; left: 584px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
    <div style="width: 156px; height: 162px; left: 865px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
    <div style="width: 156px; height: 162px; left: 1146px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
  </div>
  <div style="width: 1440px; height: 230px; left: 2px; top: 1680px; position: absolute">
    <div style="width: 1440px; height: 230px; left: 0px; top: 0px; position: absolute; background: #2F6598"></div>
    <img style="width: 145px; height: 59px; left: 189px; top: 75px; position: absolute" src="https://via.placeholder.com/145x59" />
    <div style="width: 156px; height: 162px; left: 584px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
    <div style="width: 156px; height: 162px; left: 865px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
    <div style="width: 156px; height: 162px; left: 1146px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 38px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Use cases</div>
        </div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 17px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UI design</div>
      </div>
      <div style="width: 89px; height: 22px; padding-right: 11px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">UX design</div>
      </div>
      <div style="width: 89px; height: 22px; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Wireframing</div>
      </div>
      <div style="width: 156px; height: 22px; position: relative"></div>
      <div style="width: 89px; height: 22px; position: relative"></div>
    </div>
  </div>
  <div style="width: 1440px; height: 113px; left: 0px; top: 103px; position: absolute">
    <div style="width: 1440px; height: 113px; left: 0px; top: 0px; position: absolute; border-bottom: 4px #96CAF0 solid"></div>
    <div style="left: 238px; top: 42px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">플래너 1:1 매칭</div>
    <div style="left: 585px; top: 42px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">일정</div>
    <div style="left: 824px; top: 46px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">추천 장소</div>
    <div style="left: 1113px; top: 42px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">커뮤니티</div>
  </div>
</div>
</body>
</html>