@charset "UTF-8";

.flex-container {
	position: relative;
	min-height: 700px;
	margin-bottom: 100px;
}
.marginDiv1{
	margin-bottom: 200px;
	min-height: 700px;
}
.marginDiv2{
	margin-bottom: 200px;
	min-height: 1000px;
}
#reqForm {
	position: absolute;
	left: 50%;
	top: -200px;
	transform: translateX(-40%);
}
#localIcon{
	color:#2F6598;
}
#schContent {
	margin: auto;
	width: 900px;
	min-height: 220px;
}

#note {
	font-size: 20px;
}

#planSch {
	margin: 30px auto;
	width: 900px;
	min-height: 300px;
}

#planner {
	height: 70px;
	position: relative;
}
#plannerImgDiv:hover{
	cursor: pointer;
}

#plannerImgDiv:hover ~ #toolTip{
	opacity: 1;
}
#plannerImgDiv {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	padding: 0px;
}

#plannerImg {
	width: 100%;
	height: 100%;
}

#plaNickname {
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	left: 80px;
	top: 30px;
}
#plaNickname:hover{
	cursor: pointer;
}

#plaNickname:hover ~ #toolTip{
	opacity: 1;
}
#toolTip{
	position: absolute;
	left: 70px;
	top: 3px;
	opacity: 0;
	font-size:12px;
	color: white;
	background: rgb(177, 218, 228);
    border-radius: 5px 5px 5px 0px;
	padding:2px;
}
#schedule {
	font-size: 25px;
}
#planTitle {
	margin-top: 20px;
	font-size: 27px;
}
#buttonDiv{
	display: flex;
    justify-content: center;
    margin: 50px;
    gap: 10px;
}

#submit_button {
	color: #96CAF0;
	background-color: white;
	width: 90px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin-right: 5px;
	border: 2px solid #96CAF0;
}

#submit_button:hover {
	background: #96CAF0;
	border: 2px solid #96CAF0;
	color: #fff;
	font-weight: 600;
}

#review_button {
	color: #96CAF0;
	background-color: white;
	width: 90px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin-right: 5px;
	border: 2px solid #96CAF0;
}

#review_button:hover {
	background: #96CAF0;
	border: 2px solid #96CAF0;
	color: #fff;
	font-weight: 600;
}

#cancle_button {
	color: #DD5353;
	background-color: white;
	width: 90px;
	height: 40px;
	border: none;
	border-radius: 20px;
	border: 2px solid #DD5353;
}

#cancle_button:hover {
	background: #DD5353;
	border: 2px solid #DD5353;
	color: #fff;
	font-weight: 600;
}
#back_button {
	color: #2F6598;
	background-color: white;
	width: 90px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin-right: 5px;
	border: 2px solid #2F6598;
}

#back_button:hover {
	background: #2F6598;
	border: 2px solid #2F6598;
	color: #fff;
	font-weight: 600;
}
#infoReq{
	font-size: 10px;
	color: lightgray;
}
#cancelComent{
	font-size: 18px;
}
/* 각 날짜+지역, 선택한 해시태그, 계획 감싸는 div */
.contain-div{
	margin-left: auto; 
	margin-right: auto;
	margin-top: 30px;
	border: 1px solid lightgray; 
	border-radius: 10px;
	width: 903px;
}

/* 일자별 계획 전체 감싸는 div */
#planAll{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 30px;
	flex-wrap: wrap;
	max-width: 900px;
}

/* 한 날짜당 계획 */
.dayPlan{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 250px;
    align-items: stretch; /* 자식 요소들이 동일한 높이를 가지도록 */
}
/* n일차 텍스트 div */
.dayText {
  	font-size: 32px;
  	line-height: 100%;
  	font-weight: 900;
}
/* n일차(하루) 감싸는 div */
.planDiv{
    flex-grow: 1; /* 자식 요소가 남은 공간을 차지하게 */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 자식 요소들을 상하로 고르게 배치 */
}
/* 날짜 div */
.date {
  	font-size: 15px;
  	line-height: 100%;
  	margin-top: 10px;
  	margin-bottom: 10px;
}
/* 라인, 동그라미 감싸는 div */
.plan-spans{
	display: inline-block; 
	position: absolute;
}

/* 계획 선 */
.line{
	position: relative;
	display: inline-block;
	width: 0;
	height: 128px;
	border: 1px solid black;
	margin-left: 13px;
}

/* 계획 동그라미 */
.round{
	position: absolute;
	display: inline-block;
	z-index: 5;
	background: #96CAF0;
	width: 18px;
	height: 18px;
	border-radius: 50px;
    top: 15px;
    right: -9px;
}
/* input 대체 label 전체 감싸는 div */
.plan-labels{
	display: inline-block; 
	position: relative;
	top: 15px;
	margin-left: 38px;
}
/* input 입력 후 체크 버튼 눌렀을 시 변경된 label 한 개 감싸는 div*/
.label-div{
	margin-left: 10px;
}
/* n일차(하루) 감싸는 div*/
.planDiv{
	width: 220px;
	margin-bottom: 30px;
}
/* 체크 버튼 눌렀을 때의 장소 label */
.placeLabel{
	font-size: 16px;
	font-weight: 800;
	display: block;
    width: 155px;
    overflow: hidden;
}
/* 체크 버튼 눌렀을 때의 시간 label */
.timeLabel{
	font-size: 13px;
    font-weight: 700;
    color: #727272;
}
/* 체크 버튼 눌렀을 때의 메모 label */
.memoLabel{
	font-size: 12px;
    font-weight: 700;
    color: #727272;
    display: block;
    width: 155px;
    overflow: hidden;
}
