@charset "UTF-8";

#submit_button {
	color: #96CAF0;
	background-color: white;
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 20px;
	border: 2px solid #96CAF0;
}

#submit_button:hover {
	background: #96CAF0;
	border: 2px solid #96CAF0;
	color: #fff;
	font-weight: 600;
}

#cancel_button {
	color: #DD5353;
	background-color: white;
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 20px;
	border: 2px solid #DD5353;
}

#cancel_button:hover {
	background: #DD5353;
	border: 2px solid #DD5353;
	color: #fff;
	font-weight: 600;
}

#list_button {
	color: #2C707E;
	background-color: white;
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 20px;
	border: 2px solid #2C707E;
}

#list_button:hover {
	background: #2C707E;
	border: 2px solid #2C707E;
	color: #fff;
	font-weight: 600;
}

/* 버튼 감싸는 div */
#buttons-div {
	width: 385px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-evenly;
}

/* 여행지 참고 사항 출력창 */
#req-ref-div{
	margin: auto;
    width: 800px;
    height: 220px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
}

/* 아이콘 + 지역 span 감싸는 div */
.title-div{
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    display: block;
}

.title-div>svg, img{
    margin-top: -6px;
}


#local-span{
	margin-left: 20px;
}

#cancel-span{
	margin-left: 6px;
}

/* 신청인, 날짜, 참고사항 각각의 div */
.req-div{
    text-align: left;
    margin-left: 74px;
    margin-top: 10px;
    border-left: 4px solid #96CAF0;
    height: 30px;
    display: 30px;
    align-items: center;
}

/* 신청인, 날짜, 신청글, 출력 텍스트 각각 전체 span */
.inner-span{
	font-size: 17px;
	margin-left: 10px;
	line-height: 30px;
}

/* 신청인, 날짜, 신청글  */
.inf{
	display: inline-block;
	width: 55px;
	font-weight: 700;
}

#cancel-div{
	border: 1px solid #b9b9b9;
    border-radius: 10px;
    margin-top: 60px;
    width: 800px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.flex-container {
	text-align: center;
	margin-left: auto;
}