@charset "UTF-8";

table{
	width:80%; align:center; text-align: center; margin-left:auto; margin-right:auto; margin-top:30px;
}

ul{
	font-weight:900;
}

.pageNumber{
	margin-left:5px; margin-right:5px;
}

th{
	font-size:24px;
}

td{
	padding:15px;
}

.page-item a {
	color: black;
}
