<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="myPageSideBar">
<head>
<meta charset="UTF-8">
<title>마이페이지 사이드바</title>
<style>
.nav-link {
	color: black;
}

.nav-link:hover {
	font-weight: 900;
}

#myPagesideBar {
	display: inline-flex;
	padding: 16px;
	border: 1px lightgray solid;
	border-radius: 8px;
	margin-top: 70px;
	margin-left: 50px;
}
#admin{cursor:pointer;}
</style>
</head>
<body>
	<div style="height: 40px;"></div>
	<!-- 사이드바 -->
	<div id="myPagesideBar">
		<ul class="nav flex-column" style="float: left;">
			<li style="border-bottom: 2px lightgray solid; width: 200px;"><h4>내
					정보</h4></li>
			<li class="nav-item"><a class="nav-link" href="myPage.mp">내
					정보 수정</a></li>
			<li class="nav-item"><a class="nav-link" href="updateMyPwd.mp">비밀번호
					변경</a></li>
			<li class="nav-item"><a class="nav-link"
				href="promoteToPlanner.mp">플래너 전환하기</a></li>
			<li class="nav-item">
				<a class="nav-link" id="admin" onclick="submitAdmin()">
					관리자 전환 요청하기
				</a>
			</li>
		</ul>
	</div>

	<script>
		function submitAdmin() {
			if (confirm("요청하시겠습니까")) {
				$.ajax({
					type:'post',
					url : 'submitAdmin.mp',
					data : {grade:'ADMIN'},
					success : (data) =>{
						if(data == 'PLANNER'){
    						alert('플래너 요청이 되어 있는 상태입니다');
    					}else if(data == 'ADMIN'){
    						alert('관리자 요청이 되어 있는 상태입니다.');
    					}else{
	    					alert('관리자 요청이 완료되었습니다');
    					}
					},
					error : (data) =>{
	   					alert('관리자 요청이 실패되었습니다')	    						
    				}
				})
			} else {
				return false;
			}
		}
	</script>
</body>
</html>