<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="myPageUpperBar">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<title>마이페이지 어퍼바</title>
<style>
	.movePage{text-decoration-line: none; color:black;}
	.movePage:hover{color:#96CAF0;}
	
	 #revision_button {
        color: #96CAF0; 
        background-color: white; 
        width: 80px; 
        height: 40px; 
        border: none; 
        border-radius: 20px; 
        margin-right: 5px; 
        border: 2px solid #96CAF0;
    }
     #replace_button {
        color: white; 
        background-color: #96CAF0; 
        width: 80px; 
        height: 40px; 
        border: none; 
        border-radius: 20px; 
        margin-right: 5px; 
        border: 2px solid #96CAF0;
    }
    #close_button {
        color: white; 
        background-color: #DD5353; 
        width: 80px; 
        height: 40px; 
        border: none; 
        border-radius: 20px; 
        border: 2px solid #DD5353;
    }
    
   
</style>
</head>
<body>
	<div style="height:40px;"></div>
	<!-- 프로필 -->
	<div class="container text-center" id="profileCon" style="margin:Auto; display:grid;" >
		<div style="width: 180px; height: 180px; border-radius: 9999px; overflow: hidden; justify-content: center; align-items: center;">
			<th:block th:if="${noProfile} != 'noProfile'">
				<img style="width:100%; height:100%; object-fit: cover;" th:src="|https://drive.google.com/thumbnail?id=${rename}|"/>
			</th:block>
			<th:block th:if="${noProfile} == 'noProfile'">
				<img style="width:100%; height:100%; object-fit: cover;" src="image/noProfile.png"/>
			</th:block>
		</div>
		<!-- 닉네임 및 내정보 이동 -->
		<div id="nickMove" class="container text-center" style=" margin-top:-130px;">
			<!-- 프로필 사진 교체 창 팝업 -->
			<button style="float:left; margin-left:150px; margin-top:100px;border:none; background:white;" onclick="changeImage()">
			<svg id="svgImage" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
					<path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
					<path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
			</svg>
			</button>
			<span style="float:left; font-size:40px; font-weight:900">
				[[${session.loginUser.memberName}]]
				<span style="font-size:20px; font-weight:100">&#91; [[${#numbers.formatDecimal(session.loginUser.memberPoint,1,'COMMA',0,'COMMA')}]] &#93;p</span>
				<br/>
				<span style="font-size:20px; font-weight:10; float:left; " >
					&#40; [[${session.loginUser.nickname}]] &#41;
				</span>
			</span>
			<br/><br/>
		</div>
	</div> 
	<div style="height:40px;"></div>
	<!-- 어퍼바 -->
	<div class="container text-center" style="margin: auto; display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; gao:-10px;" >
		<div style="color: black; font-size: 24px; font-weight: 700; line-height: 24px;">
			<a class="movePage" href="myPage.mp">내 정보</a>
		</div>
		<div style="color: black; font-size: 24px; font-weight: 700; line-height: 24px;">
			<a class="movePage" href="myPayPoint.mp">포인트</a>
		</div>
		<div class="movePage" style="color: black; font-size: 24px; font-weight: 700; line-height: 24px;">
			<a class="movePage" href="myPlan.mp">내 일정 보기</a>
		</div>
		<div style="color: black; font-size: 24px; font-weight: 700; line-height: 24px;">
			<a class="movePage" href="myInquiry.mp">내 문의글 보기</a>
		</div>
		<div style="color: black; font-size: 24px; font-weight: 700; line-height: 24px;">
			<a class="movePage" href="myBoard.mp">작성한 글 보기</a>
		</div>
	</div>
	
	
	<!-- 이미지 교체 모달 -->
	<div id="profileModal" class="modal" tabindex="1">
	   <div class="modal-dialog">
	       <div class="modal-content">
	           <div class="modal-header">
	               <h5 class="modal-title">프로필 사진 교체</h5>
	               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	           </div>
	           <form id="uploadImage" action="#" method="post" enctype="multipart/form-data" >
		           	<div class="modal-body">
		               <!-- 교체할 이미지 미리보기 -->
		               <img id="previewImage" width="120px" height="120px"  src="image/noProfile.png" alt="프로필 사진">
		               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		               <!-- 파일 선택 -->
		               <input type="file" accept="image/*" id="imageInput" name="imageInput" value="this.value"/>
		           </div>
		           <div class="modal-footer">
		               <button type="button" id="replace_button" onclick="uploadImage()" >수정</button>
		               <button type="button" id="close_button" data-bs-dismiss="modal">닫기</button>
		           </div>
	           </form>
	       </div>
	   </div>
	</div>
	
	 	
	
	
	<script>
		//프로필 사진 모달 팝업 replaceImage.mp
		function changeImage(){
			const imageModal = new bootstrap.Modal(document.getElementById('profileModal'));
		    imageModal.show()
		}
		
		//사진 첨부시 미리보기
	    document.getElementById('imageInput').addEventListener('change', function() {
           const preview = document.getElementById('previewImage');	
           const imageInput = document.getElementById('imageInput');
           
           if (imageInput.files && imageInput.files[0]) { // 파일이 선택되었는지 확인
               const file = imageInput.files[0];
               const reader = new FileReader(); 
               
               reader.onload = function(e) {
                   preview.src = e.target.result; // 읽어온 데이터로 이미지 업데이트
               }
               reader.readAsDataURL(file); // 파일을 데이터 URL로 읽기
           } else {
               preview.src = 'image/noProfile.png'; // 기본 이미지로 설정
           }
        });
		
		//프로필 사진 교체 
		function uploadImage() {
			const uploadImage = document.getElementById('uploadImage');
			const imageInput = document.getElementById('imageInput');
			const imageData = new FormData();
			//console.log(imageData.append)
			// 이미지 파일을 FormData에 추가
			if (imageInput.files.length > 0) {
				imageData.append('file', imageInput.files[0]); //fill은 키 값
			} else {
				alert('이미지를 삽입하세요')
				return; 
			}

			//console.log('FormData 객체:', imageData);
			alert("부적절한 사진 적발 시 관리자가 삭제할 수 있습니다")
			$.ajax({
				type : 'POST',
				url : 'uploadProfile.mp',
				data : imageData,
				processData : false, // jQuery가 데이터 처리를 하지 않도록 설정 ,  jQuery가 데이터 처리를 하지 않도록 하기 이는 FormData를 사용하는 경우 필수
				contentType : false, // jQuery가 Content-Type 헤더를 설정하지 않도록 설정
				success : (data) => {
					console.log('업로드 성공:', data);
					alert('수정되었습니다')
					window.location.reload();
					
				},
				error : (data) =>{
					console.error('업로드 실패:', data);
					alert('업로드에 실패하였습니다')
				}
			});
		}
	</script>
</body>
</html>