<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="myPlanSideBar">
<head>
<meta charset="UTF-8">
<title>내 일정보기 사이드바</title>
<style>
	.nav-link:hover {
		font-weight: 900;
	}
	
	#myPlansideBar {
		display: inline-flex;
		border: 1px lightgray solid;
		border-radius: 8px;
		padding: 16px;
		margin-top: 70px;
		margin-left: 50px;
	}
	
	.secondSidebar{margin:20px; display:none;}
	@media screen and (max-width: 1600px){
		#sidebar{
			display:none;
		}
		.secondSidebar{
			display:inline-block;
		}
	}
</style>
</head>
<body>
	<div style="height: 40px;"></div>
	<!-- 사이드바 -->
	<div id="myPlansideBar" class="flex-column">
		<ul class="nav flex-column" style="float: left;">
			<li style="border-bottom: 2px lightgray solid; width: 200px;  text-align:center;" ><h4>여행노트</h4></li>
			<li class="nav-item"><a class="nav-link" href="myPlan.mp"
				style="color: black;">여행 플랜 신청 리스트</a></li>
			<li class="nav-item"><a class="nav-link" href="myTripNote.mp"
				style="color: black;">내 여행 노트</a></li>
		</ul>
	</div>
</body>
</html>