<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="myPointSideBar">
<head>
<meta charset="UTF-8">
<title>포인트 사이드바</title>
<style>
	.nav-link:hover {
		font-weight: 900;
	}
	#pointsideBar {
		display: inline-flex;
		border: 1px lightgray solid;
		border-radius: 8px;
		padding: 16px;
		margin-top: 70px;
		margin-left: 50px;
	}
	.secondSidebar{margin:20px; display:none;}
	@media screen and (max-width: 1600px){
		#sidebar{
			display:none;
		}
		.secondSidebar{
			display:inline-block;
		}
	}
</style>
</head>
<body>
	<div style="height:40px;"></div>
	<!-- 사이드바 -->
	<div id="pointsideBar" class="flex-column">
		<ul class="nav flex-column" style="float: left;">
			<li style="border-bottom: 2px lightgray solid; width:200px; text-align:center; "><h4>포인트</h4></li>
			<li class="nav-item"><a class="nav-link" href="myPayPoint.mp" style="color: black; float:left">포인트 결제하기</a></li>
			<li class="nav-item"><a class="nav-link" href="myPoint.mp" style="color: black; float:left">결제 내역</a></li>
		</ul>
	</div>	
</body>
</html>