@charset "UTF-8";

body {
	margin: 0;
	line-height: normal;
}
.loader {
  width: 45%;
  height: 30%;
  position: relative;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 11.2px at 50% 50%,#0000 94%, #ff4747);
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
.div {
  	width: 80%;
  	position: relative;
  	height: 336px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 160px 24px;
  	box-sizing: border-box;
  	background-size: 100%;
  	background-repeat: no-repeat;
  	background-position: center;
  	text-align: center;
  	font-size: 60px;
  	color: white;
  	margin: 70px auto;
  	border-radius: 30px;
  	opacity: 0.5;
}
.title {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.05em;
  	/* mix-blend-mode: difference; */
  	/* -webkit-text-stroke: 0.2px black; */
  	background: #96caf0;
  	opacity: 0.9;
  	border-radius: 10px;
  	padding:5px;
  	padding-left: 15px;
  	padding-right: 15px;
}
.subtitle {
  	align-self: stretch;
  	position: relative;
  	font-size: 27px;
  	line-height: 120%;
  	margin-top:20px;
}
.text-content-title {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}

#content{
	align-items: center;
	text-align: center;
	width: 50%;
	min-width: 1000px;
	margin: 50px auto;
	opacity: 0.5;
}
.placeInfo{
	font-size: 20px;
	border-left: 5px solid #96caf0;
	margin-bottom:20px;
	padding: 10px;
/* 	align-content: center; */
	overflow: auto;
}
.placeDetail{
	font-size: 14px;
	border-left: 5px solid #96caf0;
	margin-bottom:10px;
	padding: 10px;
	overflow-wrap: break-word;
/* 	align-content: center; */
}
#placeContent{
	font-size: 17px;
	border-left: 5px solid #96caf0;
	margin-bottom:50px;
	margin-top:20px;
	padding: 10px;
}
#extraInfo{
	padding: 10px;
}
.line-div {
	width: 75%;
	border-top: 5px solid #96caf0;
	box-sizing: border-box;
	height: 5px;
	margin: 40px auto;
}
.review-text{
	width: 900px;
	margin: 10px auto;
}
#retitle{
	cursor: default;
	font-size:30px;
	font-weight: blod;
}
#goReview{
	margin-bottom: 40px;
}
.reviewTitle {
  	position: relative;
  	letter-spacing: -0.02em;
  	font-weight: 600;
  	cursor: default;
  	width: 100%;
  	height: 30px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.text-heading {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.avatar-icon {
  	width: 10%;
  	position: relative;
  	border-radius: 50%;
  	height: 10%;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.card-title {
  	align-self: stretch;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	cursor: pointer;
  	white-space: nowrap;
}
.starReview {
  	align-self: stretch;
  	position: relative;
  	color: #b3b3b3;
  	cursor: pointer;
}
.info {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
    width: 60%;
}
.avatar-block {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	font-size: 16px;
  	color: #757575;
  	cursor: pointer;
}
.testimonial-card {
    margin: 0;
    width: 30%;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 24px;
  	gap: 20px;
  	cursor: pointer;
}
.card-grid {
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%); 
  	width: 80%;
    max-width: 1100px;
  	position: relative;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
  	text-align: left;
  	font-size: 24px;
  	color: #1e1e1e;
  	margin-bottom: 70px;

}
#placeImg{
	width:100%;
	margin: 20px auto;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container {
    position: relative;
    width:270px;
    margin: 5px;
}
.image-container img {
    display: block;
    max-width: 270px;
    cursor: pointer;
}
.more-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal img {
    max-width: 80%;
    max-height: 80%;
}
.carousel-item img {
    margin: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* 버튼 배경색을 검정색으로 설정 */
}
.carousel-indicators button {
    background-color: black; /* 페이지네이션 버튼 배경색을 검정색으로 설정 */
}
.carousel-indicators .active {
    background-color: #D3D3D3; /* 활성화된 페이지네이션 버튼 배경색을 흰색으로 설정 */
}
#goReview {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#goReview {
  --primary-color: #111;
  --hovered-color: #96caf0;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

#goReview p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

#goReview::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.1s ease-out;
}

#goReview p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "후기 작성";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.03s ease-out;
}

#goReview:hover::after {
  width: 100%;
}

#goReview:hover p::before {
  width: 100%;
}

#goReview:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

#goReview svg {
  color: var(--primary-color);
  transition: 0.1s;
  position: relative;
  width: 15px;
}
.star{
	height: 100%;
	max-height: 30px;
	align-content: center;
}


.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  display: flex;
  padding:0;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px #2F6598;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.backIcon {
	width: 70px;
  	transition-duration: 0.1s;
}

.button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #2F6598;
  align-items: center;
}

.button:hover .backIcon {
  /* width: 20px; */
  transition-duration: 0.1s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "뒤로 가기";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
#rText{
	width: 60%;
	margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}