@charset "UTF-8";
.loader {
  width: 44.8px;
  height: 44.8px;
  position: relative;
  transform: rotate(45deg);
  margin: 200px auto;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 11.2px at 50% 50%,#0000 94%, #ff4747);
  top: 50%;
  left: 40%;
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
 .div {
  	width: 100%;
  	position: relative;
  	overflow: hidden;
  	display: flex;
  	min-height: 2700px;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	box-sizing: border-box;
  	gap: 64px;
  	text-align: left;
  	font-size: 16px;
  	color: #1e1e1e;
  	opacity: 0.5;
}
.menuTitle{
	text-align: center;
	margin-top:50px;
	color: black;
}
.local-container
.local-card{
	width: 220px;
	height: 250px;
	margin: 3px 10px;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #f5f5f5;
}

.card-text{
	bottom: 0;
	right: 0;
	background: #96caf0;
	opacity: 90%;
	border-radius: 5px;
	color: white;
}

.local-img{
	width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all .5s ease;
    border-radius: 5px;
}

.local-img:hover{
	object-fit: cover;
    border-radius: 5px;
    transform:scale(1.1);
    transition: all .5s ease;
    opacity: .75;
}
.text1 {
  	position: relative;
  	line-height: 140%;
}
.text {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.tag1 {
  	position: relative;
  	line-height: 100%;
}
.x-icon {
  	width: 10px;
  	position: relative;
  	height: 10px;
  	overflow: hidden;
  	flex-shrink: 0;
  	cursor: pointer;
}
.tag {
  	border-radius: 8px;
  	background-color: #f5f5f5;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px;
  	gap: 8px;
}
.keyword-list {
  	align-self: stretch;
  	border-radius: 4px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 4px;
}
.section {
  	width: 208px;
  	display: none;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.checkbox {
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
}
.label {
  	flex: 1;
  	position: relative;
  	line-height: 140%;
}
.checkbox-and-label {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
}
.checkbox-field {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.checkbox-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.section2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.slider-field {
  	width: 208px;
  	height: 42px;
  	display: none;
}
.checkbox-group.collapse {
    max-height: 200px; /* 원하는 최대 높이로 설정 */
    overflow-y: auto;
}
.filter-menu {
  	width: 240px;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	position: fixed;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 16px;
  	gap: 24px;
  	top:200px;
  	left:100px;
}
.icon-button {
  	width: 44px;
  	border-radius: 32px;
  	background-color: #2c2c2c;
  	border: 1px solid #2c2c2c;
  	box-sizing: border-box;
  	height: 44px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.value {
  	flex: 1;
  	position: relative;
  	line-height: 100%;
}
.search {
  	flex: 1;
  	border-radius: 9999px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 12px 16px;
  	gap: 8px;
}
#search{
	width: 100%;
}
#searchIcon{
	justify-content: flex-end;
}
.search-filter {
  	width: 327px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 24px;
}
.filter-bar {
  	align-self: stretch;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	display: flex;
  	margin-bottom: 16px;
}
.image-icon {
  	align-self: stretch;
  	max-width: 100%;
  	overflow: hidden;
  	height: 247px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.text7 {
  	flex: 1;
  	position: relative;
  	line-height: 140%;
  	font-weight: 900;
}
.text6 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.text-strong1 {
  	position: relative;
  	line-height: 140%;
  	overflow: hidden;
  	display: -webkit-box;
    -webkit-line-clamp: 2; /* 두 줄까지 허용 */
    -webkit-box-orient: vertical;
  	text-overflow: ellipsis;
  	white-space: normal;
  	width: 100%;
  	height: 45px;
}
.body {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.product-info-card {
  	flex: 1;
  	border-radius: 8px;
  	border: 1px solid #d9d9d9;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	gap: 16px;
  	margin-bottom: 30px;
}
.product-info-card:hover{
	transform:translateY(-10px);
	cursor:pointer;
}
.card-grid {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: flex-center;
  	/* gap: 24px; */
  	margin-bottom: 30px;
  	color: #1e1e1e;
}
.section-product-grid {
  	flex: 1;
  	border-radius: 8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-center;
  	justify-content: flex-center;
  	min-width: 1100px;
  	gap: 35px;
  	color: #b3b3b3;
  	position: absolute;
  	top: 30px;
  	left: 50%;
  	transform: translateX(-40%);
}

.form-select {
    margin-left: 16px;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    width: 30px;
}
#search{
	border:none;
	outline:none;
}
.group{
	color: black;
	text-decoration: none;
	font-weight: blod;
}
.page-item a{
	color: black;
}
.clickCard{
	max-width: 30%;
	margin: 0px;
}
