@charset "UTF-8";

.container-all{
	margin-top: 20px;
	margin-left: 55px;
}

.box-size{
	padding: 4px 7px;
}

.sum-board{
	width: 20%;
}

.board-table{
	margin: 5px auto;
}
.list-board{
	width: 70%;
	margin-left: 50px;
}

.content-list{
	margin: 0 auto;
	width: 95%;
}

.search-div{
	margin-top: 15px;
	margin-right: 15px;
	text-align: right;
}

.search-div-keyword{
	margin-right: 10px;
}

.search-input:focus{
	border-bottom-left-radius: var(--bs-border-radius) !important;
	border-top-left-radius: var(--bs-border-radius) !important;
	border: 1px solid #dee2e6 !important;
}

.search-box:hover{
	background: var(--bs-body-bg) !important;
	color: #6c757d !important;
	font-weight: bold;
}

.search-box{
	border: 1px solid #dee2e6 !important;
}

.search-box:focus{
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.box-shadow-non:focus{
	box-shadow: none !important;
	border: 1px solid #dee2e6 !important;
	border-bottom-right-radius: var(--bs-border-radius) !important;
	border-top-right-radius: var(--bs-border-radius) !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.box-shadow-no:focus{
	box-shadow: none !important;
	border: 1px solid #dee2e6 !important;
}

.board-list-table{
	width: 100%;
	margin: 0 auto;
}

.list-table{
	margin-bottom: 20px;
	max-height: 580px;
}