@charset "UTF-8";

body{
	margin: 0;
}

.container-top{
	margin-top: 30px;
	margin-left: 55px;
	min-width: 1450px;
	min-height: 380px;
}

.list-container{
	width: 50%;
	height: 90%;
	align-items: center;
}

.content-list{
	margin: 10px auto 0 !important;
	width: 93% !important;
	max-height: 680px;
	overflow-y: auto;
	min-width: 705px;
	display: flex;
	flex-direction: inherit;
	flex-wrap: wrap;
}

.content-list::-webkit-scrollbar{
	width: 5px;
}

.content-list::-webkit-scrollbar-thumb{
	background-color: #657C8D;
	border-radius: 20px;
}

.content-list::-webkit-scrollbar-track{
	background-color: white;
}

.content-list::-webkit-scrollbar-button{
	display: none;
}

.margin-right{
	margin: 4px;
}

.change-container{
	margin-left: 80px;
	width: 40%;
}

.content-change{
	margin: 15px auto 0;
	width: 98%;
	height: 200px;
}

.change-select{
	width: 20%;
}

.change-file{
	margin-left: 20px;
	width: 70%;
}

.select-button{
	width: 100% !important;
	height: 100% !important;
}

.button{
	text-align: center;
	width: 20%;
	margin: 0 auto;
	height: 40px;
}

.local-img-change{
	height: 150px;
}

.plan-img-change{
	margin-top: 10px;
	height: 150px;
}