@charset "UTF-8";

body{
	margin: 0;
}

.container-top{
	margin-top: 30px;
	margin-left: 55px;
	min-width: 1450px;
	min-height: 380px;
}

.enter-container{
	width: 60%;
	height: 90%;
	align-items: center;
}

#enter-stats, #month-stats, #days-stats{
	width: 98%;
	height: 98%;
}


.content-enter{
	margin: 10px auto 0;
	width: 95%;
	height: 300px;
	border: 1px solid lightgray;
}

.user-container{
	width: 15%;
	height: 250px;
}

.content-user{
	width: 95%;
	margin: 5px auto 0;
}

.container-bottom{
	margin-top: 10px;
	margin-left: 55px;
	min-width: 1450px;
	min-height: 340px;
}

.contents-container{
	margin-left: 100px;
	align-items: flex-center;
	width: 25%;
}

.money-container{
	width: 60%;
	margin-left: 100px;
	height: 330px;
}

.money-box{
	width: 95%;
	margin: 10px auto 0;
	height: 280px;
}

.money-total{
	width: 80%;
	height: 60px;
	display: flex;
	border: 1px solid #96caf0;
	border-width: medium;
}

.total-text{
	width: 30%;
	border-right: 1px solid #96caf0 !important;
	font-size: 25px;
	text-align: center;
	line-height: 55px;
}

.total-sum{
	width: 70%;
	line-height: 55px;
	font-size: 23px;
	padding-left: 35px;
	letter-spacing: 1px;
}

.money-month-day{
	margin-top: 15px;
	display: flex;
	width: 100%;
}

.money-month, .money-day{
	width: 48%;
	height: 200px;
	margin: 0 auto;
}
