@charset "UTF-8";

.container-user{
	display: flex;
	margin-top: 40px;
	min-width: 1450px;
}

.sum-user{
	margin-left: 55px;
	width: 15%;
}

.user-table{
	margin-top: 5px;
}

.list-user{
	margin-left: 80px;
	width: 70%;
}

.list-table{
	max-height: 650px;
	margin-bottom: 20px;
}