@charset "UTF-8";

.notice-container{
	margin-top: 20px;
	margin-left: 55px;
	height: 700px;
}

.notice-list{
	width: 45%;
}

.search-div{
	margin-top: 15px;
	margin-right: 15px;
	text-align: right;
}

.search-div-keyword{
	margin-right: 10px;
}

.button-div{
	float: left;
	width: 100px;
}

.content-add{
	margin-top: 5px;
	margin-left: 50px;
	width: 100%;
}

.content-add:hover{
	background: white !important;
	color: black !important;
	font-weight: bold;
}

.list-table{
	max-height:600px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.search-input:focus{
	border-bottom-left-radius: var(--bs-border-radius) !important;
	border-top-left-radius: var(--bs-border-radius) !important;
	border: 1px solid #dee2e6 !important;
}

.search-box:hover{
	background: var(--bs-body-bg) !important;
	color: #6c757d !important;
	font-weight: bold;
}

.search-box{
	border: 1px solid #dee2e6 !important;
}

.search-box:focus{
	border-bottom-right-radius: var(--bs-border-radius) !important;
	border-top-right-radius: var(--bs-border-radius) !important;
}



.detail-notice{
	width: 45%;
	margin-left: 70px;
	margin-right: 15px;
}

.notice-detail{
	width: 95%;
	margin: 5px auto 0;
	height: 650px;
}

.title-div-title{
	width: 90%;
	margin: 20px auto 0;
	font-size: 20px;
	border-bottom: 3px solid #96caf0;
	padding-left: 10px;
	font-weight: bold;
}

.title-detail-div{
	width: 87%;
	margin: 5px auto 0;
	height: 65px;
	border: 1px solid #2F6598;
}

.title-textarea{
	border: none;
	resize: none;
	border-radius: 0 !important;
	padding: 10px !important;
	min-height: 0 !important;
}

.title-div-content{
	width: 90%;
	margin: 20px auto 0;
	font-size: 20px;
	border-bottom: 3px solid #96caf0;
	padding-left: 10px;
	font-weight: bold;
}

.content-detail-div{
	width: 87%;
	margin: 5px auto 0;
	height: 400px;
	border: 1px solid #2F6598;
}

.reg-div{
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.content-reg{
	background: white !important;
	margin-top: 15px;
}

.content-reg:hover{
	background: #2F6598 !important;
	color: white !important;
}

.box-size{
	padding: 3px;
}

.box-size:hover{
	background: #2F6598 !important;
	color: white !important;
}
