@charset "UTF-8";

.container-top{
	margin-top: 30px;
	margin-left: 55px;
	min-width: 1450px;
	min-height: 380px;
}

.cancel-container{
	width: 50%;
	max-height: 710px;
}

.list-table{
	margin-bottom: 20px;
	max-height: 610px;
	min-width: 560px;
}

.calcul-container{
	margin-left: 70px;
	width: 40%
}

