@charset "UTF-8";
.container-left{
	float: left;
	margin-left: 55px;
	margin-top: 25px;
	height: 748px;
	width: 35%;
}

.list-container{
	width: 100%;
}

.content-list{
	margin: 5px auto;
	width: 95%;
	height: 590px;
}

.one-plan{
	height: 128px;
}

.list-table{
	max-height: 620px;
	min-width: 540px;
}

.container-right{
	margin-left: 28px;
	margin-top: 25px;
	height: 748px;
	width: 59%;
}

.detail-container{
	width: 100%;
}

.content-detail{
	margin: 10px auto;
	width: 98%;
	height: 680px;
	min-width: 939.67px;
	overflow-y: auto;
}

.content-detail::-webkit-scrollbar{
	width: 5px;
}

.content-detail::-webkit-scrollbar-thumb{
	background-color: #657C8D;
	border-radius: 20px;
}

.content-detail::-webkit-scrollbar-track{
	background-color: white;
}

.content-detail::-webkit-scrollbar-button{
	display: none;
}

.detail-rearSchedule{
	width: 99%;
	margin: 0 auto;
}

/* 각 날짜+지역, 선택한 해시태그, 계획 감싸는 div */
.detail-content{
	margin-left: auto; 
	margin-right: auto;
	border: 1px solid lightgray; 
}

/* 일자별 계획 전체 감싸는 div */
.detail-plan-all{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 900px;
	align-items: flex-start;
}

/* 한 날짜당 계획 */
.detail-plan{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 250px;
    align-items: stretch; /* 자식 요소들이 동일한 높이를 가지도록 */
    padding-left: 65px;
}
/* n일차 텍스트 div */
.dayText {
  	font-size: 32px;
  	line-height: 100%;
  	font-weight: 900;
}
/* n일차(하루) 감싸는 div */
.plan{
    flex-grow: 1; /* 자식 요소가 남은 공간을 차지하게 */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 자식 요소들을 상하로 고르게 배치 */
}
/* 날짜 div */
.date {
  	font-size: 15px;
  	line-height: 100%;
  	margin-top: 10px;
  	margin-bottom: 10px;
}
/* 라인, 동그라미 감싸는 div */
.plan-spans{
	display: inline-block; 
}

/* 계획 선 */
.line{
	position: relative;
	display: inline-block;
	width: 0;
	height: 128px;
	border: 1px solid black;
	margin-left: 13px;
}

/* 계획 동그라미 */
.round{
	position: absolute;
	display: inline-block;
	z-index: 5;
	background: #96CAF0;
	width: 18px;
	height: 18px;
	border-radius: 50px;
    top: 15px;
    right: -9px;
}
/* input 대체 label 전체 감싸는 div */
.plan-labels{
	display: inline-block; 
	position: relative;
	bottom: 40px;
}
/* input 입력 후 체크 버튼 눌렀을 시 변경된 label 한 개 감싸는 div*/
.label-div{
	margin-left: 10px;
}
/* n일차(하루) 감싸는 div*/
.plan{
	width: 220px;
	margin-bottom: 30px;
}
/* 체크 버튼 눌렀을 때의 장소 label */
.placeLabel{
	font-size: 16px;
	font-weight: 800;
	display: block;
    width: 155px;
    overflow: hidden;
}
/* 체크 버튼 눌렀을 때의 시간 label */
.timeLabel{
	font-size: 13px;
    font-weight: 700;
    color: #727272;
}
/* 체크 버튼 눌렀을 때의 메모 label */
.memoLabel{
	font-size: 12px;
    font-weight: 700;
    color: #727272;
    display: block;
    width: 155px;
    overflow: hidden;
}

.planner-add{
	width: 98%;
	margin: 0 auto;
}

#planner-add-text{
	border: 1px solid lightgray; 
	height: 100px; 
	overflow-y: auto; 
	resize: none;
	width: 100%;
	margin: 0 auto; 
	padding: 0.625rem;
	border-radius: 0;
}

#planner-add-text:focus{
	border: 1px solid lightgray !important;
	border-radius: 0 !important;
}