@charset "UTF-8";

.container-left{
	float: left;
	margin-left: 55px;
	margin-top: 20px;
	height: 748px;
	width: 35%;
}

.list-container{
	width: 100%;
}

.content-list{
	margin: 5px auto;
	width: 95%;
	height: 480px;
}

.list-table{
	max-height: 470px;
	overflow-y: auto;
}

.list-table::-webkit-scrollbar{
	width: 5px;
}

.list-table::-webkit-scrollbar-thumb{
	background-color: #657C8D;
	border-radius: 20px;
}

.list-table::-webkit-scrollbar-track{
	background-color: white;
}

.list-table::-webkit-scrollbar-button{
	display: none;
}

.box-size{
	width:60%;
	margin: 0 auto;
}

.add-container{
	width: 70%;
}

.content-add{
	margin: 5px auto;
	width: 95%;
	height: 150px;
}

.form-add{
	width: 100%;
}

.point-table{
	width: 100%;
	height: 100%;
}

.point-table input{
	width: 95%;
	margin: auto;
}


.container-mid{
	float:left;
	width: 22%;
	height: 748px;
	margin-top: 20px;
	margin-left: 55px;
}

.sum-container{
	height: 170px;
	width: 80%;
}

.sum-table{
	width: 90%;
	margin: 5px auto;
}

.top-container{
	margin-top: 36px;
}

.container-right{
	float:left;
	width: 30%;
	height: 748px;
	margin-top: 20px;
	margin-left: 55px;
}

.sum-list-container{
	margin-top: 20px;
}

.content-sum-list{
	margin: 5px auto;
	width: 95%;
}
