@charset "UTF-8";

.ui-datepicker {
	font-family: 'NanumBarunGothic';
	width: 400px;
	padding: 0.2em .2em 0;
}

.ui-widget-header {
	border: 0px solid lightgray;
	background: #96caf0;
	height: 50px;
}

.ui-datepicker-calendar>thead>tr>th {
	font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px 0;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	border: 0px solid #c5c5c5;
	background-color: transparent;
	font-weight: normal;
	color: #454545;
	text-align: center;
}

/* n년 n월 타이틀 */
.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	padding: 0px;
	font-weight: bold;
}

.ui-datepicker {
	background-color: #fff;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px;
	padding-bottom: 10px;
	width: auto;
	max-width: 350px;
	height: 340px;
}

.ui-widget.ui-widget-content {
	border: 1px solid #eee;
}

tbody>tr{
	height: 40px;
}

#datepicker:focus>.ui-datepicker {
	display: block;
}

.ui-datepicker-calendar .ui-state-active {
	background-color: #2F6598;
	color: white;
	border-radius: 14px;
}

.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
}

.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}

.ui-datepicker-calendar {
	width: 100%;
}

/* 일, 월, 화, ... 토 */
.ui-datepicker-calendar>thead>tr>th {
	padding: 10px;
	font-size: 20px;
	font-weight: bolder;
}

.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 13px !important;
	font-weight: bold !important;
	text-decoration: none;
}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}

/* 1일~말일 날짜들 */
.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	width: 44px;
	height: 30px;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 13px;
}

.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: transparent;
	opacity: 0.6;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
	.ui-button:hover, .ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}

/* 이전, 이후 갈 수 있는 화살표 */
.ui-widget-header .ui-icon {
	background-image: url('../../image/btns.png');
}
/* 화살표 기본 마진 없애기 */
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	margin-top: 0;
}

.ui-icon-circle-triangle-e {
	background-position: -20px 0px;
	background-size: 36px;
}

.ui-icon-circle-triangle-w {
	background-position: -0px -0px;
	background-size: 36px;
}

.ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: red !important;
}

.ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: #0099ff !important;
}

.ui-datepicker-calendar>thead>tr>th:first-child {
	color: red !important;
}

.ui-datepicker-calendar>thead>tr>th:last-child {
	color: #0099ff !important;
}

/* 오늘 날짜 */
/* .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { */
/* 	border: 0; */
/* 	background: #f1f1f1; */
/* 	border-radius: 35%; */
/* 	padding-top: 4px; */
/* 	padding-bottom: 4px; */
/* } */

.inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0px;
}

.inp:focus {
	outline: none;
	background-color: #eee;
}