.page-link:hover {
	cursor: pointer;
}

#mainContainer {
	width: 1400px;
}

.rounded-circle {
	object-fit: cover;
}

.plannerList:hover {
	cursor: pointer;
}

.plannerList {
	vertical-align: middle;
}

.plannerList .sIntro {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size:15px;
}

.local-card{
	height: 240px;
	margin: 3px 10px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
}

.card-text{
	bottom: 0;
	right: 0;
	background: #96caf0;
	opacity: .9;
	border-radius: 5px;
	color: white;
}

.local-img{
	width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all .5s ease;
    border-radius: 5px;
}

.local-img:hover{
	object-fit: cover;
    border-radius: 5px;
    transform: scale(1.1);
    transition: all .5s ease;
    opacity: .75;
}

.plannerList{
	border: 1px;
	border-radius: 15px;
	margin: 3px 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.plannerList:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor: pointer;
	opacity: 100%;
}

.swiper-wrapper{
	width: 100px;
}

.swiper-container {width: 1250px; height: 250px;}
.swiper-container {overflow: hidden;}
.swiper-slide {opacity:1; transition:opacity 0.3s;}

.swiper-button-wrapper {
  width:1400px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  position:absolute;
  top:380px;
  left:50%;
  transform:translate(-50%,-50%);
}

.swiper-button-next, .swiper-button-prev {
	color: #96caf0 !important;
}

.swiper-wrapper {
	height: 800px !important;
}

.sContainer {
	height: 270px;
}

.swiper-pagination {
	height: 30px !important;
	position:absolute !important;
	top: 500px !important;
}

.swiper-pagination-bullet {
	width: 40px !important;
	height: 4px !important;
	border-radius : 0px !important;
}

.swiper-pagination-bullet-active {
	background: #2F6598 !important;
}