@charset "UTF-8";

#mainContainer {
	width: 1400px;
}

.form-control {
	box-shadow:none !important;
	border:2px solid black !important;
}

/* 안내문구 제목 */
.guide {
	font-family: 'NanumBarunGothic';
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
}

.dateguide {
	font-size: 15px;
	color: gray;
}

/* 폼 감싸는 div */
.main-div {
	text-align: center;
	font-family: 'NanumBarunGothic';
}
/* 각 선택 구역 감싸는 div */
.contain-div {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	width: 45%;
	text-align: left;
}
/* 여행기간과 날짜 감싸는 div */
#p-calender-div {
	height: 530px;
}

/* 달력 api div */
.datepicker {
	display: inline-block;
}
/* 여행 출발 날짜, 여행 마지막 날짜 */
.datepicker>span {
	display: block;
	margin-top: 10px;
	padding: 10px;
	font-size: large;
	font-weight: 700;
}
/* 각 선택 구역의 타이틀 */
.middle-title {
	font-weight: bold;
	font-size: 25px;
	margin-left: 10px;
}
/* 선택 폼 감싸는 div */
.contain-in-div {
	margin-top: 30px;
}
/* 여행기간, 달력 감싸는 div */
#calender-div {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	border-radius: 10px;
	height: 430px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	min-width: fit-content;
}

/* 일정 신청 버튼 */
#insert{
	margin: 30px 0px 60px 0px;
	color: #2F6598; 
    background-color: white; 
    width: 90px; 
    height: 40px; 
    border: none; 
    border-radius: 20px; 
    margin-right: 5px; 
    border: 2px solid #2F6598;
}
#insert:hover{
	 background: #2F6598;
     border: 2px solid #2F6598;
     color: #fff;
     font-weight: 600;
}

#myPointDiv, #payPointDiv {
	padding: 10px;
	margin: 10px 10px 10px 0px;
	color: white;
	border-radius: 10px;
	width: 200px;
}

#myPointDiv {
	background: #2F6598;
}

#payPointDiv {
	background: #96caf0;
	
}
