@charset "UTF-8";

#mainContainer {
	width: 1400px;
	margin-top: 50px;
}

.goSchedule {
	height: 550px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.goSchedule-text {
	margin: 15px 10px;
	padding: 10px;
	right: 0;
	top: 0;
	color: #2F6598;
	background: white;
	border-radius: 10px;
	opacity: 0.9;
	cursor: pointer;
}

.medalDiv {
	margin: 10px 5px;
}

.medal {
	width: 60px;
	height: 60px;
}

.local-card, .planner-card {
	height: 240px;
	margin: 3px 10px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
}

.planner-card-text {
	bottom: 0;
	right: 0;
	background: #2F6598;
	opacity: .9;
	border-radius: 5px;
	color: white;
}

.local-card-text {
	bottom: 0;
	right: 0;
	background: #96caf0;
	opacity: .9;
	border-radius: 5px;
	color: white;
}

.local-card-img, .planner-card-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	transition: all .5s ease;
	border-radius: 5px;
}

.local-card-img:hover, .planner-card-img:hover {
	object-fit: cover;
	border-radius: 5px;
	transform: scale(1.1);
	transition: all .5s ease;
	opacity: .75;
}

.place-card {
	text-align: center;
	height: 240px;
	margin: 3px 10px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
}

.place-card img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	transition: all .5s ease;
	border-radius: 5px;
}

.place-card p {
	font-size: 20px;
	color: white;
	background: #96caf0;
	font-weight: bold;
	opacity: 0.5;
}

.place-card:hover {
	cursor: pointer;
}

.place-card:hover img {
	opacity: 0.5;
	transform: scale(1.1);
	transition: all .5s ease;
}

.place-card:hover p {
	opacity: 1;
	transform: translateY(-120px);
	transition: all .5s ease-in-out;
}

#planImg {
	cursor: pointer;
}

#topPlace {
	margin-bottom: 50px;
}


/* 팝업 버튼 스타일 */
.popup_btn {
  border: 0;
  background: none;
  cursor: pointer;
}

/* 메인 팝업 스타일 */
.main_popup {
  position: fixed;
  z-index: 1005;
  border: 1px solid black;
/*   -webkit-box-shadow: 0px 0px 14px 6px #96caf0; */
/*   box-shadow: 0px 0px 14px 6px #96caf0; */
  display: none;
  float: right;
  right: 200px;
  top: 80px;

  /* 팝업이 열릴 때의 스타일 */
  &.on {
    display: block;
    background-color: #fff;
  }

  /* 이미지 랩퍼 스타일 */
  .img_wrap {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 닫기 버튼 스타일 */
  .btn_close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 0;
    border: 0;
    background: none;

    /* 닫기 버튼의 대각선 선 스타일 */
    &::before {
      content: "";
      width: 2px;
      height: 32px;
      background-color: #333;
      position: absolute;
      top: 0;
      left: 22px;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      width: 32px;
      height: 2px;
      background-color: #333;
      position: absolute;
      top: 15px;
      left: 7px;
      transform: rotate(45deg);
    }
  }

  /* 오늘 닫기 버튼 스타일 */
  .btn_today_close {
    width: 100%;
    height: 25px;
    background-color: #2F6598;
    text-align: center;
    color: #fff;
    font-size: 14px;
    display: block;

    span {
      display: block;
      line-height: 25px;
      vertical-align: bottom;
      opacity: 0.8;
    }
  }
}

.img-wrap{
	width: 400px;
	height: 100px;
	display: flex;
	flex-direction: column;
}

.popup-alert{
	font-size: 20px;
	margin-top: 22px;
	margin-bottom: 2px;
	padding-left: 25px;
}

.popup-link{
	color: gray;
	text-decoration: none;
	border-bottom: 1px solid gray;
	font-size: 15px;
	margin-left: 25px;
}