<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수정 완료 등등</title>
</head>
<body>
	<input id="myPage" type="hidden" value="myPage">
	<input id="updateMyPwd" type="hidden" value="updateMyPwd">
	<script th:inline="javascript">
		const myPage = document.getElementById('myPage').value;
		const updateMyPwd = document.getElementById('updateMyPwd').value;
		/*<![CDATA[*/
		var pageIndex = /*[[${pageIndex}]]*/
		/*]]>*/
		
		console.log(pageIndex);
		if(myPage == pageIndex){
			alert("정보가 수정되었습니다")
			location.href = "logout.me"			
		}else if(updateMyPwd == pageIndex){
			alert("비밀번호가 수정되었습니다")
			location.href = "logout.me"
		}
	</script>
</body>
</html>