<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, width=device-width">
<title>내 여행노트 상세보기</title>
<style>
</style>
<link rel="stylesheet" href="css/myPage/detailMyTripNote.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="css/plan/datepicker.css" type="text/css" />
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
		<div style="height: 120px;">
		<!-- 사이드바 -->
		<div id="sidebar">
			<div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div>
		</div>
	</div>
	
	<form id="detailMyTripForm">
		<div class="flex-container">
			<div style="text-align: center;">
				<span class="secondSidebar"><a class="nav-link" href="myPlan.mp">플래너일정요청리스트</a></span>
	        	<span class="secondSidebar"><a class="nav-link" href="myTripNote.mp">내 여행 노트</a></span>
			</div>
			
			<div id="contain-all-div">
				<div id="title-div">내 여행노트</div>
				<div class="contain-div" id="detailForm">
					<div class="inline-contain-div">
						<span class="textSpan" id="startDate-span" th:text="${s.startDate}"></span>
						<span class="textSpan">-</span> 
						<span class="textSpan" id="endDate-span" th:text="${s.endDate}"></span> 
						<span class="textSpan">동안</span>
					</div>
					<div class="inline-contain-div">
						<span class="textSpan" id="spot-span" th:text="${s.spot}"></span>
						<span class="textSpan">(으)로 떠나는 여행 계획입니다</span>
					</div>
					<div class="editButton-div" id="rnEdB">
<!-- 						<button type="button" class="runButton" id="editButton" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">수정</button> -->
						<button type="button" class="runButton" id="editButton" data-bs-toggle="modal" data-bs-target="#exampleModal">수정</button>
						<input type="hidden" name="scNo" th:value="${s.scNo}" id="scNo"/>
					</div>				
				</div>
				
				<div class="contain-div" id="editForm" style="display: none;">
					<div class="inline-contain-div edit-div">
						<span class="textSpan" id="startDate-span" th:text="${s.startDate}"></span>
						<span class="textSpan">-</span> 
						<span class="textSpan" id="endDate-span" th:text="${s.endDate}"></span> 
						<span class="textSpan">동안</span>
					</div>
					<div class="inline-contain-div edit-div">
						<select id="selectSpotHidden" name="spot" class="form-select selectOption">
							<option class="select_opt" value="서울" th:selected="${ s.spot == '서울' }">서울</option>
							<option class="select_opt" value="인천" th:selected="${ s.spot == '인천' }">인천</option>
							<option class="select_opt" value="대전" th:selected="${ s.spot == '대전' }">대전</option>
							<option class="select_opt" value="대구" th:selected="${ s.spot == '대구' }">대구</option>
							<option class="select_opt" value="광주" th:selected="${ s.spot == '광주' }">광주</option>
							<option class="select_opt" value="부산" th:selected="${ s.spot == '부산' }">부산</option>
							<option class="select_opt" value="울산" th:selected="${ s.spot == '울산' }">울산</option>
							<option class="select_opt" value="세종" th:selected="${ s.spot == '세종' }">세종</option>
							<option class="select_opt" value="경기" th:selected="${ s.spot == '경기' }">경기</option>
							<option class="select_opt" value="강원" th:selected="${ s.spot == '강원' }">강원</option>
							<option class="select_opt" value="충북" th:selected="${ s.spot == '충북' }">충북</option>
							<option class="select_opt" value="충남" th:selected="${ s.spot == '충남' }">충남</option>
							<option class="select_opt" value="경북" th:selected="${ s.spot == '경북' }">경북</option>
							<option class="select_opt" value="경남" th:selected="${ s.spot == '경남' }">경남</option>
							<option class="select_opt" value="전북" th:selected="${ s.spot == '전북' }">전북</option>
							<option class="select_opt" value="전남" th:selected="${ s.spot == '전남' }">전남</option>
							<option class="select_opt" value="제주" th:selected="${ s.spot == '제주' }">제주</option>
						</select> <span class="textSpan">(으)로 떠나는 여행 계획입니다</span>
					</div>
					<div class="editButton-div">
						<button type="button" id="completeButton" class="runButton">완료</button>
						<button type="button" id="cancelButton" class="notButton cancelBtn">취소</button>
					</div>
				</div>
				
				<!-- 내 여행 일정 -->
				<div class="contain-div">
					<div id="planAll" class="grid">
						<div class="dayPlan g-col-6 g-col-md-4" th:each="date : ${dates}">
							<div class="dayText" th:text="|${date.key}일차|"></div>
							<div class="date" th:text="${date.value}"></div>
							<div class="planDiv">
								<div class="one-plan" th:each="p, index : ${pList}" th:if="${date.value == p.day}">
									<input type="hidden" name="plNo" class="plNos" th:value="${p.plNo}"/>
									<input type="hidden" name="day" th:value="${p.day}"/>
									<div class="plan-spans">
										<span class="line"><span class="round"></span></span>
									</div>
									<div class="plan-labels">
										<div class="label-div">
											<label class="planLabel placeLabel" th:text=${p.place}></label>
										</div>
										<div class="label-div">
											<label class="planLabel timeLabel" th:text="${p.time}"></label>
											<div class="plan-checks">
												<div class="checkbox-wrapper-46">
													<input type="checkbox" th:id="|cbx${index.index}|" class="inp-cbx" th:checked="${p.reserve == 'Y'}"><label th:for="|cbx${index.index}|" class="cbx">
													<span class="cbSvg"><svg viewBox="0 0 12 10" class="cbSvg" height="10px" width="12px"><polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span><span class="reserveText">예약 여부</span></label>
												</div>
											</div>
										</div>
										<div class="label-div">
											<label class="planLabel memoLabel" th:text="${p.memo}"></label>
										</div>
									</div>
									<div class="plan-images"></div>
								</div>
							</div>
							<div class="addButton-div">
								<button class="placeAddButton" type="button">장소 추가</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" style="padding: 16px;">
							<h1 class="modal-title fs-5" id="exampleModalLabel" style="font-size: 18px;">현재는 지역만 수정 가능합니다 &#128583;</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<span>날짜를 수정하려면 새로운 일정을 작성해 주세요</span>
						</div>
						<div class="modal-footer" style="padding: 10px;">
							<button type="button" id="change_local" class="runButton" data-bs-dismiss="modal" style="width: fin-content;">지역만 변경</button>
							<button type="button" class="notButton" data-bs-toggle="modal" data-bs-target="#exampleModal2">뭐?!</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" style="padding: 16px;">
							<h5 class="modal-title fs-5" id="exampleModalLabel2" style="font-size: 18px;">최대한 빠르게 날짜도 수정 가능하도록 업데이트 하겠습니다! &#128549;</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-footer" style="padding: 10px;">
							<button type="button" id="close" class="notButton cancelBtn" data-bs-dismiss="modal">닫기</button>
							<button type="button" id="plan_move" class="runButton" style="width: fit-content;">일정 생성하러 가기</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 제출버튼 -->
			<div id="buttons-div">
				<button id="back_button" class="runButton" type="button">뒤로가기</button>
				<button id="delete_button" class="notButton" type="button">삭제</button>
			</div>
		</div>
	</form>
	<div id="inputHiddens" style="margin-bottom: 400px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}"></div>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>	
	<script th:inline="javascript">
		/*<![CDATA[*/
		let page = /*[[${page}]]*/1;
		/*]]>*/
		
		// 수정 버튼 -> 뭐?! -> 일정 작성하러 가기 선택했을 때
		document.getElementById('plan_move').addEventListener('click', () => {
			location.href = "planMain.pl";
		})
		
		// 뒤로 가기
		document.getElementById('back_button').addEventListener('click', () =>{
			 window.history.back();
		})
		
		window.onload = () => {
			const form = document.getElementById('detailMyTripForm');
			
			document.getElementById('delete_button').addEventListener('click', function(){
				if(confirm("정말 삭제하시겠습니까?")){
					form.action = "deleteTripNote.mp";
					form.method = "post";
					form.submit();
				} else {
					console.log('좋습니다');
				}
				
			});
			
			// 장소 추가 버튼 클릭
			document.querySelectorAll('.placeAddButton').forEach(function(addButton) {
				addButton.addEventListener('click', function(e){
					let planDiv = e.target.parentElement.previousElementSibling;
					
					const newOnePlan = document.createElement('div');
					newOnePlan.classList.add('one-plan');
					
					const planSpans = document.createElement('div');
					planSpans.classList.add('plan-spans');
					planSpans.innerHTML = '<span class="line"><span class="round"></span></span>';
					
					let ii = 1;
					const planInputs = document.createElement('div');
					planInputs.classList.add('plan-inputs');
					planInputs.innerHTML = '<div><input type="text" class="plan-text placeInput" name="place" placeholder="장소 입력창"></div><div><input type="time" name="time" class="plan-text timeInput" placeholder="시간 입력창"></div><div><input type="text" name="memo" class="plan-text memoInput" placeholder="메모 입력창"></div>';
					ii++;
					
					const planImages = document.createElement('div');
					planImages.classList.add('plan-images');
					planImages.innerHTML = '<img class="planInputIcon check-icon" style="width: 16px; height: 17px;" src="image/Check.png"/>'
					+ ' <img class="planInputIcon trash-icon" style="width: 18px; height: 17px;" src="image/Trash.png"/>';
					
					newOnePlan.appendChild(planSpans);
					newOnePlan.appendChild(planInputs);
					newOnePlan.appendChild(planImages);
					
					planDiv.appendChild(newOnePlan);
				});
			});
			
			let index = 1; // 
			let labelDiv = '';
			
			const timeReg = /^([01]\d|2[0-3]):([0-5]\d)$/;
			
			let originalPlace, originalTime, originalMemo; // 기존에 있던 값 담을 변수
			
			let placeLabel, timeLabel, memoLabel, plNo, day; // update 할 때 ajax 로 보낼 변수
			
			let onePlans = document.getElementsByClassName('one-plan');
			
			document.getElementById('planAll').addEventListener('click', function(e){
				if(e.target.classList.contains('check-icon')){
					checkIcon(e);
				} else if (e.target.classList.contains('trash-icon')) {
					trashIcon(e)
	        	} else if (e.target.classList.contains('planLabel') || e.target.classList.contains('label-div')) {
		        	let bgCheckDiv = document.querySelectorAll('.plan-labels');
		        	let editInputs = document.querySelector('.edit-inputs');
					
		        	if(editInputs != null && editInputs.style.background != 'none'){
		        		
						let planText = Array.from(editInputs.querySelectorAll('input.plan-text'));
						
						editInputs.style.background = 'none';
						editInputs.classList.remove('edit-inputs');
						
						if(planText[0].value.trim() == '') planText[0].value = originalPlace;
						if(planText[1].value.trim() == '') {
							if(!timeReg.test(originalTime)){
								originalTime = '12:00';
							}
							planText[1].value = originalTime;
						}
						if(planText[2].value.trim() == ''){
							if(originalMemo == undefined){
								originalMemo = '';
							}
							planText[2].value = originalMemo;
						}
						
						labelChange(planText, editInputs);
					}
		        	
	        		for(const bgDiv of bgCheckDiv){
	        			if(bgDiv.style.background != 'none') {
	        				bgDiv.style.background = 'none';
	        				bgDiv.nextElementSibling.innerHTML = '';
	        			}
        			}
	        		
		        	if(e.target.classList.contains('planLabel')){
			        	labelDiv = e.target.parentElement.parentElement;
		        	} else {
			        	labelDiv = e.target.parentElement;
		        	}
			        	
		        	labelDiv.style.background = '#E9F5FE';
		        	labelDiv.classList.add('edit-labels');
		        	let imagesDiv = labelDiv.nextElementSibling;
		        	imagesDiv.classList.add('edit-images');
		        	imagesDiv.innerHTML = '<img class="bi-pencil" src="image/pencilIcon.png" width="16px" height="16px"/><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash trash-icon" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></svg>';
		        	
		        } else if(e.target.classList.contains('bi-pencil')) {
		        	// label 클릭 -> 펜슬 생김 -> 펜슬 클릭할 때 수정 가능하게 input으로 바뀌는 script
		        	
		        	let onePlan = e.target.closest('.one-plan');
					let labels = onePlan.querySelectorAll('.planLabel'); // 장소, 시간, 메모 label
					let inputs = onePlan.querySelectorAll('.plan-text'); // 장소, 시간, 메모 input
					
					let parentDiv; // 위에 labels 또는 inputs 를 감싸고 있는 부모 요소
					if(inputs.length == 0){
						for(const label of labels){
							parentDiv = label.parentElement;
							if(label == labels[0]){
								parentDiv.innerHTML = '<input type="text" class="plan-text placeInput" name="place" placeholder="장소 입력창" value="' + label.innerText + '"/>';
							} else if(label == labels[1]){
								parentDiv.innerHTML = '<input type="time" name="time" class="plan-text timeInput" placeholder="시간 입력창" value="' + label.innerText + '"/>';
							} else {
								parentDiv.innerHTML = '<input type="text" name="memo" class="plan-text memoInput" placeholder="메모 입력창" value="' + label.innerText + '"/>';
							}
						}	
					} else {
						for(const label of labels){
							input = label.parentElement.children[0];
							input.style.display = 'inline-block';
							input.value = label.innerText;
							label.parentElement.replaceChild(input, label);
							let check = onePlan.querySelector('.plan-checks');
							if(check != undefined){
								check.remove();
							}
						}
					}

					let plLabels = onePlan.querySelector('.plan-labels');
					plLabels.classList.add('edit-inputs');
					
					let planImg = onePlan.querySelector('.edit-images');
					planImg.innerHTML = '<img class="planInputIcon check-icon edit-image" style="width: 16px; height: 17px;" src="image/Check.png"/><img class="planInputIcon trash-icon edit-image" style="width: 18px; height: 17px;" src="image/Trash.png"/>';
		       		
		        } else if(e.target.classList.contains('plan-checks') || e.target.classList.contains('checkbox') ||
	        		  e.target.classList.contains('cbx') || e.target.classList.contains('reserveText') ||
	        		  e.target.classList.contains('cbSvg')) {
		        	let onePlan = e.target.closest('.one-plan');
		        	let checkbox = onePlan.querySelector('.inp-cbx');
		        	
		        	plNo = onePlan.children[0].value;
		        	let status;
		        	
		        	if(!checkbox.checked) status = 'Y';
		        	else status = 'N';
		        	
		        	$.ajax({
		        		url: 'updateReserve.mp',
		        		data: {
		        			plNo:plNo,
		        			status:status
		        		},
		        		success: data => {
		        			if(data == '0') {
		        				if(status == 'N') {
		        					checkbox.checked = false;
		        				}
		        				else {
		        					checkbox.checked = true;
		        				}
		        				
		        				alert('예약 여부 변경에 실패하였습니다.');
		        			}
		        		},
		        		error: data => console.log(data)
		        	});
		        }
			});
		
			document.querySelector('body').addEventListener('click', e => {
				// label 클릭한 후 다른 곳 클릭하면 배경색 없어지고 펜이랑 휴지통 아이콘 사라지는 스크립트
				const editLabels = document.querySelector('.edit-labels');
				if(editLabels != null){
					let onePlan = editLabels.closest('.one-plan');
					let labelDivs = Array.from(onePlan.querySelectorAll('.label-div'));
					let planLabel = Array.from(onePlan.querySelectorAll('.planLabel'));
					
					if(e.target != onePlan &&
					   !labelDivs.includes(e.target) &&
					   !planLabel.includes(e.target) &&
					   !e.target.classList.contains('edit-images') &&
					   !e.target.classList.contains('plan-checks') &&
					   !e.target.classList.contains('bi-pencil') &&
					   !e.target.classList.contains('plan-text') &&
					   !e.target.classList.contains('check-icon')){
						
						let editInputs = document.querySelector('.edit-inputs');
						if(editInputs == null){
							// input 없을 때
							editLabels.style.background = 'none';
							editLabels.classList.remove('edit-labels');
							editLabels.nextElementSibling.innerHTML = '';
							
						} else {
							// input 있을 때
							
							if(!e.target.classList.contains('check-icon') &&
							   !labelDivs.includes(e.target) &&
							   !planLabel.includes(e.target) &&
							   !e.target.classList.contains('trash') &&
							   !e.target.classList.contains('plan-text')){
								
								
								let planText = Array.from(editInputs.querySelectorAll('input.plan-text'));
									
								editInputs.style.background = 'none';
								editInputs.classList.remove('edit-inputs');
								
								
								if(planText[0].value.trim() == '') planText[0].value = originalPlace;
								if(planText[1].value.trim() == '') {
									if(!timeReg.test(originalTime)){
										originalTime = '12:00';
									}
									planText[1].value = originalTime;
								}
								if(planText[2].value.trim() == ''){
									if(originalMemo == undefined){
										originalMemo = '';
									}
									planText[2].value = originalMemo;
								}
								
								labelChange(planText, editInputs);
							}
						}
					}
				}
// 				if(e.target.classList.contains('check-icon')){
// 					checkIcon(e);
// 				} else if(e.target.classList.contains('trash-icon')){
// 					trashIcon(e);
// 				}
			});
			
			function checkIcon(e){
				let onePlan = e.target.closest('.one-plan');
				let inputs = onePlan.getElementsByClassName('plan-text');
				
				let placeInput = inputs[0];
				let timeInput = inputs[1];
				let memoInput = inputs[2];
				
				plNo = onePlan.children[0].value;
				
				if(placeInput.value.trim() != '' && timeInput.value.trim() != ''){
					if(!timeReg.test(timeInput.value)){
						alert('올바른 시간을 입력해 주세요.');
					}
					
					let label = null;
					for(const input of inputs){
						let value = input.value;
						label = document.createElement('label');
						label.innerText = value;
						
						label.classList.add('planLabel');
						input.style.display = 'none';
						
						if(input == inputs[0]){
							label.classList.add('placeLabel');
							placeLabel = label.innerText;
						} else if(input == inputs[1]){
							label.classList.add('timeLabel');
							timeLabel = label.innerText;
						} else if(input == inputs[2]){
							label.classList.add('memoLabel');
							memoLabel = label.innerText;
						}
						
						input.parentNode.insertBefore(label, input.nextSibling);
						label.parentElement.className = 'label-div';
						label.parentElement.parentElement.style.background = 'none';
					};
					
					if(onePlan.children[0].className == 'plNos'){
						detailPlanUpdate(); // update ajax 함수
					} else {
						day = onePlan.parentElement.parentElement.children[1].innerText;
						insertPlanUpdate(); // insert ajax 함수
					}
					
					let planImg = onePlan.querySelector('.plan-images');
					planImg.innerHTML = '';
					
					let checkDiv = document.createElement('div');
					checkDiv.classList.add('plan-checks');
					checkDiv.innerHTML = '<div class="checkbox-wrapper-46"><input type="checkbox" id="cbx' + index + '" class="inp-cbx planCheck" /><label for="cbx' + index + '" class="cbx planCheck"><span class="cbSvg"><svg class="cbSvg" viewBox="0 0 12 10" height="10px" width="12px"><polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span><span class="reserveText"> 예약 여부</span></label></div>';
					index++;
					
					let timelabelDiv = timeInput.parentElement;
					timelabelDiv.appendChild(checkDiv);
					
					if(onePlan.children[0].className == 'plNos'){
						// db 에 저장되어있던 게 수정된 거라면
						onePlan.children[3].className = 'plan-labels';
					} else {
						// 새로 추가된 게 저장된 거라면
						onePlan.children[1].className = 'plan-labels';
					}
				} else {
					alert('계획을 입력해 주세요.');
				}
			}
			
			function trashIcon(e){
				let onePlan = e.target.closest('.one-plan');
	            let planDiv = e.target.closest('.planDiv');
	            let onePlans = planDiv.querySelectorAll('.one-plan');
	            
	            let count = 0;
	            
	            for(let i = 0; i < onePlans.length; i++){
	            	count++;
	            }
	            
	            if(count > 1){
	            	if(onePlan.children[0].className == 'plNos'){
			            plNo = onePlan.children[0].value;
			            
			           	if(plNo != undefined){
				            $.ajax({
				            	url: 'detailDeletePlan.mp',
				            	data: {plNo:plNo},
				            	success: data => {
									if(data == "1") {
					            		onePlan.remove();
									} else {
										alert('일정 삭제에 실패했습니다.');
									}
				            	},
				            	error: data => console.log(data)
				            });
			           	}
	            	} else {
		           		onePlan.remove();
	            	}
	            } else {
	            	alert('한 개의 일정은 존재해야 합니다.');
	            }
			}
		
			function labelChange(planText, editInputs){
				let label = null;
				
				let placeInput = planText[0];
				let timeInput = planText[1];
				let memoInput = planText[2];
				
				plNo = editInputs.parentElement.children[0].value;
				
				for(const input of planText){
					let value = input.value;
					label = document.createElement('label');
					label.innerText = value;
					
					label.classList.add('planLabel');
					input.style.display = 'none';
					
					if(input.classList.contains('placeInput')){
						label.classList.add('placeLabel');
						placeLabel = label.innerText;
					} else if(input.classList.contains('timeInput')){
						label.classList.add('timeLabel');
						timeLabel = label.innerText;
					} else if(input.classList.contains('memoInput')){
						label.classList.add('memoLabel');
						memoLabel = label.innerText;
					}
					
					input.parentNode.insertBefore(label, input.nextSibling);
					label.parentElement.className = 'label-div';
					label.parentElement.parentElement.style.background = 'none';
				}
				
				detailPlanUpdate(); // update ajax
				
				let checkDiv = document.createElement('div');
				checkDiv.classList.add('plan-checks');
				checkDiv.innerHTML = '<div class="checkbox-wrapper-46">&nbsp;<input type="checkbox" id="cbx' + index + '" class="inp-cbx planCheck" /><label for="cbx' + index + '" class="cbx planCheck"><span><svg viewBox="0 0 12 10" class="cbx" height="10px" width="12px"><polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span><span class="reserveText"> 예약 여부</span></label></div>';
				index++;
				
				let planLabelsDiv = editInputs.children[1];
				planLabelsDiv.appendChild(checkDiv);
				editInputs.className = 'plan-labels';
				
				let planImg = editInputs.nextElementSibling;
				planImg.innerHTML = '';
				planImg.className = 'plan-images';
			}
			
			// 날짜, 지역 수정
			originalStart = '';
			originalEnd = '';
			originalSpot = '';
			
			const detailForm = document.getElementById('detailForm');
			const editForm = document.getElementById('editForm');
			document.getElementById('change_local').addEventListener('click', () => {
				detailForm.style.display = 'none';
				editForm.style.display = 'block';
				
				originalStart = $('#startDate-span').text();
				originalEnd = $('#endDate-span').text();
				originalSpot = $('#spot-span').text();
				
				$('#sdate').val(originalStart);
				$('#edate').val(originalEnd);
				$('#selectSpotHidden').val(originalSpot);
			});

// 			수정 저장하기(지역 (으)로 떠나는 여행 계획입니다 오른쪽에)
			document.getElementById('completeButton').addEventListener('click', function(){
				detailForm.style.display = 'block';
				editForm.style.display = 'none';
				
				let newSpot = $('#selectSpotHidden option:checked').text();
				
				$('#spot-span').text(newSpot);
				
				let spotVal;
				switch(newSpot){
				case '서울' : spotVal = 1; break;
				case '인천' : spotVal = 2; break;
				case '대전' : spotVal = 3; break;
				case '대구' : spotVal = 4; break;
				case '광주' : spotVal = 5; break;
				case '부산' : spotVal = 6; break;
				case '울산' : spotVal = 7; break;
				case '세종' : spotVal = 8; break;
				case '경기' : spotVal = 31; break;
				case '강원' : spotVal = 32; break;
				case '충북' : spotVal = 33; break;
				case '충남' : spotVal = 34; break;
				case '경북' : spotVal = 35; break;
				case '경남' : spotVal = 36; break;
				case '전북' : spotVal = 37; break;
				case '전남' : spotVal = 38; break;
				default : spotVal = 39;
				}
				
				const scNo = document.getElementById('scNo').value;
				
				$.ajax({
					url: 'updateDetailTripLocal.mp',
					data: {
						scNo:scNo,
						spot:spotVal
					},
					success: data => {
						if(data == 'success'){
							$('#spot').val(newSpot);
						} else {
							alert('지역 수정 중 오류가 발생하였습니다');
						}
					},
					error: data => console.log(data)
				})
				
			})
			
// 			수정 취소
			document.getElementById('cancelButton').addEventListener('click', () => {
				detailForm.style.display = 'block';
				editForm.style.display = 'none';
			});
			
			
			function detailPlanUpdate(){
				$.ajax({
					url:'detailTripUpdate.mp',
					data: {
						place:placeLabel,
						time:timeLabel,
						memo:memoLabel,
						plNo:plNo
					},
					success: data => {
						if(data == '0') {
							onePlan.querySelector('.placeLabel').innerText = originalPlace;
							onePlan.querySelector('.timeLabel').innerText = originalTime;
							if(originalMemo == undefined){
								originalMemo = '';
							}
							onePlan.querySelector('.memoLabel').innerText = originalMemo;
							
							alert('일정 수정에 실패하였습니다.');
						}
					},
					error: data => console.log(data)
				});
			}
			
			function insertPlanUpdate(){
				$.ajax({
					url: 'insertPlan.mp',
					data: {
						scNo:document.getElementById('scNo').value,
						place:placeLabel,
						time:timeLabel,
						memo:memoLabel,
						day:day
					},
					success: data => {
						if(data == 'fail'){
							alert('일정을 저장하던 중 오류가 발생하였습니다.');
						}
					},
					error: data => console.log(data)
				})
			}
			
			$(document).ready(function() {
				$(".datepicker").datepicker({
					inline: true,
					dateFormat: 'yy/mm/dd',
					prevText: '이전 달',
					nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					showMonthAfterYear: true,
					yearSuffix: '년'
				});
				
				$('#sdate').datepicker("option", "minDate", 0);
				$('#sdate').datepicker("option", "onSelect", function (selectedDate){
					$('#sdate').val(selectedDate);
					
					$("#edate").datepicker("option", "minDate", selectedDate);
					
					let maxDate = $.datepicker.parseDate('yy/mm/dd', selectedDate);
					maxDate.setDate(maxDate.getDate() + 21);
					$("#edate").datepicker("option", "maxDate", $.datepicker.formatDate('yy/mm/dd', maxDate));
			    });
				
				$('#edate').datepicker("option", "onSelect", function(selectedDate){
					$('#edate').val(selectedDate);
				});
			});
		}
	</script>
</body>
</html>