<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너일정 요청 자세히 보기</title>
<style></style>
<link rel="stylesheet" href="css/myPage/detailRequest.css" type="text/css"/>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!-- 플래너페이지 어퍼바 -->
	<div th:replace="~{common/plannerUpperBar :: plannerUpperBar}"></div>
	
	<form id="detailReqForm" action="processRequest.mp">
		<div class="flex-container">
			<div style="height:80px;"></div>
			<div id="req-ref-div">
				<div id="spot-div">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="margin-right:-15px; margin-top:-10px;">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
					</svg>
					<span id="spot-span">[[${planner.localName}]]</span>
					<input type="hidden" name="reqNo" th:value="${rs.reqNo}"/>
				</div>
				<div id="reqMem-div">
					<span id="reqMem" class="inner-span">신청인 : </span><span>[[${reqMem.nickname}]]</span>
				</div>
				<!-- 참고사항 입력한거 -->
				<div id="note-div"><span class="inner-span">[[${rs.reqRef}]]</span></div>
			</div>
			<div style="height:40px;"></div>
			<!-- 제출버튼 -->
			<div>
				<button id="submit_button" type="button">진행</button>
				<button id="cancle_button" type="button">거절</button>
			</div>
		</div>
	</form>
	<div style="margin-bottom: 500px"></div>
	
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	<script>
		const form = document.forms[0];
		
		//진행 시 요청 진행 페이지로 이동
		document.getElementById('submit_button').addEventListener('click', ()=>{
			form.method = "POST";
			form.submit();
		})
		
		//요청 취소 시 게시글 목록으로 이동
		function cancle(){
			location.href="request.mp"
		}
	</script>
</body>
</html>