<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>내 문의 글</title>
<style>
table {
	width: 80%;
	align: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.pageNumber {
	margin-left: 5px;
	margin-right: 5px;
}

th {
	font-size: 24px;
}

td {
	padding: 15px;
}

.hidden {
	display: none;
}

/*결제 취소*/
/* From Uiverse.io by cssbuttons-io */
#payCancle {
	width: 80px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 20px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
	background: #e62222;
}

#payCancle, button span {
	transition: 200ms;
}

#payCancle .text {
	transform: translateX(5px);
	color: white;
	font-weight: bold;
	padding-left: 7px;
}

#payCancle .icon {
	position: absolute;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#payCancle svg {
	width: 15px;
	fill: white;
}

#payCancle:hover {
	background: #ff3636;
}

#payCancle:hover .text {
	color: transparent;
}

#payCancle:hover .icon {
	width: 70px;
	border-left: none;
	transform: translateX(0);
}

#payCancle:focus {
	outline: none;
}

#payCancle:active .icon svg {
	transform: scale(0.8);
}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>

	<div style="height: 120px;">
		<!-- 사이드바 -->
		<div id="sidebar">
			<div th:replace="~{common/myBoardSidebar :: myBoardSideBar}"></div>
		</div>
	</div>
	<th:block th:if="${review} == board">
		<div class="flex-container"
			style="text-align: center; margin-left: auto;">
			<div style="display: inline-block;">
				<span class="secondSidebar"><a class="nav-link" href="myBoard.mp">커뮤니티</a></span> 
				<span class="secondSidebar"><a class="nav-link" href="myPlaceReview.mp">장소후기</a></span>
				<span class="secondSidebar"><a class="nav-link" href="myPlannerReview.mp">플래너후기</a></span>
				<div style="color: black; font-size: 36px; font-weight: 900;">내
					게시글</div>
				<div style="height: 40px;"></div>
				<div
					style="margin: auto; width: 1200px; overflow: auto; ">
					<table>
						<thead>
							<tr style="border-bottom: 2px solid #96CAF0;">
								<th>글번호</th>
								<th>말머리</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일자</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${nothing == 'no'}">
								<tr style="border-bottom: 2px solid #b9b9b9" th:each="a: ${aList}">
									<td>[[${a.boardNo}]]<input type="hidden" value="board"></td>
									<td><input type="hidden" th:value="${a.generalType}">
										[[${a.generalType}=='GIVE' ? '양도' : (${a.generalType}=='REVIEW' ? '후기': '동행')]]</td>
									<td>[[${a.boardTitle}]]</td>
									<td>[[${a.memberName}]]</td>
									<td>[[${a.boardModifyDate}]]</td>
								</tr>
							</th:block>
							<th:block th:if="${ nothing == 'yes'}">
								<tr style="border-bottom: 2px solid #b9b9b9">
									<td colspan="5">작성한 게시글이 없어요 &#128549; </td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<!-- 페이지네이션 -->
					<div style="height:20px;"></div>
					<nav class="d-flex justify-content-center" th:if="${pi.listCount} != 0">
			        	<ul class="pagination" th:with="loc=${ loc }">
			        		 <!-- 이전 버튼 -->
				            <li class="page-item">
				            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
				            		<span aria-hidden="true">&laquo;</span>
				              	</a>
				            </li>
				             <!-- 페이지 넘버링 버튼  -->
							<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
								<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
							</li>
				           
				             <!-- 다음 버튼  -->
				            <li class="page-item">
				            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
				            		<span aria-hidden="true">&raquo;</span>
				            	</a>
				            </li>
				    	</ul>
			        </nav>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:if="${review} == placeReview">
		<div class="flex-container"
			style="text-align: center; margin-left: auto;">
			<div style="display: inline-block;">
				<span class="secondSidebar"><a class="nav-link" href="myBoard.mp">커뮤니티</a></span> 
				<span class="secondSidebar"><a class="nav-link" href="myPlaceReview.mp">장소후기</a></span>
				<span class="secondSidebar"><a class="nav-link" href="myPlannerReview.mp">플래너후기</a></span>
				<div style="color: black; font-size: 36px; font-weight: 900;">내
					게시글</div>
				<div style="height: 40px;"></div>
				<div
					style="margin: auto; width: 1200px; overflow: auto;">
					<table>
						<thead>
							<tr style="border-bottom: 2px solid #96CAF0;">
								<th>글번호</th>
								<th>말머리</th>
								<th>제목</th>
								<th>별점</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${nothing == 'no'}">
								<tr style="border-bottom: 2px solid #b9b9b9" th:each="pr: ${prList}">
									<td>[[${pr.reviewNo}]]<input type="hidden" value="placeReview"></td>
									<td>[[${pr.revRefType} == 'PLACE' ? '장소' : '플래너']] <input
										type="hidden" th:value="${pr.revRefNo}" /> <input type="hidden"
										th:value="${pr.contentTypeId}" /> <input type="hidden"
										th:value="${pr.localNo}" /> <input type="hidden"
										th:value="${pr.reviewNo}" />
									</td>
									<td>[[${pr.reviewTitle}]]</td>
									<td>[[${pr.reviewStar}]]</td>
								</tr>
							</th:block>
							<th:block th:if="${ nothing == 'yes'}">
								<tr style="border-bottom: 2px solid #b9b9b9">
									<td colspan="5">작성한 게시글이 없어요 &#128549; </td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<!-- 페이지네이션 -->
					<div style="height:20px;"></div>
					<nav class="d-flex justify-content-center" th:if="${pi.listCount} != 0">
			        	<ul class="pagination" th:with="loc=${ loc }">
			        		 <!-- 이전 버튼 -->
				            <li class="page-item">
				            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
				            		<span aria-hidden="true">&laquo;</span>
				              	</a>
				            </li>
				             <!-- 페이지 넘버링 버튼  -->
							<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
								<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
							</li>
				           
				             <!-- 다음 버튼  -->
				            <li class="page-item">
				            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
				            		<span aria-hidden="true">&raquo;</span>
				            	</a>
				            </li>
				    	</ul>
			        </nav>
				</div>
				<div style="height: 10px"></div>
			</div>
		</div>
	</th:block>
	
	<th:block th:if="${review} == plannerReview">
		<div class="flex-container"
			style="text-align: center; margin-left: auto;">
			<div style="display: inline-block;">
				<span class="secondSidebar"><a class="nav-link" href="myBoard.mp">커뮤니티</a></span> 
				<span class="secondSidebar"><a class="nav-link" href="myPlaceReview.mp">장소후기</a></span>
				<span class="secondSidebar"><a class="nav-link" href="myPlannerReview.mp">플래너후기</a></span>
				<div style="color: black; font-size: 36px; font-weight: 900;">내
					게시글</div>
				<div style="height: 40px;"></div>
				<div
					style="margin: auto; width: 1200px; overflow: auto;">
					<table>
						<thead>
							<tr style="border-bottom: 2px solid #96CAF0;">
								<th>글번호</th>
								<th>말머리</th>
								<th>제목</th>
								<th>별점 </th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${nothing == 'no'}">
								<tr style="border-bottom: 2px solid #b9b9b9" th:each="pl: ${plList}">
									<td>[[${pl.reviewNo}]]<input type="hidden" value="plannerReview"></td>
									<td>[[${pl.revRefType} == 'PLACE' ? '장소' : '플래너']]
										<input type="hidden" th:value="${pl.revRefNo}" /> 
										<input type="hidden" th:value="${pl.reviewContent}" /> 
										<input type="hidden" th:value="${pl.localNo}" /> 
										<input type="hidden" th:value="${pl.reviewNo}" />
									</td>
									<td>[[${pl.reviewTitle}]]</td>
									<td>[[${pl.reviewStar}]]</td>
								</tr>
								</th:block>
							<th:block th:if="${ nothing == 'yes'}">
								<tr style="border-bottom: 2px solid #b9b9b9">
									<td colspan="5">작성한 게시글이 없어요 &#128549; </td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<!-- 페이지네이션 -->
					<div style="height:20px;"></div>
					<nav class="d-flex justify-content-center" th:if="${pi.listCount} != 0">
			        	<ul class="pagination" th:with="loc=${ loc }">
			        		 <!-- 이전 버튼 -->
				            <li class="page-item">
				            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
				            		<span aria-hidden="true">&laquo;</span>
				              	</a>
				            </li>
				             <!-- 페이지 넘버링 버튼  -->
							<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
								<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
							</li>
				           
				             <!-- 다음 버튼  -->
				            <li class="page-item">
				            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
				            		<span aria-hidden="true">&raquo;</span>
				            	</a>
				            </li>
				    	</ul>
			        </nav>
				</div>
				<div style="height: 10px"></div>
			</div>
		</div>
	</th:block>
	
	<div style="margin-bottom: 300px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		//상세글 보기
		const tds = document.querySelectorAll('td');
		const nothing = /*[[${nothing}]]*/null;
		if(nothing == 'no'){
			for(const td of tds){
				//마우스오버시 게시글 목록 배경 변환	
				td.addEventListener('mouseover',function(){
					const parent = td.parentElement;
					parent.style.backgroundColor='#ECEBEB';
					parent.style.cursor='pointer';
				})
				//마우스아웃 시 게시글 목록 배경 변환
				td.addEventListener('mouseout',function(){
					const parent = td.parentElement;
					parent.style.backgroundColor='white';
				})
				td.addEventListener('click', function(){
					if(this.parentElement.children[0].children[0].value == 'placeReview'){
						const contentid = this.parentElement.children[1].children[0].value;
						const contenttypeid = this.parentElement.children[1].children[1].value;
						const areacode = this.parentElement.children[1].children[2].value;
						const reviewNo = this.parentElement.children[1].children[3].value;
						location.href = 'placeReviewDetail.pla?contentid=' + contentid + "&contenttypeid=" + contenttypeid + "&areacode=" + areacode + "&reviewNo=" + reviewNo + "&myPage=myPage" +"&page=" + /*[[${pi.currentPage}]]*/  ;
					}else if(this.parentElement.children[0].children[0].value == 'board'){
						const parent = td.parentElement;
						const boardNo = parent.children[0].innerText;
						const generalType = parent.children[1].children[0].value;
						location.href='commuSelect.bo?boardNo=' + boardNo + '&generalType='+ generalType + '&myPage=myPage' + '&page='+ /*[[${pi.currentPage}]]*/1;
					}else if(this.parentElement.children[0].children[0].value == 'plannerReview'){
						const pNo = this.parentElement.children[1].children[0].value;
						location.href='selectPlanner.ma?pNo=' + pNo + '&myPage=myPage' +'&page=' + /*[[${pi.currentPage}]]*/1;				
					}
				})
			}
		}
		/*]]>*/
		
		
	</script>
</body>