<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<meta charset="UTF-8">
<title>여행 플랜 신청 리스트</title>
<link type="text/css" href='css/myPage/myPlan.css' rel="stylesheet">
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<!-- 사이드바 -->
	<div style="height:120px;">
      <div id="sidebar">
         <div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div>
      </div>   
   </div> 
	
	<div class="flex-container">
		<!-- 내용 -->
		<div id='contentsDiv'>
			<span class="secondSidebar">
				<a class="nav-link" href="myPlan.mp">플래너일정요청리스트</a>
			</span>
			<span class="secondSidebar">
				<a class="nav-link" href="myTripNote.mp">내 여행 노트</a>
			</span>
			
			<div id='divTitle'>여행 플랜 신청 리스트</div>
			<div id='tableDiv'>
				<table>
					<thead>
					 	<tr id='thTr'>
							<th width='10%'>여행지</th>
							<th width='23%'>여행 기간</th>
							<th width='17%'>담당 플래너</th>
							<th width='15%'>
								<select class="form-select" aria-label="Sort by" name='status' id='statusSearch'>
					                <option th:selected="${statusSearch == 0}" value="0">진행 상태</option>
					                <option th:selected="${statusSearch == 1}" value="1">신청</option>
					                <option th:selected="${statusSearch == 2}" value="2">일정도착</option>
					                <option th:selected="${statusSearch == 3}" value="3">구매확정</option>
					                <option th:selected="${statusSearch == 4}" value="4">신청취소</option>
				           	 	</select>
							</th>
							<th width='15%'>결제 포인트</th>
							<th width='15%'>구매/환불일</th>
						</tr>
					</thead>
					<tbody>
						
						<tr id='tbodyTr' th:if='${list != null}' th:each='l : ${list}'>
					        <td id="place">
					            <input type='hidden' th:value='${l.reqNo}' name='reqNo'>
					            <input type='hidden' th:value='${l.reqStatus}' name='reqStatus'>
					            [[${l.localName}]]
					        </td>
					        <td id="date">[[${l.startDay}]] - [[${l.endDay}]]<br>([[${l.nightDay}]])</td>
					        <td id="planner">[[${l.nickname}]]</td>
					        <!-- 진행상태 -->
					        <td th:if='${l.reqStatus == 1}'>일정 기다리는 중</td>
					        <td th:if='${l.reqStatus == 2}' style='color: #96CAF0; font-weight: bold;'>일정 도착</td>
					        <td th:if='${l.reqStatus == 3}' style='color: #2F6598; font-weight: bold;'>구매 확정</td>
					        <td th:if='${l.reqStatus == 4}' style='color: red;'>신청 취소</td>
					        <!-- 포인트 -->
					        <td th:if='${l.reqStatus != 4}'>- [[${l.payPoint}]]</td>
					        <td th:if='${l.reqStatus == 4}'>+ [[${l.payPoint}]]</td>
					        <!-- 구매/환불 일자 -->
					        <td th:if='${l.confirmDate == null}'>-</td>
					        <td th:if='${l.confirmDate != null}'>[[${l.confirmDate}]]</td>
						</tr>

						<tr th:if='${list == null}'>
							<td colspan="5">
								신청하신 리스트가 없습니다
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- 페이지네이션 -->
			<nav class="d-flex justify-content-center" id='pagination'th:if='${list != null}'>
	        	<ul class="pagination" th:with="loc=${ loc }">
	        		 <!-- 이전 버튼 -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
		            		<span aria-hidden="true">&laquo;</span>
		              	</a>
		            </li>
		            
		             <!-- 페이지 넘버링 버튼  -->
		            	
					<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
						<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
					</li>
		           
		             <!-- 다음 버튼  -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
		            		<span aria-hidden="true">&raquo;</span>
		            	</a>
		            </li>
		    	</ul>
	        </nav>
		</div>
	</div>
	
	<div style="margin-bottom: 300px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	
	<script th:inline='javascript'>
		/*<![CDATA[*/
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			td.addEventListener('click', ()=>{
				const parent = td.parentElement;
				if(parent.children.length != 1){
					location.href='detailReqPlan.mp?reqNo=' + parent.children[0].querySelector('input').value + "&page=" + /*[[${pi.currentPage}]]*/1;
				}
			})
		}
		
		const statusSearch = document.getElementById('statusSearch');
		statusSearch.addEventListener('change', function(){
			//console.log(this.value)
			if(this.value != ""){
				location.href = 'myPlan.mp?statusSearch=' + this.value;
			}
		})
		/*]]>*/
	</script>
</body>
</html>