<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
<meta charset="UTF-8">
<title>여행 플랜 신청 리스트</title>
<link type="text/css" href='css/myPage/myPlan.css' rel="stylesheet">
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<!-- 사이드바 -->
	<div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div> 
	
	<div class="flex-container">
		<!-- 내용 -->
		<div id='contentsDiv'>
			<div id='divTitle'>여행 플랜 신청 리스트</div>
			<div id='tableDiv'>
				<table>
					<thead>
					 	<tr id='thTr'>
							<th width='15%'><p>여행지</p></th>
							<th width='30%'><p>여행 기간</p></th>
							<th width='15%'><p>담당 플래너</p></th>
							<th width='30%'><p>진행 상태</p></th>
							<th width='10%'><p>포인트</p></th>
						</tr>
					</thead>
					<tbody>
						<tr id='tbodyTr' th:if='${list != null}' th:each='l :${list}'>
							<th:block  th:each='p : ${pList}' th:if='${l.reqPlaNo == p.memberNo}'>
								<td id="place">
									<input type='hidden' th:value='${l.reqNo}' name='reqNo'>
									[[${p.localName}]]
								</td>
								<td id="date">[[${l.startDay}]] - [[${l.endDay}]]([[${l.nightDay}]])</td>
								<td id="planner">[[${p.nickname}]]</td>
								<!-- 진행상태 -->
								<td th:if='${l.reqStatus == "1"}'>일정 기다리는 중</td>
								<td th:if='${l.reqStatus == "2"}' style='color: green; font-weight: bold;'>일정 도착</td>
								<td th:if='${l.reqStatus == "3"}' style='color: yellow'>피드백 요청</td>
								<td th:if='${l.reqStatus == "4"}' style='color: green; font-weight: bold;'>피드백 도착</td>
								<td th:if='${l.reqStatus == "5"}' style='color: #96CAF0'>진행 종료</td>
								<td th:if='${l.reqStatus == "6"}' style='color: red'>신청 취소</td>
								<!-- 포인트 -->
								<td th:if='${l.reqStatus == "1" || l.reqStatus == "6"}'>-</td>
								<td th:if='${l.reqStatus != "1" && l.reqStatus != "6"}'>[[${l.point}]]</td>
							</th:block>
						</tr>
						<tr th:if='${pi.listCount == 0}'>
							<td colspan="5">
								신청하신 리스트가 없습니다
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- 페이지네이션 -->
			<nav class="d-flex justify-content-center" th:if='${pi.listCount != 0}'>
	        	<ul class="pagination" th:with="loc=${ loc }">
	        		 <!-- 이전 버튼 -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
		            		<span aria-hidden="true">&laquo;</span>
		              	</a>
		            </li>
		            
		             <!-- 페이지 넘버링 버튼  -->
		            	
					<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
						<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
					</li>
		           
		             <!-- 다음 버튼  -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
		            		<span aria-hidden="true">&raquo;</span>
		            	</a>
		            </li>
		    	</ul>
	        </nav>
		</div>
	</div>
	
	<div style="margin-bottom: 300px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	
	<script th:inline='javascript'>
		/*<![CDATA[*/
		const msg = /*[[${msg}]]*/null;
		
		if(msg != null){
			alert(msg);
		}
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			td.addEventListener('click', ()=>{
				const parent = td.parentElement;
				location.href='detailReqPlan.mp?reqNo=' + parent.children[0].querySelector('input').value + "&page=" + /*[[${pi.currentPage}]]*/1;
			})
		}
		/*]]>*/
	</script>
</body>
</html>