<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너 일정 요청 리스트</title>
<style>
    table{width:80%; align:center; text-align: center; margin-left:auto; margin-right:auto; margin-top:30px;}
    .pagination{font-weight:900;}
    .pageNumber{margin-left:5px; margin-right:5px;}
   	th{font-size:24px;}
   	td{padding:15px;}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<div class="flex-container" style="text-align:center;">
		<!--마이페이지 어퍼바-->
		<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
		<!-- 사이드바 -->
		<div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div> 
		<div style="height:80px;"></div>
		<div style="display:inline-block; margin-right:250px;">
			<div style="color: black; font-size: 36px; font-weight: 900;">플래너 일정 요청 리스트</div>
			<div style="height:40px;"></div>
			<div style="display:inline-block; width:1000px; height:800px;" >
				<table>
					<thead>
					 	<tr style="border-bottom:2px solid #96CAF0;">
							<th><p>요청번호</p></th>
							<th><p>여행지</p></th>
							<th><p>여행기간</p></th>
							<th><p>플래너</p></th>
							<th><p>진행상태</p></th>
						</tr>
					</thead>
					<tbody>
						<tr style="border-bottom:2px solid #b9b9b9" th:if='${list != null}' th:each='l :${list}'>
							<th:block  th:each='p : ${pList}' th:if='${l.reqPlaNo == p.memberNo}'>
								<td id="requestNumber">[[${l.reqNo}]]</td>
								<td id="place">[[${p.localName}]]</td>
								<td id="date">30일</td>
								<td id="planner">[[${p.nickName}]]</td>
								<td id="status" th:if='${l.reqStatus == 1}'>요청</td>
								<td id="status" th:if='${l.reqStatus == 2}' style='color: green'>일정 완료</td>
								<td id="status" th:if='${l.reqStatus == 3}' style='color: yellow'>피드백 요청</td>
								<td id="status" th:if='${l.reqStatus == 4}' style='color: green'>피드백 완료</td>
								<td id="status" th:if='${l.reqStatus == 5}' style='color: #96CAF0'>요청 완료</td>
								<td id="status" th:if='${l.reqStatus == 6}' style='color: red'>요청 취소</td>
							</th:block>
						</tr>
						<tr th:if='${list != null}'>
							<td colspan="5">
								요청하신 리스트가 없습니다
							</td>
						</tr>
					</tbody>
				</table>
				
				<!-- 페이지네이션 -->
				<nav class="d-flex justify-content-center" th:if='${pi.listCount != 0}'>
		        	<ul class="pagination" th:with="loc=${ loc }">
		        		 <!-- 이전 버튼 -->
			            <li class="page-item">
			            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
			            		<span aria-hidden="true">&laquo;</span>
			              	</a>
			            </li>
			            
			             <!-- 페이지 넘버링 버튼  -->
			            	
						<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
							<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
						</li>
			           
			             <!-- 다음 버튼  -->
			            <li class="page-item">
			            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
			            		<span aria-hidden="true">&raquo;</span>
			            	</a>
			            </li>
			    	</ul>
		        </nav>
			</div>
		</div>
	</div>
	
	<div style="margin-bottom: 300px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	
	<script>
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			td.addEventListener('click', ()=>{
				const parent = td.parentElement;
			 	//const boardNo = parent.children[0].children[0].value
				//const cateNo = parent.children[1].children[0].value 
				location.href='detailReqPlan.mp'
					//'${contextPath}/boardView.me?bId=' + boardNo + '&page='+ ${pi.currentPage} + '&cateNo=' + cateNo;
			})
				
		}
	</script>
</body>
</html>