<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내 여행노트</title>
<style>
    table{width:80%; text-align: center; margin-left:auto; margin-right:auto; margin-top:30px;}
    .pageNumber{margin-left:5px; margin-right:5px;}
   	th{font-size:24px;}
   	td{padding:15px;}
   	.flex-container{text-align: center;}
   	.noneList:hover{background-color: white; cursor: default;}
   	#container-in-div{display:inline-block;}
   	#main-div{display:inline-block; width:1000px; height:700px; margin-top: 40px; border: 1px solid lightgray; border-radius:10px;}
   	#title-div{color: black; font-size: 36px; font-weight: 900;}
   	#thTr{border-bottom: 2px solid #96CAF0; height: 60px;}
   	#tdTr{border-bottom: 2px solid #b9b9b9;}
</style>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<div style="height:120px;">
      <!-- 사이드바 -->
      <div id="sidebar">
         <div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div>
      </div>   
   </div>
	
	<div class="flex-container">
		<div id="container-in-div">
			<span class="secondSidebar">
				<a class="nav-link" href="myPlan.mp">플래너일정요청리스트</a>
			</span>
			<span class="secondSidebar">
				<a class="nav-link" href="myTripNote.mp">내 여행 노트</a>
			</span>
        	
			<div id="title-div">내 여행노트</div>
			<div id="main-div">
				<table>
					<thead>
					 	<tr id="thTr">
							<th>여행지</th>
							<th>여행기간</th>
							<th>해시태그</th>
							<th>여행상태</th>
						</tr>
					</thead>
					<tbody>
						<tr id="tdTr" th:each="s : ${sList}">
							<th:block th:if="${ s.scNo != 0 }">
								<td class="place"><label th:text="${s.spot}"></label><input type="hidden" name="scNo" th:value="${s.scNo}"/></td>
								<td class="date" th:text="|${s.scStartDate} ~ ${s.scEndDate}|"></td>
								<td class="hashtag" th:unless='${s.hashtag == null}' th:text="${s.hashtag}"></td>
								<td class="hashtag-none" th:if='${s.hashtag == null}'>-</td>
								<td class="status" th:text="${s.status}"></td>
							</th:block>
							<td th:if="${ s.scNo == 0 }" colspan="5" class="noneList">작성한 일정이 없어요 &#128549;</td>
						</tr>
					</tbody>
				</table>
				
				<!-- 페이지네이션 -->
				<nav class="d-flex justify-content-center" style="margin-top: 60px;" th:if='${pi.listCount != 0}'>
		        	<ul class="pagination" th:with="loc=${ loc }">
		        		 <!-- 이전 버튼 -->
			            <li class="page-item">
			            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
			            		<span aria-hidden="true">&laquo;</span>
			              	</a>
			            </li>
			            
			             <!-- 페이지 넘버링 버튼  -->
						<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
							<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
						</li>
			           
			             <!-- 다음 버튼  -->
			            <li class="page-item">
			            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
			            		<span aria-hidden="true">&raquo;</span>
			            	</a>
			            </li>
			    	</ul>
		        </nav>
			</div>
		</div>
	</div>

	<div style="margin-bottom: 300px"></div>
	<div th:replace="~{common/footer :: footer}" ></div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		let currentPage = parseInt(/*[[${page}]]*/) || 1;
		/*]]>*/
		
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			
			td.addEventListener('click', function(){
				const clickTrScNo = this.parentElement.children[0].children[1].value;
				location.href='detailMyTripNote.mp?scNo=' + clickTrScNo + '&page=' + currentPage;
			})
		}
		
	</script>
</body>
</html>