<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내 여행노트</title>
<style>
    table{width:80%; align:center; text-align: center; margin-left:auto; margin-right:auto; margin-top:30px;}
    ul{font-weight:900;}
    .pageNumber{margin-left:5px; margin-right:5px;}
   	th{font-size:24px;}
   	td{padding:15px;}
</style>
</head>
<body>
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	
	<div class="flex-container" style="text-align:center;">
		<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
		<div th:replace="~{common/myPlanSideBar :: myPlanSideBar}"></div> 
		<div style="height:80px;"></div>
		<div style="display:inline-block; margin-right:250px;">
		
			<div style="color: black; font-size: 36px; font-weight: 900;">내 여행노트</div>
			<div style="height:40px;"></div>
			<div style="display:inline-block; width:1000px; height:800px; border: 1px solid lightgray; border-radius:10px;" >
				<table>
					<thead>
					 	<tr style="border-bottom:2px solid #96CAF0;">
							<th><p>여행지</p></th>
							<th><p>여행기간</p></th>
							<th><p>해시태그</p></th>
							<th><p>여행상태</p></th>
						</tr>
					</thead>
					<tbody>
						<tr style="border-bottom:2px solid #b9b9b9" th:each="s : ${sList}" th:if="${ s != null }">
							<td class="place"><label th:text="${s.spot}"></label><input type="hidden" name="scNo" th:value="${s.scNo}"/></td>
							<td class="date" th:text="|${s.scStartDate} ~ ${s.scEndDate}|"></td>
							<td class="hashtag" th:unless='${s.hashtag == null}' th:text="${s.hashtag}"></td>
							<td class="hashtag-none" th:if='${s.hashtag == null}'>-</td>
							<td class="status" th:text="${s.status}"></td>
						</tr>
					</tbody>
				</table>
				
				<!-- 페이지네이션 -->
				<div class='row' style='margin-bottom: 60px;'>
					<div class='col-4'></div>
						<nav aria-label="Page navigation example" style="display:flex; margin-top: 60px; justify-content:center;">
							<ul class="pagination" th:with="loc=${loc}" id="pagination">
							</ul>
						</nav>
					<div class='col-4'></div>
				</div>
			</div>
		</div>
	</div>
	
	<div style="margin-bottom: 300px"></div>
	<div th:replace="~{common/footer :: footer}" ></div>
	
	<script th:inline="javascript">
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			
			td.addEventListener('click', function(){
				/*!<[CDATA[*/
				let currentPage = /*[[${pi.currentPage}]]*/1;
				/*]]>*/
				
				const clickTrScNo = this.parentElement.children[0].children[1].value;
				location.href='detailMyTripNote.pl?scNo=' + clickTrScNo + '&page=' + currentPage;
			})
		}
		
		const paginationUl = document.getElementById('pagination');
		
		const params = new URLSearchParams(window.location.search);
		const currentPage = parseInt(params.get('page')) || 1;
		const totalItems = parseInt("[[${listCount}]]") || 1;
		const totalPages = Math.ceil(totalItems / 10);

		// 페이지 네이션 생성 부분
		function createPagination(currentPage, totalPages){
			let buttons = '';
			const startPage = Math.max(1, currentPage - 5);
			const endPage = Math.min(totalPages, currentPage + 4);
			
			buttons += '<li class="page-item"><a class="page-link" onclick="changePage('+ (currentPage-1) + ')">&laquo;</a></li>';
			if(startPage > 1){
				buttons += '<li class="page-item"><a class="page-link" onclick="changePage(1)">1</a></li>';
			}
			
			for (let i = startPage; i <= endPage; i++) {
				if(currentPage == i){
					buttons += '<li class="page-item"><a class="page-link" style="font-size:1.1em; color:rgb(150,202,240);" onclick="changePage('+i+')">'+i+'</a></li>';
				}else{
	                buttons += '<li class="page-item"><a class="page-link" onclick="changePage('+i+')">'+i+'</a></li>';
				}
            }

            if (endPage < totalPages) {
            	buttons += '<li class="page-item"><a class="page-link" onclick="changePage('+endPage+')">'+endPage+'</a></li>';
            }
			buttons += '<li class="page-item"><a class="page-link" onclick="changePage('+ (currentPage+1) + ')">&raquo;</a></li>';
            return buttons;
        }
		
		window.changePage = function(pageNumber){
			const pageInput = document.createElement('input');
			pageInput.type="hidden";
			pageInput.name = 'page';
		 	pageInput.value = pageNumber;
            searchForm.appendChild(pageInput);
            searchForm.submit();
		};
		
		paginationUl.innerHTML = createPagination(currentPage, totalPages);
		
	</script>
</body>
</html>