<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너페이지</title>
<style>
    #revision_button {
        color: #96CAF0; 
        background-color: white; 
        width: 80px; 
        height: 40px; 
        border: none; 
        border-radius: 20px; 
        margin-right: 5px; 
        border: 2px solid #96CAF0;
    }
    #revision_button:hover {
        background: #96CAF0;
        border: 2px solid #96CAF0;
        color: #fff;
        font-weight: 600;
    }
	
	 ul{font-weight:900;}
    .pageNumber{margin-left:5px; margin-right:5px;}
    #submitAdmin:hover{color:skyblue}
    
    #mainContainer{width:1400px;}
    .hidden{
    	display:none;
    }
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!-- 플래너페이지 어퍼바 -->
	<div th:replace="~{common/plannerUpperBar :: plannerUpperBar}"></div>
	<!--  -->
	<div style="height:80px;"></div>
	<div id="mainContainer" class="w-75 container-fluid justify-content-center">
		<div class="d-flex justify-content-between align-items-center">	
			<div class="fs-2 my-3 ms-5">
				<button id="submitAdmin" style="font-size:20px; border:none; background:white;"onclick="submitAdmin()">일반회원 전환 요청하기</button>
			</div>
			<div>
				<div style="height:20px;"></div>
				<button class="btn btn-secondary me-5" id="revision_button" onclick="location.href='updatePlanner.mp'"><span>수정</span></button>
			</div>
		</div>
		<!-- 상단 정보 탭 전체 -->
		<div class="d-flex justify-content-center">
		<!-- 플래너 정보 -->
			<div id="plannerInfo" class="m-3 w-75 ">
				<div class="d-flex justify-content-center align-items-center shadow shadow border bg-light rounded-3">
					<div class="d-flex justify-content-center p-3">
						<img class="rounded-circle mx-3" th:src="|https://drive.google.com/thumbnail?id=${image.imageRename}|" width="150px" height="150px"/>
					</div>
					<div class="p-3">
						<div class="mx-3 fs-1">[[${session.loginUser.nickname}]]</div>
						<div class="mx-3 mt-2" >[[${planner.sIntroContent}]]</div>
						<div class="mx-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
								<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
								<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
							</svg> [[${local.localName}]]
						</div>
						<div class="mx-3 mt-2">
							<button id="likeButton" class="btn btn-outline-danger">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
								</svg>
								좋아요 <span id="likeCount">[[${likes}]]</span>
							</button>
						</div>
						<div class="mx-3 mt-2">
							<a style="text-decoration: none; color: black;" href="#">#해시태그 인원</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그1</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그2</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그3</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그4</a>&nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div> 
		</div>
		
		<!-- 가로줄 -->
		<div class="d-flex justify-content-center">
			<hr class="border border-secondary border-1 opacity-75 w-100"/>
		</div>
		
		<div id="reviewSumTab" class="d-flex justify-content-center">
			<div class="container shadow border bg-light rounded-3 m-3 w-75">
				<h2 class="m-5 text-center">후기([[${pi.listCount}]]) | 별점 ★ [[${#numbers.formatDecimal(avgStar,1,1)}]]</h2>
			</div>
		</div>
		
		<!-- 가로줄 -->
		<div class="d-flex justify-content-center">
			<hr class="border border-secondary border-1 opacity-75 w-100"/>
		</div>
		
		
		<div id="content" class="d-flex justify-content-center my-3">
			<div class="d-flex flex-column shadow border bg-light rounded-3 w-75" >
				<div class="d-flex justify-content-center">
					<img class="m-5" width="800px" src="image/insadong.jpg"/><br/>
				</div>
				<div class="mx-5">
					<p>[[${planner.introContent}]]</p>
				</div>
			</div>
		</div>
		
		<!-- 가로줄 -->
		<div class="d-flex justify-content-center">
			<hr class="border border-secondary border-1 opacity-75 w-100"/>
		</div>
		
		
		<!-- 후기 -->
			
		<div class="d-flex text-start mb-3 fs-3">[[${pi.listCount}]]개의 후기 (★ [[${#numbers.formatDecimal(avgStar,1,1)}]])</div>
		<div class="d-flex justify-content-center my-3">
			<div class="d-flex flex-column w-75">
				<div class="list-group shadow w-100" th:each="r: ${rList}">
					<a href="reviewDetail.ma" class="list-group-item list-group-item-action"><img class="rounded-circle m-3" src="/resources/profile-basic.jpg" width="75px" height="75px">
						[[${r.reviewTitle}]]
					</a>
					<!-- 페이지네이션 -->
				</div>
				<div class="text-center" style="margin-top:50px; text-align:center;" th:with="loc=${loc}">
					<ul class="pagination" >
						<!-- 이전링크 -->
						<li style="margin-left:auto;" >
							<a th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous" th:class="${pi.currentPage == pi.startPage ? 'hidden' : ''}">&lt;</a>
						</li>
						<!-- 번호 이동 -->
						<li class="pageNumber" th:each="p:${#numbers.sequence(pi.startPage, pi.endPage)}">
							<th:block th:if="${pi.endPage != 0}"><a th:href="@{${loc}(page=${p})}" th:text="${p}"></a></th:block>
						</li>
						<!-- 다음링크 -->
						<li style="margin-right:auto;">
							<th:block th:if="${pi.endPage != 0}"><a th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next" th:class="${pi.currentPage == pi.endPage ? 'hidden' : ''}">&gt;</a></th:block>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div style="margin-bottom: 300px"></div>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	
	<script>
		function submitAdmin(){
			let result = confirm("요청하시겠습니까");
			if(result == 'true'){
				location.href="submitAdmin.me"
			}else{
				return;
			}
		}
	</script>
</body>
</html>