<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<title>플래너 수정</title>
<style>
#submit_button {
	color: #96CAF0;
	background-color: white;
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin-right: 5px;
	border: 2px solid #96CAF0;
}

#submit_button:hover {
	background: #96CAF0;
	border: 2px solid #96CAF0;
	color: #fff;
	font-weight: 600;
}
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>

	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	<!-- 사이드바 -->
	<div th:replace="~{common/myPageSideBar :: myPageSideBar}"></div>

	<div style="height: 20px;"></div>
	<div class="flex-container" style="margin-top: -240px;">
		<div class="text-center"
			style="color: black; font-size: 36px; font-weight: 900;">플래너계정으로전환하기</div>
		<div style="height: 40px;"></div>

		<!-- 지역 선택-->
		<div class="location row" style="justify-content: center;">
			<div class="col-1">
				<p style="float: right; font-size: 25px; font-weight: 700;">활동지역</p>
			</div>
			<div class="col-1"></div>
			<div class="col-3">
				<select id="region" name="region"
					style="width: 400px; height: 40px; border-radius: 8px;">
					<option>지역을 선택하세요</option>
					<option value="1">서울</option>
					<option value="6">부산</option>
					<option value="4">대구</option>
					<option value="2">인천</option>
					<option value="5">광주</option>
					<option value="3">대전</option>
					<option value="7">울산</option>
					<option value="8">세종</option>
					<option value="31">경기</option>
					<option value="32">강원</option>
					<option value="33">충북</option>
					<option value="34">충남</option>
					<option value="37">전북</option>
					<option value="38">전남</option>
					<option value="35">경북</option>
					<option value="36">경남</option>
					<option value="39">제주</option>
				</select>
			</div>
		</div>
		<div style="height: 20px;"></div>
		<!-- 프로필 소개글 -->
		<div class="introProfile row" style="justify-content: center;">
			<div class="col-1">
				<p
					style="float: right; font-size: 25px; font-weight: 700; display: inline-block; vertical-align: top;">
					프로필<br>소개글
				</p>
			</div>
			<div class="col-1"></div>
			<div class="col-3">
				<textarea id="introProfile" name="introProfile"
					style="width: 400px; height: 200px; resize: none"
					placeholder="간단한 소개글을 작성해주세요"></textarea>
			</div>
		</div>
		<div style="height: 20px;"></div>
		<!-- 신청글 -->
		<div class="submitContent row" style="justify-content: center;">
			<div class="col-1">
				<p
					style="float: right; font-size: 25px; font-weight: 700; display: inline-block; vertical-align: top;">신청글</p>
			</div>
			<div class="col-1"></div>
			<div class="col-3">
				<textarea id="submitContent" name="submitContent"
					style="width: 400px; height: 200px; resize: none"
					placeholder="간단한 소개글을 작성해주세요"></textarea>
			</div>
		</div>
		<div style="height: 50px;"></div>
		<!-- 제출버튼 -->
		<div class="text-center">
			<button id="submit_button" onclick="promotion()">제출</button>
		</div>

	</div>

	<div style="margin-bottom: 300px"></div>

	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}"></div>

	<script th:inline="javascript">
	 	//전환 요청 확인 promotion.mp
	 	function promotion(){
	 		/*<![CDATA[*/
			const grade = /*[[${session.loginUser.grade}]]*/
			/*]]>*/
	 		if(grade == 'ADMIN'){
	 			alert('현재 관리자입니다')
	 			return false;
	 		}else if(grade == 'PLANNER'){
	 			alert('현재 플래너입니다')
	 			return false;
	 		}else{
		 		const region = document.getElementById('region').value;
		 		const intro = document.getElementById('introProfile').value;
		 		const submit = document.getElementById('submitContent').value;
			 	if(region == '지역을 선택하세요'){
			 		alert('지역을 선택하세요')
			 		return false;
			 	}else if(intro == "" || submit == ""){
			 		if(confirm("소개 글 또는 신청 글이 없을 시 전환이 안 될 수있습니다")){
			 			$.ajax({
			 				type : 'post', 
		    				url : 'promotion.mp',
		    				data : {region:region, introProfile:intro, submitContent:submit},
		    				success : (data) =>{ 
		    					console.log(data)
		    					if(data == 'PLANNER'){
		    						alert('플래너 요청이 되어 있는 상태입니다');
		    					}else if(data == 'ADMIN'){
		    						alert('관리자 요청이 되어 있는 상태입니다.');
		    					}else{
			    					alert('플래너 요청이 완료되었습니다');
			    					window.location.reload();
		    					}
		    				},
		    				error : (data) =>{
		    						alert('플래너 요청이 실패되었습니다') ;   						
		    					}
			 			})
			 		}else{
			 			return false;
			 		}
			 	}else{
			 		if(confirm('전환 요청하시겠습니까')){
			 			$.ajax({
			 				type : 'post', 
		    				url : 'promotion.mp',
		    				data : {region:region, introProfile:intro, submitContent:submit},
		    				success : (data) =>{ 
		    					if(data == 'PLANNER'){
		    						alert('플래너 요청이 되어 있는 상태입니다');
		    					}else if(data == 'ADMIN'){
		    						alert('관리자 요청이 되어 있는 상태입니다.');
		    					}else{
			    					alert('플래너 요청이 완료되었습니다');
		    					}
		    				},
		    				error : (data) =>{
		    						alert('플래너 요청이 실패되었습니다') ;   						
		    					}
			 			})
			 		}else{
			 			return false;
			 		}
			 	}
		 	}
	 	}
	 	
	 </script>


</body>
</html>