<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>요청 보기</title>
<style>
    table{width:80%; align:center; text-align: center; margin-left:auto; margin-right:auto; margin-top:30px;}
    ul{font-weight:900;}
    .pageNumber{margin-left:5px; margin-right:5px;}
   	th{font-size:24px;}
   	td{padding:15px;}
</style>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	<!-- 플래너페이지 어퍼바 -->
	<div th:replace="~{common/plannerUpperBar :: plannerUpperBar}"></div>
	
	<div class="flex-container" style="text-align:center; margin-left:auto;">
		<br/>
		<div style="display:inline-block; width:1200px; height:800px; border: 1px solid lightgray; border-radius:10px;" >
		<table>
			<thead>
			 	<tr style="border-bottom:2px solid #96CAF0;">
					<th><p>No.</p></th>
					<th><p>요청자</p></th>
					<th><p>여행기간</p></th>
					<th><p>진행상태</p></th>
				</tr>
			</thead>
			<tbody>
				<tr style="border-bottom:2px solid #b9b9b9" th:each="r : ${reqList}">
					<td id="requestNumber">[[${r.reqNo}]]</td>
					<td id="planner">[[${r.nickname}]]</td>
					<td class="width: 300px" id="date">[[${r.startDay}]] ~ [[${r.endDay}]]</td>
					<td id="status" th:if="${r.reqStatus == 1}">일정 미작성</td>
					<td id="status" th:if="${r.reqStatus == 2}">구매 확정 대기 중</td>
					<td style="color: #2F6598; font-weight: bold;" id="status" th:if="${r.reqStatus == 3}">구매 확정</td>
					<td style="color: red; font-weight: bold;"id="status" th:if="${r.reqStatus == 4}">신청 취소</td>
				</tr>
			</tbody>
		</table><br/>
			<!-- 페이지네이션 -->
			<nav class="d-flex justify-content-center">
	        	<ul class="pagination" th:with="loc=${ loc }">
	        		 <!-- 이전 버튼 -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
		            		<span aria-hidden="true">&laquo;</span>
		              	</a>
		            </li>
		            
		             <!-- 페이지 넘버링 버튼  -->
					<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
						<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
					</li>
		           
		             <!-- 다음 버튼  -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
		            		<span aria-hidden="true">&raquo;</span>
		            	</a>
		            </li>
		    	</ul>
	        </nav>
		</div>	
	</div><br/>
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	<script>
		//상세글 보기
		const tds = document.querySelectorAll('td');
		for(const td of tds){
			//마우스오버시 게시글 목록 배경 변환	
			td.addEventListener('mouseover',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='#ECEBEB';
				parent.style.cursor='pointer';
			})
			//마우스아웃 시 게시글 목록 배경 변환
			td.addEventListener('mouseout',function(){
				const parent = td.parentElement;
				parent.style.backgroundColor='white';
			})
			// 상세 보기
	         td.addEventListener('click', ()=>{
	            const reqNo = td.parentElement.children[0].innerText;
	            location.href='detailRequest.mp?reqNo=' + reqNo;
	         })
					
		}
	</script>
</body>
</html>