<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<title>마이페이지</title>
<style>
	#revision_button {
        color: #96CAF0; 
        background-color: white; 
        width: 80px; 
        height: 40px; 
        border: none; 
        border-radius: 20px; 
        margin-right: 5px; 
        border: 2px solid #96CAF0;
    }
    #revision_button:hover {
        background: #96CAF0;
        border: 2px solid #96CAF0;
        color: #fff;
        font-weight: 600;
    }
     input[type="password"]{
    	width:300px; 
    	height:40px; 
    	border-radius: 8px; 
    	padding-left:10px;
    	border:1px solid lightgray
    }
</style>
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{common/logoBar :: logoBar }"></div>
	<div th:replace="~{common/mainCategoryBar :: mainCategoryBar}"></div>
	
	<!--마이페이지 어퍼바-->
	<div th:replace="~{common/myPageUpperBar :: myPageUpperBar}"></div>
	
	<div style="height:120px;">
		<!-- 사이드바 -->
		<div id="sidebar">
    		<div th:replace="~{common/myPageSideBar :: myPageSideBar}"></div>
    	</div>
	</div>
	<div class="flex-container">
		<div style="text-align:center;">
	    	<span class=secondSidebar><a class="nav-link" href="myPage.mp">내 정보 수정</a></span>
			<span class=secondSidebar><a class="nav-link" href="updateMyPwd.mp">비밀번호 변경</a></span>
			<span class=secondSidebar><a class="nav-link" href="promoteToPlanner.mp">플래너 전환하기</a></span>
			<span class=secondSidebar><a class="nav-link" id="admin" onclick="submitAdmin()">관리자 전환 요청하기</a></span>
	    </div>
		<div class="text-center" style="color: black; font-size: 36px; font-weight: 900;">비밀번호 변경</div>
		<div style="height:40px;"></div>
		 <div style="width:85%; margin:0 auto;">
			<!-- 현 비밀번호 -->
			<div class="currentPwd row" style="justify-content:center;">
				<div class="col-2">
					<span style="float:right; font-size:25px; font-weight: 700; ">현재 비밀번호</span>
				</div>
				<div class="col-1"></div>
				<div class="col-3">
					<input id="currentPwd" name="currentPwd" type="password" placeholder="현재 사용중인 비밀번호를 입력하세요">
				</div>
			</div>
			<div style="height:20px;"></div>
			<!-- 새 비밀번호 -->
			<div class="newPwd row" style="justify-content:center;">
				<div class="col-2">
					<span style="float:right; font-size:25px; font-weight: 700; ">새 비밀번호</span>
				</div>
				<div class="col-1"></div>
				<div class="col-3">
					<input id="newPwd" name="newPwd" type="password" placeholder="비밀번호를 입력하세요">
					<button style="border:none; background:white; color:#FF9797" title="비밀번호는 숫자, 영어, 특수문자 포함 8자 이상 15자 미만으로 생성해주세요" disabled>
	                   	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
	  							<path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
							</svg>
	                   </button>
	                   <div id="pwdText"></div>
				</div>
			</div>
			<div style="height:20px;"></div>
			<!-- 새 비밀번호 확인 -->
			<div class="checkNewPwd row" style="justify-content:center;">
				<div class="col-2">
					<a style="float:right; font-size:25px; font-weight: 700; ">새 비밀번호 확인</a>
				</div>
				<div class="col-1"></div>
				<div class="col-3">
					<input id="checkPwd" name="checkPwd" type="password" placeholder="확인을 위한 비밀번호 입력">
					<div id="checkPwdText">비밀번호를 입력하세요</div>
				</div>
			</div>
		</div>
		<div style="height:50px;"></div>
		<!-- 수정버튼 -->
		<div class="text-center">
			<button id="revision_button" onclick="updatePwd()">수정</button>
		</div>
	</div>
		
	<div style="margin-bottom: 300px"></div>
	
	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}" ></div>
	<script>
		//새로운 비밀번호 유효성 검사
		const checkNewPwd = () =>{
			document.getElementById('newPwd').addEventListener('change', () => {
				const newPwd = document.getElementById('newPwd').value;
				const regPwd = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;
				const pwdText = document.getElementById('pwdText')
				//console.log(newPwd);
				if(newPwd == ""){
					pwdText.innerText="";
				}else if(!regPwd.test(newPwd)){
					pwdText.innerText="비밀번호는 숫자, 영어, 특수문자 포함 8자 이상 15자 미만으로 생성해주세요";
					pwdText.style.color="red";
				}else{
					pwdText.innerText="";
				}
				//새로운 비밀번호 맞는지 확인
				if(regPwd.test(newPwd)){
					document.getElementById('checkPwd').addEventListener('input',()=>{
						const newPwd = document.getElementById('newPwd').value;
						const checkPwd = document.getElementById('checkPwd').value;
						const checkPwdText = document.getElementById('checkPwdText');
						
						if(checkPwd.trim() == ""){
							checkPwdText.innerText= "비밀번호를 입력하세요";
							checkPwdText.style.color = "black";
						}else if(newPwd == checkPwd){
							checkPwdText.innerText= "";
							checkPwdTextValue = 'true';
							checkPwdText.innerText= "일치";
							checkPwdText.style.color = "green";
							
						}else if(newPwd != checkPwd){
							checkPwdText.innerText= "";
							checkPwdText.innerText= "불일치";
							checkPwdText.style.color = "red";
						}
					})
				}
			});
		}
		
		(() => {
			checkNewPwd();
		})();
		
		//비번 수정 신청 확인 및 완료 시 알람창 
		function updatePwd(){
			const currentPwd = document.getElementById('currentPwd');
			const currentPwdValue = currentPwd.value;
			
			const newPwd = document.getElementById('newPwd');
			const newPwdValue = newPwd.value; 
			
			const checkPwd = document.getElementById('checkPwd');
			const checkPwdValue = checkPwd.value;
			
			if(currentPwdValue.trim() == ""){
				currentPwd.focus();
				alert('비밀번호를 입력하세요');
			}else if(newPwdValue.trim() == ""){
				newPwd.focus();
				alert('새 비밀번호를 입력하세요');
			}else if(checkPwdValue.trim() == ""){
				checkPwd.focus();
				alert('비밀번호 확인을 입력하세요');
			}else{
				
				if(confirm('비밀번호를 수정하시겠습니까')){
					const regPwd = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;
					if(regPwd.test(newPwdValue) && (newPwdValue == checkPwdValue)){
						$.ajax({
							type : 'post', 
		    				url : 'updatPwdOfMe.mp',
		    				data : {currentPwd:currentPwdValue, newPwd:newPwdValue},
		    				success : (data)=>{ 
		    					if(data == 'true'){
		    						checkPwd.value ="";
		    						newPwd.value="";
		    						newPwd.focus();
		    						alert('현재 이용하는 비밀번호로 수정할 수 없습니다')
		    					}else{
			    					alert('비밀번호 수정에 성공하였습니다.');
			    					location.href = "logout.me";
		    					}
		    				},
		    				error: (data) =>{
		    					alert('비밀번호 수정에 실패하였습니다.');
		    				}
						})
					}else if(!regPwd.test(newPwd)){
						checkPwd.value ="";
						newPwd.value="";
						newPwd.focus();
						alert('비밀번호가 형식과 일치하지 않습니다');
						return false;
					}
				}else{
					return false;
				}
			}
		}
		
	</script>
</body>
</html>