<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너 정보</title>
<link type="text/css" href="css/matching/matchingDetail.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	<div id="mainContainer" class="container-fluid justify-content-center">
		<div class="d-flex justify-content-between align-items-center">	
			<div class="fs-2 my-3 ms-5">플래너 정보 📖✏️</div>
			<div>
				<button class="btn btn-secondary me-5" onclick="location.href='matchingMain.ma'">목록으로</button>
			</div>
		</div>
		<!-- 상단 정보 탭 전체 -->
		<div class="d-flex justify-content-center px-3 m-3">
			<!-- 플래너 정보 -->
			<div id="plannerInfo" class="m-3">
				<div class="d-flex justify-content-center align-items-center shadow border bg-light rounded-3">
					<div class="d-flex justify-content-center p-3">
						<img th:if="${planner.imageRename != null}" class="rounded-circle mx-3" th:src="|https://drive.google.com/thumbnail?id=${planner.imageRename}|" width="150px" height="150px"/>
					</div>
					<div class="d-flex justify-content-center p-3">
						<img th:if="${planner.imageRename == null}" class="rounded-circle mx-3" src="image/noProfile.png" width="150px" height="150px"/>
					</div>
					<div class="p-3">
						<div class="mx-3 fs-1">[[${planner.Nickname}]] 플래너</div>
						<div class="mx-3 mt-2" style="width: 400px">[[${planner.sIntroContent}]]</div>
						<div class="mx-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
								<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
								<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
							</svg> [[${localName}]]
						</div>
						<div class="mx-3 mt-2">
							<button id="likeButton" class="btn btn-outline-danger" th:classappend="${checkLikes != 0} ? 'active' : ''">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
								</svg>
								좋아요 <span id="likeCount">[[${likes}]]</span>
							</button>
						</div>
						<div class="mx-3 mt-2">
							<a style="text-decoration: none; color: black;" href="#">#해시태그 인원</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그1</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그2</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그3</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그4</a>&nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div> 
			<div id="RequestForm" class="p-3">
				<div class="d-inline-block text-center shadow border bg-light rounded-3">
					<h3 class="d-inline-block m-3">플래너에게 지금 견적을<br/>
													신청해보세요</h3><br/>
					<button class="btn text-white m-3" style="background-color: #96caf0;" onclick="location.href='matchingRequest.ma'">일정 신청</button>
				</div>
				<br/><br/>
				<form action="matchingReview.ma">
					<input type="hidden" name="pNo" th:value="${planner.memberNo}">
					<button class="btn" id="reviewBtn">>> 후기 작성하러 가기</button>
				</form>
			</div>
		</div>
		
		<!-- 가로줄 -->
		<div class="d-flex justify-content-center">
			<hr class="border border-secondary border-1 opacity-75 w-100"/>
		</div>
		
		<div id="reviewSumTab" class="d-flex justify-content-center">
			<div class="container border bg-light rounded-3 m-3 w-75" >
				<h2 class="m-5 text-center">후기([[${pi.listCount}]]) | 별점 ★ [[${AvgStar}]]</h2>
			</div>
		</div>
		
		<!-- 가로줄 -->
		<div class="d-flex justify-content-center">
			<hr class="border border-secondary border-1 opacity-75 w-100"/>
		</div>
		
		
		<div id="content" class="d-flex justify-content-center my-3">
			<div class="d-flex flex-column border bg-light  rounded-3 w-75" >
				<div class="d-flex justify-content-center">
					<img class="m-5 w-100" width="800px" src="/resources/goSchedule.jpg"/><br/>
				</div>
				<div class="mx-5 mb-5">
					<p>안녕하세요! 여행을 사랑하는 모든 분들을 환영합니다. 이 가이드는 여러분의 여행이 더욱 특별하고 잊지 못할 경험이 될 수 있도록 다양한 정보를 제공합니다. 전 세계의 숨겨진 명소, 현지인만 아는 맛집, 독특한 문화 체험까지, 여행지에 대한 상세한 정보와 유용한 팁을 담고 있습니다. 혼자 떠나는 자유 여행이든 가족과 함께하는 휴가든, 각 여행 스타일에 맞춘 맞춤형 정보를 제공합니다. 또한, 여행 중 유의해야 할 안전 수칙과 에티켓, 현지 언어 표현 등도 포함되어 있어 처음 방문하는 곳에서도 자신감을 가질 수 있습니다. 여러분의 여행 준비부터 현지에서의 활동까지 이 가이드가 든든한 동반자가 되길 바랍니다. 새로운 곳에서의 멋진 추억을 만들어 보세요!</p>
				</div>
			</div>
		</div>
		
		<!-- 가로줄 -->
		<div class="d-flex justify-content-center">
			<hr class="border border-secondary border-1 opacity-75 w-100"/>
		</div>
		
		
		<!-- 후기 -->
			
		<div class="d-flex text-start mb-3 fs-3">[[${pi.listCount}]]개의 후기 (★ [[${AvgStar}]])</div>
		<div class="d-flex justify-content-center my-3">
			<div class="d-flex flex-column w-75">
				<div class="list-group w-100" th:each="r : ${ rlist }">
					<table class="fs-3 text-center border bg-light">
						<tr>
							<td>
								<img class="rounded-circle m-3" th:src="|https://drive.google.com/thumbnail?id=${r.imageRename}&sz=w1000|" width="75px" height="75px">
							</td>
							<td width="200px">[[${r.nickname}]]</td>
							<td width="200px">★ [[${r.reviewStar}]]</td>
							<td width="600px">[[${r.reviewTitle}]]</td>
							<td style="display: none;">[[${r.reviewContent}]]</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		
		<th:block th:if="${pi.listCount != 0}">
			<nav class="d-flex justify-content-center">
	        	<ul class="pagination" th:with="loc=${ loc }">
	        		 <!-- 이전 버튼 -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
		            		<span aria-hidden="true">&laquo;</span>
		              	</a>
		            </li>
		            
		             <!-- 페이지 넘버링 버튼  -->
		            	
					<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
						<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
					</li>
		           
		             <!-- 다음 버튼  -->
		            <li class="page-item">
		            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
		            		<span aria-hidden="true">&raquo;</span>
		            	</a>
		            </li>
		    	</ul>
	        </nav>
		</th:block>
		<th:block th:if="${pi.listCount == 0}">
			<div class="emptyReview d-flex justify-content-center">
				<h2>등록된 후기가 없습니다.</h2>
			</div>
		</th:block>
	</div>
	<div th:replace="~{ common/footer.html :: footer }"></div>
	
	<!-- 후기 모달창 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="reviewModal">
		<div class="modal-dialog d-flex align-items-center justify-content-center">
    		<div class="modal-content rounded-3 shadow">
      			<div class="modal-body p-4 text-center">
        			<h3 class="mb-3" id="modalReviewTitle">리뷰 제목</h3>
        			<hr/>
                	<p class="mb-0" id="modalReviewContent">리뷰 내용</p>
      			</div>
      			<button type="button" class="btn btn-lg btn-light w-80 m-3" data-bs-dismiss="modal">닫기</button>
    		</div>
  		</div>
	</div>
	
	
	
	
</body>
<script>

const reviewList = document.querySelectorAll('tr');
for(const tr of reviewList) {
	tr.addEventListener('click', function(){
        
        const reviewTitle = this.children[3].innerText;
        const reviewContent = this.children[4].innerText;

        document.querySelector('#modalReviewTitle').innerText = reviewTitle;
        document.querySelector('#modalReviewContent').innerText = reviewContent;

        $('#reviewModal').modal('show');
	});
}


document.getElementById('likeButton').addEventListener('click', () => {
	const pNo = [[${ planner.memberNo }]];
	const likeButton = document.getElementById('likeButton');
    let url = '';
    let changeLikes = 0;
    

    if (likeButton.classList.contains('active')) {
        url = 'deleteLikes.ma';
        changeLikes = -1;
    } else {
        url = 'insertLikes.ma';
        changeLikes = +1;
    }
    
    $.ajax({
        type: "POST",
        url: url,
        data: { pNo : pNo },
        dataType: 'json',
        success: data => {
            if(data.result == -1) {
                alert('로그인 후에 [좋아요] 할 수 있습니다.');
            } else if(data.result > 0) {
                likeButton.classList.toggle('active');
                
                let currentLike = parseInt(document.getElementById('likeCount').textContent);
                document.getElementById('likeCount').textContent = currentLike + changeLikes;
            } else {
                alert('[좋아요]에 실패했습니다.');
            }
        }
    });
});
</script>
</html>