<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전문 플래너에게 일정 신청하기</title>

<link rel="stylesheet" href="css/matching/matchingRequest.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="css/matching/datepicker.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

</head>
<body>
	<div th:replace="~{ ../common/logoBar :: logoBar }"></div>
	<div th:replace="~{ ../common/mainCategoryBar :: mainCategoryBar }"></div>
	<div class="introduce">
		<p>[[${planner.nickname}]]님에게 [[${localName}]] 여행가는 일정을 신청합니다.</p>
	</div>
	<div class="main-div">
		<form id="planMainForm" action="insertRequest.ma" method="POST">
			<input type="hidden" name="pNo" th:value="${planner.memberNo}">
			<input type="hidden" name="lNo" th:value="${planner.localNo}">
			<div id="calender-spot-checkbox-div">
				<div class="contain-div" id="p-calender-div">
					<p class="middle-title">여행 기간</p>
					<div class="contain-in-div" id="calender-div">
						<div class="datepicker" id="sdate">
							<span>여행 출발 날짜</span> <input type="hidden" style="display:none" name="startDate" id="startDate" value="" class="datepicker">
						</div>
						<div class="datepicker" id="edate">
							<span>여행 마지막 날짜</span> <input type="hidden" style="display:none" name="endDate" id="endDate" value="" class="datepicker">
							<input type="hidden" name="dayDiff" id="dayDiff" value="" />
						</div>
					</div>
				</div>
				<div class="introduce">
					<p>플래너가 고려할 세부사항을 입력하세요 (선택)</p>
				</div>
				<div class="d-flex justify-content-center">
					<textarea class="form-control w-50" id="ReviewContent" name="reqRef" placeholder="ex) 힐링 여행을 선호해요, 해산물은 못먹어요 등" rows="10"></textarea>
				</div>
					<button id="createButton" type="button">일정 신청</button>
			</div>
		</form>
	</div>

	<div th:replace="~{ ../common/footer :: footer }"></div>


	<script th:inline="javascript">
		window.onload = ()=> {
			function calculateDateRange() {
				let startDate = new Date(document.getElementById('startDate').value);
				let endDate = new Date(document.getElementById('endDate').value);

				let timeDiff = endDate.getTime() - startDate.getTime();

				let dayDiff = timeDiff / (1000 * 3600 * 24);
				
				document.getElementById('dayDiff').value = dayDiff + 1;
			}
			
			const startDate = document.getElementById('startDate');
			const endDate = document.getElementById('endDate');
			
			document.getElementById('createButton').addEventListener('click', calculateDateRange);
			document.getElementById('createButton').addEventListener('click', function() {
				
				if(startDate.value == ''){
					alert('여행 출발 날짜를 선택해 주세요');
				} else if(endDate.value == ''){
					alert('여행 마지막 날짜를 선택해 주세요');
				}  else if(dayDiff.value > 0){
					document.getElementById('planMainForm').submit();
				}
				
			});
			
			$(document).ready(function(){ 
				$( ".datepicker" ).datepicker({
					inline: true,
					dateFormat: 'yy/mm/dd',
					prevText: '이전 달',
					nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					showMonthAfterYear: true,
					yearSuffix: '년'
				});
				
				$('#sdate').datepicker("option", "minDate", 0);
				$('#edate').datepicker("option", "minDate", 0);
				
				$('#sdate').datepicker("option", "onSelect", function (selectedDate){
					$('#startDate').val(selectedDate);
					
					$("#edate").datepicker("option", "minDate", selectedDate);
					
					let maxDate = $.datepicker.parseDate('yy/mm/dd', selectedDate);
					maxDate.setDate(maxDate.getDate() + 21);
					$("#edate").datepicker("option", "maxDate", $.datepicker.formatDate('yy/mm/dd', maxDate));
			    });
				
				$('#edate').datepicker("option", "onSelect", function(selectedDate){
						$('#endDate').val(selectedDate);
				});
			});
		}
	</script>
</body>
</html>