<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>플래너 후기 작성하기</title>

<link type='text/css' href='css/recoPlace/placeReviewUpdate.css' rel='stylesheet'>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
<div th:replace="~{ common/logoBar :: logoBar }"></div>
<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
<div id="mainContainer" class="container-fluid justify-content-center">
	<div class="d-flex justify-content-center mb-3">
		<!-- 플래너 정보 -->
			<div id="plannerInfo" class="m-3">
				<div class="d-flex justify-content-center align-items-center shadow shadow border bg-light rounded-3">
					<div th:if="${planner.imageRename != null}" class="d-flex justify-content-center p-3">
						<img class="rounded-circle mx-3" th:src="|https://drive.google.com/thumbnail?id=${planner.imageRename}|" width="150px" height="150px"/>
					</div>
					<div class="p-3">
						<div class="mx-3 fs-1">[[${planner.Nickname}]] 플래너</div>
						<div class="mx-3 mt-2" style="width: 400px">[[${planner.sIntroContent}]]</div>
						<div class="mx-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
								<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
								<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
							</svg> [[${localName}]]
						</div>
						<div class="mx-3 mt-2">
							<button id="likeButton" class="btn btn-outline-danger" th:classappend="${checkLikes != 0} ? 'active' : ''">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
								</svg>
								좋아요 <span id="likeCount">[[${likes}]]</span>
							</button>
						</div>
						<div class="mx-3 mt-2">
							<a style="text-decoration: none; color: black;" href="#">#해시태그 인원</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그1</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그2</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그3</a>&nbsp;&nbsp;
							<a style="text-decoration: none; color: black;" href="#">#해시태그4</a>&nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- form 영역 -->
	<form action="updateReview.ma" method='POST' enctype="multipart/form-data" id='reviewForm'>
		<input type="hidden" name="plannerNo" id="plannerNo" th:value=${planner.memberNo}>
		<input type='hidden' name='page' th:value=1>
		<div id='inputDiv'>
			<div id='reviewTitle'>
				<h3>후기 제목</h3>
				<input type='text' name='reviewTitle' id='title' class='reviewInput' th:value="${r.reviewTitle}" required>
			</div>
			<div id='starReview'>
				<input type='hidden' name='reviewStar' value='0' id='reviewStar' >
				<div id='starDiv'>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
					<img src="image/noStar.png" class='star'/>
				</div>
			</div>
			<div id='reviewContent'>
				<h3>후기 내용</h3>
				<textArea name='reviewContent' id='content' class='reviewInput' required>[[${r.reviewContent}]]</textArea>
			</div>
			<div id='imgReview'>
			<h3>후기 사진</h3>
			<div id='image' th:if='${rImgList != null}'>
				<th:block  th:each='i : ${rImgList}'>
					<img th:src="|https://drive.google.com/thumbnail?id=${i.imageRename}&sz=w1000|" th:alt="${i.imageOriginName}" class='reImg'>
					<button class='deleteButton btn' type='button'  th:id='${i.imageRename}'>
						<span  class="beforeDel">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
								<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
							</svg>
						</span>
						<span class="afterDel">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
								<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
							</svg>
						</span>
					</button>
					<input type='hidden' value='none' name='delImg'>
				</th:block>
			</div>
			<input type='file' accept="image/*" multiple id="files" name='files' class="form-control">
			</div>
			<div class='d-grid gap-2 d-md-flex justify-content-md-end'>
				<button type='button' class="btn btn-primary" id='update'>수정</button>
			</div>
		</div>
	</form>
	<!-- form 영역 -->
</div>
<div th:replace="~{ common/footer.html :: footer }"></div>
	

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			 
			// 제목/내용 미입력시 폼제출 안됌
			const title = document.getElementById('title');
			document.getElementById('update').addEventListener('click', ()=>{
				const content = document.getElementById('content');
				const reviewStar = document.getElementsByName('reviewStar')[0];
				
				if(title.value == ""){
					alert("제목을 입력해주세요.");
					title.focus();
				}else if(content.value == ""){
					alert("내용을 입력해주세요.");
					content.focus();
				}else if(reviewStar.value == 0){
					alert("별점을 등록해주세요.");
				}else{
					document.getElementById('reviewForm').submit();
				}
			})
			
			const maxBytes = 60;
			
			title.addEventListener('focusout', function(){
				let currentBytes = calculateBytes(title.value);

                if (currentBytes > maxBytes) {
                	alert("제목은 30자내로 입력해주세요");
                    while (currentBytes > maxBytes) {
                        title.value = title.value.slice(0, -1);
                        currentBytes = calculateBytes(title.value);
                    }
                }
			})
			
			function calculateBytes(str) {
                let bytes = 0;
                for (let i = 0; i < str.length; i++) {
                    const charCode = str.charCodeAt(i);
                    if (charCode <= 0x7F) {
                        bytes += 1; // ASCII characters
                    } else if (charCode <= 0x7FF) {
                        bytes += 2; // Non-ASCII characters, mostly CJK characters
                    } else if (charCode <= 0xFFFF) {
                        bytes += 3; // Non-ASCII characters, mostly CJK characters
                    } else {
                        bytes += 4; // Non-ASCII characters, mostly CJK characters
                    }
                }
                return bytes;
            }
			
			
			// 별점 등록하기
			function addStarClickListeners() {
				// 별 이미지
				const stars = document.querySelectorAll('.star');
				
				// hidden 파라미터
				const paramStar = document.getElementById('reviewStar');
				//console.log(paramStar.value);
				
				stars.forEach((star, index) => {
					star.addEventListener('click', e =>{
						paramStar.value = index +1;
						changeStarDiv(index);
					})
				})
			}
			
			// 초기 이벤트 리스너 추가
            addStarClickListeners();
			
			// 별점 이미지변경 함수
			function changeStarDiv (index){
				// 별 div
				const starDiv = document.getElementById('starDiv');
				starDiv.innerHTML = "";
				
				let starHTML = '';
                for (let i = 0; i < 5; i++) {
                    if (i <= index) {
                        starHTML += "<img src='image/star.png' class='star'/>";
                    } else {
                        starHTML += "<img src='image/noStar.png' class='star'/>";
                    }
                }
                starDiv.innerHTML = starHTML;
                
				// 새로운 별 요소들에 이벤트 리스너 다시 추가
	            addStarClickListeners();
			}
			
			const delBtns = document.getElementsByClassName('deleteButton');
			for(const btn of delBtns){
				btn.addEventListener('click', function(){
					const hidden = this.nextElementSibling;
					const img = this.previousElementSibling;
					this.innerHTML = "";
					console.log(hidden);
					/*console.log(this);
					console.log(img); */
					if(hidden.value == 'none'){
						this.innerHTML = '<span  class="backDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/></svg></span>';
						hidden.value = this.id;
						img.style.opacity = '0.5';
					}else{
						this.innerHTML = '<span  class="beforeDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/></svg></span>'
											+ '<span class="afterDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/></svg></span>';
						hidden.value = "none";
						img.style.opacity = '1';
					}
					
				})
			}
			
		});
	</script>
</html>