<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>'여기'에만 있는 전문 플래너</title>
<link type="text/css" href="css/matching/matchingMain.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<div th:replace="~{ common/logoBar :: logoBar }"></div>
	<div th:replace="~{ common/mainCategoryBar :: mainCategoryBar }"></div>
	
	<div id="mainContainer" class="container-fluid justify-content-center">
		<div class="d-flex justify-content-between align-items-center">
			<div class="fs-2 my-3 ms-5">플래너 정보 📖✏️</div>
			</div>
		<div class="d-flex justify-content-center">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="l : ${ localList }">
						<div class="local-card position-relative">
							<input type=hidden th:value="${l.localNo}">
								<img class="local-img shadow position-absolute" th:src="|https://drive.google.com/thumbnail?id=${l.imageRename}&sz=w1000|" th:alt="${l.localName}">
							<span class="card-text position-absolute fs-1 px-3">[[${l.localName}]]
							</span>
						</div>
					</div>
				</div>
				<div class="swiper-button-wrapper">
					<div class="swiper-button-next"></div>
		    		<div class="swiper-button-prev"></div>
	    		</div>
			</div>
		</div>
		<hr/>
		<th:block th:if="${ pi.listCount != 0 }">
		<div class="d-flex justify-content-center my-2">
			<div class="w-75">
				<div class="fs-3 p-3 w-100">
					<div>
		         		<div class="d-flex justify-content-center my-3">
		         			<table class="text-center my-3">
			         			<tr>
				         			<th class="d-none">번호</th>
		         					<th width="110px">사진</th>
					         		<th width="200px">플래너닉네임</th>
					         		<th width="150px">지역</th>
					         		<th width="300px">플래너 소개</th>
					         		<th width="200px">좋아요</th>
				         		</tr>
			         		</table>
			         	</div>
		         	</div>
	         		<!-- 플래너 정보 -->
	         		<div class="d-flex justify-content-center my-3">
		         		<div class="plannerListContainer">
			         		<table class="plannerList text-center my-3" th:each="planner : ${ list }">
				         		<tr>
				         			<td class="d-none">[[${planner.memberNo}]]</td>
				         			
		         					<td th:if="${planner.imageRename != null }">
		         						<img class="rounded-circle m-3" th:src="|https://drive.google.com/thumbnail?id=${planner.imageRename}&sz=w1000|"  width="75px" height="75px" alt="프로필">
		         					</td>	
		         					<td th:if="${planner.imageRename == null }">
		         						<img class="rounded-circle m-3" src="image/noProfile.png"  width="75px" height="75px" alt="프로필">
		         					</td>
		         					
					         		<td width="200px">[[${planner.Nickname}]]</td>
					         		<td width="150px">[[${localName[planner.memberNo]}]]</td>
					         		<td class="sIntro fs-5" width="300px">[[${planner.sIntroContent}]]</td>
					         		<td width="200px">[[${likes[planner.memberNo]}]]</td>
				         		</tr>
			         		</table>
		         		</div>
		         	</div>
		        </div>
        	</div>
		</div>
		
		<div class='row' style='margin-bottom: 100px;'>
			<div class='col-4'></div>
			<nav aria-label="Page navigation" class='col-4 d-flex justify-content-center' id='pagination'>
			</nav>
			<div class='col-4'></div>
		</div>
		
				
		<nav class="d-flex justify-content-center">
        	<ul class="pagination" th:with="loc=${ loc }">
        		 <!-- 이전 버튼 -->
	            <li class="page-item">
	            	<a class="page-link" th:classappend="${pi.currentPage == 1} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage-1 })}" aria-label="Previous">
	            		<span aria-hidden="true">&laquo;</span>
	              	</a>
	            </li>
	            
	             <!-- 페이지 넘버링 버튼  -->
	            	
				<li class="page-item" th:each="p : ${ #numbers.sequence(pi.startPage, pi.endPage) }">
					<a th:style="${ pi.currentPage == p } ? 'font-weight:bold; font-size:1.1em; color:#96caf0;' : ''" class="page-link" th:href="@{ ${loc}(page=${ p })}">[[${ p }]]</a>
				</li>
	           
	             <!-- 다음 버튼  -->
	            <li class="page-item">
	            	<a class="page-link" th:classappend="${pi.currentPage == pi.endPage} ? 'disabled'" th:href="@{ ${loc}(page=${ pi.currentPage+1 })}" aria-label="Next">
	            		<span aria-hidden="true">&raquo;</span>
	            	</a>
	            </li>
	    	</ul>
        </nav>
		</th:block>
		<th:block th:if="${ pi.listCount == 0 }">
			<div style="height: 100px"></div>
			<div class="d-flex justify-content-center m-3" style="height: 500px">
				<h1> 등록된 플래너가 없습니다. </h1>
			</div>
		</th:block>
		</div>
	<div th:replace="~{ common/footer.html :: footer }"></div>
</body>

<script th:inline='javascript'>

window.onload = () => {
	const plannerList = document.getElementsByClassName('plannerList');
	for(const planner of plannerList){
		planner.addEventListener('click', function(){
			const pNo = planner.children[0].children[0].children[0].innerText;
			/*<![CDATA[*/
			location.href="selectPlanner.ma?pNo="+ pNo + "&page=" + /*${pi.currentPage}*/1;
			/*]]>*/
		});
	}
}


document.addEventListener("DOMContentLoaded", function() {

    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        slidesPerGroup: 1,
        spaceBetween: 24,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
});

const cards = document.getElementsByClassName('local-card');
for (const card of cards) {
    card.addEventListener('click', function() {
        const localNo = this.children[0].value;
        $.ajax({
            url: 'localImgClick.ma',
            method: 'GET',
            data: { localNo: localNo },
            dataType: 'json',
            success: function(data) {
                const plannerListContainer = document.getElementsByClassName('plannerListContainer')[0];
                plannerListContainer.innerHTML = '';
                
                const list = data.list;
                list.forEach(planner => {
                    const table = document.createElement('table');
                    table.classList.add('plannerList', 'text-center', 'my-3');
                    
                    const row = document.createElement('tr');
                    
                    const memberNoCell = document.createElement('td');
                    memberNoCell.classList.add('d-none');
                    memberNoCell.innerText = planner.memberNo;
                    
                    const imageCell = document.createElement('td');
                    const img = document.createElement('img');
                    img.classList.add('rounded-circle', 'm-3');
                    img.width = 75;
                    img.height = 75;
                    img.alt = '프로필';
                    
                    if (planner.imageRename) {
                        img.src = `https://drive.google.com/thumbnail?id=${planner.imageRename}`;
                    } else {
                        img.src = 'image/noProfile.png';
                    }
                    imageCell.appendChild(img);
                    
                    const nicknameCell = document.createElement('td');
                    nicknameCell.width = 200;
                    nicknameCell.innerText = planner.Nickname;
                    
                    const localNameCell = document.createElement('td');
                    localNameCell.width = 150;
                    localNameCell.innerText = data.localName[planner.memberNo];
                    
                    const sIntroContentCell = document.createElement('td');
                    sIntroContentCell.classList.add('sIntro');
                    sIntroContentCell.classList.add('fs-5');
                    sIntroContentCell.width = 300;
                    sIntroContentCell.innerText = planner.sIntroContent;
                    
                    const likesCell = document.createElement('td');
                    likesCell.width = 200;
                    likesCell.innerText = data.likes[planner.memberNo];
                    
                    row.appendChild(memberNoCell);
                    row.appendChild(imageCell);
                    row.appendChild(nicknameCell);
                    row.appendChild(localNameCell);
                    row.appendChild(sIntroContentCell);
                    row.appendChild(likesCell);
                    
                    row.addEventListener('click', function() {
                        const pNo = planner.memberNo;
                        const currentPage = 1;
                        location.href = "selectPlanner.ma?pNo=" + pNo + "&page=" + currentPage;
                    });

                    table.appendChild(row);
                    plannerListContainer.appendChild(table);
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
}


</script>


</html>