<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, width=device-width">
<title>여기 일정 상세</title>
<link rel="stylesheet" href="css/plan/planDetail.css" type="text/css" />
</head>
<body >
	<div th:replace="~{ ../common/logoBar :: logoBar }"></div>
	<div th:replace="~{ ../common/mainCategoryBar :: mainCategoryBar }"></div>
	<div class="main-title">
		<p>일정 기록하기</p>
	</div>
	<form th:with="day=${dayDiff}">
		<div class="contain-div">
			<div class="inline-contain-div">
				<span class="textSpan" id="startDate">[[${p.startDate}]]</span> <span
					class="textSpan" id="hyphen">-</span> 
					<span class="textSpan" id="endDate">[[${p.endDate}]]</span> <span class="textSpan">동안</span>
			</div>
			<div class="inline-contain-div">
				<span class="textSpan" id="spot">[[${p.spot}]]</span><span class="textSpan">로 떠나는 여행 계획입니다</span>
			</div>
			<div id="editButton-div">
				<button type="button" id="editButton">수정</button>
			</div>
		</div>
		<div class="contain-div">
			<div class="navigation-pill-list">
				<div class="navigation-pill" th:if="${p.together != null}">
					<div class="hashtag" th:text='|# ${ p.together }|'></div>
				</div>
				<div class="navigation-pill" th:if="${p.hashtag != null}" th:each="tag : ${ #strings.arraySplit(p.hashtag, ',')}" >
					<div class="hashtag" th:text="|# ${tag}|"></div>
				</div>
				<div class="navigation-pill" th:if="${p.together == null && p.hashtag == null}">
					<div class="hashtag">저도 데려가세요</div>
				</div>
			</div>
		</div>
		<div class="contain-div" id="planAll">
			<div class="dayPlan" th:each="d : ${#numbers.sequence(1, day)}">
				<div class="dayText">1일차</div>
				<div class="date">2024-10-01</div>
				<div class="planDiv">
					<table class="plan-table">
						<tr class="dayTr">
							<td><img src="image/line_blueIcon.png" style="height: 128px; margin-bottom: -8px;"></td>
							<td style="text-align: left; margin-left: 18px; margin: 3px;">
								<input type="text" class="plan-text placeInput" placeholder="장소 입력창"><br/>
								<input type="text" class="plan-text timeInput" placeholder="시간 입력창"><br/>
								<input type="text" class="plan-text memoInput" placeholder="메모 입력창">
							</td>
							<td><img class="planInputIcon check-icon" style="width: 16px; height: 17px;" src="image/Check.png"/></td>
							<td><img class="planInputIcon trash-icon" style="width: 18px; height: 17px;" src="image/Trash.png"/></td>
						</tr>
					</table>
					<button class="placeAddButton" type="button">장소 추가</button>
				</div>
			</div>
		</div>
		<div class="contain-div buttonsDiv">
			<button id="saveButton" class="planDetailButton">일정 저장</button>
			<button id="deleteButton" class="planDetailButton">일정 삭제</button>
		</div>
	</form>
	
	
	<div th:replace="~{ ../common/footer :: footer }"></div>
	<script>
		window.onload = () => {
			document.querySelectorAll('.placeAddButton').forEach(function(addButton) {
				addButton.addEventListener('click', function(e){
					let parentDiv = e.target.parentElement;
					
					while (parentDiv && !parentDiv.classList.contains('planDiv')) {
						parentDiv = parentDiv.parentElement;
					}
					if(parentDiv) {
			    		const tbody = parentDiv.querySelector('table.plan-table tbody');
						
				        const newTr = document.createElement('tr');
				        newTr.classList.add('dayTr');
						newTr.innerHTML = '<td><img src="image/line_blueIcon.png" style="height: 128px; margin-bottom: -8px;"></td><td style="text-align: left; margin: 3px; margin-left: 18px;"><input type="text" class="plan-text placeInput" placeholder="장소 입력창"><br/><input type="text" class="plan-text timeInput" placeholder="시간 입력창"><br/><input type="text" class="plan-text memoInput" placeholder="메모 입력창"></td><td><img class="planInputIcon check-icon" style="width: 16px; height: 17px;" src="image/Check.png"/></td><td><img class="planInputIcon trash-icon" style="width: 18px; height: 17px;" src="image/Trash.png"/></td>';
			
						tbody.appendChild(newTr);
					}
				});
			});
			
			
			document.querySelectorAll('.plan-table tbody').forEach(function(tbody){
				tbody.addEventListener('click', function(e){
					if(e.target.classList.contains('check-icon')){
						let clickTr = event.target.closest('tr');
						let planTd = clickTr.children[1];
						let placeInput = planTd.children[0];
						let timeInput = planTd.children[2];
						
						if(placeInput.value != '' && timeInput.value != ''){
							let inputs = clickTr.querySelectorAll('input.plan-text');
			
							inputs.forEach(function(input) {
								let value = input.value;
								let label = document.createElement('label');
								label.innerText = value;
								label.classList.add('plan-label');
			
								input.parentNode.replaceChild(label, input);
							});
							
							let icons = clickTr.querySelectorAll('img.planInputIcon');

							icons.forEach(function(icon){
								icon.remove();
							})
						} else if(placeInput.value == '' || timeInput.value == '') {
							alert('계획을 입력해 주세요.');
						}
					} else if(e.target.classList.contains('trash-icon')){
						console.log('휴지통');
						let clickTr = event.target.closest('tr');
						clickTr.remove();
					}
				});
			});
		}
	</script>
</body>
</html>