<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>설레는 여행 일정 짜기</title>
<meta name="viewport" content="width=device-width, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/plan/planMain.css" type="text/css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="css/plan/datepicker.css" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<link rel="icon" href="image/icon_case.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="image/icon_case.ico" type="image/x-icon"/>
</head>
<body>
	<div th:replace="~{ ../common/logoBar :: logoBar }"></div>
	<div th:replace="~{ ../common/mainCategoryBar :: mainCategoryBar }"></div>
	<div class="main-title">
		<p>일정 기록하기</p>
	</div>
	<div class="main-div">
		<form id="planMainForm" action="planCreate.pl" method="post">
			<div id="calender-spot-checkbox-div">
				<div class="contain-div" id="p-calender-div">
					<p class="middle-title">여행 기간</p>
					<div class="contain-in-div" id="calender-div">
						<div class="datepicker" id="sdate">
							<span>여행 출발 날짜</span> <input type="hidden" style="display:none" name="startDate" id="startDate" value="" class="datepicker">
						</div>
						<div class="datepicker" id="edate">
							<span>여행 마지막 날짜</span> <input type="hidden" style="display:none" name="endDate" id="endDate" value="" class="datepicker">
							<input type="hidden" name="dayDiff" id="dayDiff" value="" />
						</div>
					</div>
				</div>
				<div class="contain-div">
					<p class="middle-title">여행 지역</p>
					<div class="contain-in-div" id="selectDiv">
						<select id="selectSpot" class="form-select" name='localNo'>
							<option class="select_opt" value="" selected>여행지 선택</option>
							<option class="select_opt" value="1">서울</option>
							<option class="select_opt" value="6">부산</option>
							<option class="select_opt" value="4">대구</option>
							<option class="select_opt" value="2">인천</option>
							<option class="select_opt" value="5">광주</option>
							<option class="select_opt" value="3">대전</option>
							<option class="select_opt" value="7">울산</option>
							<option class="select_opt" value="8">세종</option>
							<option class="select_opt" value="31">경기</option>
							<option class="select_opt" value="32">강원</option>
							<option class="select_opt" value="33">충북</option>
							<option class="select_opt" value="34">충남</option>
							<option class="select_opt" value="35">경북</option>
							<option class="select_opt" value="36">경남</option>
							<option class="select_opt" value="37">전북</option>
							<option class="select_opt" value="38">전남</option>
							<option class="select_opt" value="39">제주</option>
						</select>
						<input type="hidden" name="spot" id="selectInput" value=""/>
					</div>
				</div>
				<div class="contain-div" id="select-contain-div">
					<p class="middle-title">해시태그(선택)</p>
					<div id="inforDiv"></div>
					<div id="hashtag-all-div">
						<div id="checkbox-left-all">
							<div class="checkbox-div">
								<div class="checkbox-wrapper-4 checkbox-parent-div" th:each="p : ${list}" th:if="${p.tagType == 'PERSON'}">
									<input class="inp-cbx checkbox check_input" th:id="${p.tagNo}" type="checkbox" th:value="${p.tagName}" name="together">
									<label class="cbx" th:for="${p.tagNo}"> 
										<span> <svg style="width:12px; height:10px;"></svg></span>
										<span># [[${p.tagName}]]</span>
									</label>
								</div>
							</div>
						</div>
						<div id="checkbox-right-all">
							<div class="checkbox-div right-check">
								<div class="checkbox-wrapper-4 checkbox-parent-div" th:each="p : ${list}" th:if="${p.tagType == 'GENERAL'}">
									<input class="inp-cbx checkbox check_input" th:id="${p.tagNo}" type="checkbox" th:value="${p.tagName}" name="hashtag">
									<label class="cbx" th:for="${p.tagNo}"> 
										<span> <svg style="width:12px; height:10px;"></svg></span>
										<span># [[${p.tagName}]]</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button id="createButton" type="button">일정 생성</button>
			</div>
		</form>
	</div>

	<div th:replace="~{ ../common/footer :: footer }"></div>

	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script th:inline="javascript">
		window.onload = ()=> {
			
			// 누구랑 갈지 해시태그는 한 개만 선택 가능
			const togetherCheck = document.querySelectorAll('[name="together"]');
			togetherCheck.forEach(function leftHashtag(checkbox) {
				checkbox.addEventListener('click', function() {
					togetherCheck.forEach(function(cb) {
		            	if (cb !== checkbox) { 
		                	cb.checked = false;
						}
					});
				});
			});
	        
			// 컨셉 해시태그는 최대 4개만 선택 가능
			const checkboxes = document.querySelectorAll('[name="hashtag"]');
			const inforDiv = document.getElementById('inforDiv');
			checkboxes.forEach(function(checkbox) {
				if(checkbox.type === 'checkbox'){
					checkbox.addEventListener('click', function() {
						let checkedCount = 0;
						checkboxes.forEach(function(cb) {
							if (cb.checked) {
								checkedCount++;
							}
						});
						if(checkedCount > 4) {
							checkbox.checked = false;
							inforDiv.innerText = '해시태그는 4개까지만 선택이 가능합니다.';
						} else {
							inforDiv.innerText = '';
						}
					});
				}
				
			});
			
			function calculateDateRange() {
				let startDate = new Date(document.getElementById('startDate').value);
				let endDate = new Date(document.getElementById('endDate').value);

				let timeDiff = endDate.getTime() - startDate.getTime();

				let dayDiff = timeDiff / (1000 * 3600 * 24);
				
				document.getElementById('dayDiff').value = dayDiff + 1;
			}
			
			function hashTagCheck(){
				const inforDiv = document.getElementById('inforDiv');
				inforDiv.innerHTML = '<input type="hidden" name="togetherTagNo" id="togetherTagNo"/><input type="hidden" name="hashtagTagNos" id="hashtagTagNos"/>'
				
				let togetherTagNo = [];
				let hashtagTagNos = [];
				
				document.querySelectorAll('[name="together"]:checked').forEach(checkbox => {
					togetherTagNo.push(checkbox.id);
				});
				document.querySelectorAll('[name="hashtag"]:checked').forEach(checkbox => {
					hashtagTagNos.push(checkbox.id);
				});
				
				document.getElementById('togetherTagNo').value = togetherTagNo;
				document.getElementById('hashtagTagNos').value = hashtagTagNos.join(",");
				
			}
			
			const selectSpot = document.getElementById('selectSpot');
			const startDate = document.getElementById('startDate');
			const endDate = document.getElementById('endDate');
			const dayDiff = document.getElementById('dayDiff');
			
			document.getElementById('createButton').addEventListener('click', calculateDateRange);
			document.getElementById('createButton').addEventListener('click', hashTagCheck);
			document.getElementById('createButton').addEventListener('click', function() {
				
				if(startDate.value == ''){
					alert('여행 출발 날짜를 선택해 주세요');
				} else if(endDate.value == ""){
					alert('여행 마지막 날짜를 선택해 주세요');
				} else if(selectSpot.value == ""){
					alert('여행지를 선택해 주세요');
				} else if(dayDiff.value > 0){
					document.getElementById('selectInput').value = selectSpot.options[selectSpot.selectedIndex].text;
					alert('일정을 생성합니다');
					document.getElementById('planMainForm').submit();
				}
				
			});
			
			
			$(document).ready(function(){ 
				$( ".datepicker" ).datepicker({
					inline: true,
					dateFormat: 'yy/mm/dd',
					prevText: '이전 달',
					nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					showMonthAfterYear: true,
					yearSuffix: '년'
				});
				
				$('#sdate').datepicker("option", "minDate", 0);
				$('#edate').datepicker("option", "minDate", 0);
				
				$('#sdate').datepicker("option", "onSelect", function (selectedDate){
					$('#startDate').val(selectedDate);
					
					$("#edate").datepicker("option", "minDate", selectedDate);
					
					let maxDate = $.datepicker.parseDate('yy/mm/dd', selectedDate);
					maxDate.setDate(maxDate.getDate() + 21);
					$("#edate").datepicker("option", "maxDate", $.datepicker.formatDate('yy/mm/dd', maxDate));
			    });
				
				$('#edate').datepicker("option", "onSelect", function(selectedDate){
						$('#endDate').val(selectedDate);
				});
			});
		
		
		}
	</script>
</body>
</html>